<div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Execution / History</span></div>

<div class="row marginCss paddingCss whiteBackgroundCss mt-2">

<div class="row col-md-12 paddingRightCss paddingLeftCss">
        <div class="text-center successMessage" ><b></b></div>
        <div class="text-center errorMessage" ></div><br>
        <div class="col-md-10">
    <span class="heading">Schedule List</span>
</div>
    <div class="col-md-2 text-right paddingRightCss">
            <div class="form-group">
                <div class="input-group searchMarginLeft">
                    <input type="text" class="form-control" placeholder="Search" id="inputGroup" />
                    <span class="input-group-addon">
                        <img class="searchImgCss" src="assets/images/search.png">
                    </span>
                </div>
            </div>
        </div>
</div>

<table width="100%"  class="table table-striped table-bordered ">
    <colgroup>
        <col>
        <col>
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>
                <span>Job Id &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>
            <th>
                <span>Job Name &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>
            <th>
                <span>Schedule Time &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>

            <th>
                <span>Action &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        
        <tr data-toggle="modal" data-target="#testSuiteTemplateModal">
            <td>
              <div class="marginTop10">
                <img src="assets/images/rightArrow.png">
              gddljgldg
            </div>
            </td>
            <td> 
             <div class="marginTop10">
                sdfsfhslfsflj
             </div>
            </td>
            <td>
                <div class="inlineImages  marginTop10">
                    <span class="timeTxt">11.05Am</span>
                   <span class="dateTxt">21/12/2019</span>
                </div>
            </td>
            <td>
                <div class="marginTop10">
                    <a><img src="assets/images/play.png"></a>&nbsp;
                    <a><img src="assets/images/edit.png"></a>&nbsp;
                    <a><img src="assets/images/trash.png"></a>&nbsp;
                  </div>   
            </td>
        </tr>

        <tr>
            <td>
                <div class="marginTop10">
                    <img src="assets/images/rightArrow.png">
                  gddljgldg
                </div>
            </td>
            <td>
                <div class="marginTop10">
                    sdfsfhslfsflj
                 </div>
            </td>
            <td>
                <div class="inlineImages marginTop10">
                    <span class="timeTxt">11.05Am</span>
                   <span class="dateTxt">21/12/2019</span>
                </div>
            </td>
            <td >
              <div class="marginTop10">
                    <a><img src="assets/images/play.png"></a>&nbsp;
                    <a><img src="assets/images/edit.png"></a>&nbsp;
                    <a><img src="assets/images/trash.png"></a>&nbsp;
              </div>
              </td>
        </tr>

        <tr>
            <td>
                <div class="marginTop10">
                    <img src="assets/images/rightArrow.png">
                  gddljgldg
                </div>
            </td>
            <td>
                <div class="marginTop10">
                    sdfsfhslfsflj
                 </div>
            </td>
            <td>
                <div class="inlineImages marginTop10">
                    <span class="timeTxt">11.05Am</span>
                   <span class="dateTxt">21/12/2019</span>
                </div>
            </td>
            <td>
                <div class="marginTop10">
                        <a><img src="assets/images/play.png"></a>&nbsp;
                        <a><img src="assets/images/edit.png"></a>&nbsp;
                        <a><img src="assets/images/trash.png"></a>&nbsp;
                  </div>
            </td>
        </tr>
    </tbody>
</table>
</div>





<!-- view Data Set Modal -->
<div class="modal fade" id="testSuiteTemplateModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="headerModal commonBorderBottom marginLeftRightCss row mt-2 pt-2">
                    <div class="ml-3">
                        <h4 class="popupTitleTxt">View Data Set</h4>
                    </div>
                    <div class="ml-auto mr-3">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                  </div>
    
                <div class="marginLeftRight15 whiteBackgroundCss mt-2 pb-3">

                <table width="100%" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <span>Test Suite &nbsp;</span>
                         
                                </th>
                                <th>
                                    <span>Test Case &nbsp;</span>                        
                                </th>
            
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>test suite 1</td>
                                <td>test case 1</td>
                            </tr>
                            <tr>
                                <td>test suite 2</td>
                                <td>test case 2</td>
                            </tr>
                            <tr>
                                <td>test suite 3</td>
                                <td>test case 3</td>
                            </tr>

                            <tr>
                                    <td>test suite 3</td>
                                    <td>test case 3</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
