<div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Execution / Scheduled </span></div>

<div class="row marginCss paddingCss whiteBackgroundCss mt-2">

<div class="row col-md-12 paddingRightCss paddingLeftCss">
        <div class="text-center successMessage" ><b></b></div>
        <div class="text-center errorMessage" ></div><br>
        <div class="col-md-10">
    <span class="heading">Scheduled List</span>
</div>
    <div class="col-md-2 text-right paddingRightCss">
        <wtaf-searchbox  (onSearchTxt)="onScheduleTxtSearch($event)" [toolTip]=toolTip></wtaf-searchbox>
        </div>
</div>
<div style="width: 100% !important; height:500px !important; overflow:auto;">
<table  width="100%" class="table  table-sticky table-striped table-bordered">
    <colgroup>
        <col>
        <col>
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>
                <span>Brand &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>
            <th>
                <span>OS &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>
            <th>
                <span>Test Execution Name &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>

            <th>
                <span>Created Date &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>
            <th>
                <span>Created By &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>

            <th>
                <span>Modified Date &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>

            <th>
                <span>Next Execution &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>
            <th>
                <span>End Date &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>
            <th>
                <span>Execution Type &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>
            <th>
                <span>Status &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>

            <th>
                <span>Execution Schedule &nbsp;</span>
                <div class="inlineImages my-auto">
                    <img src="assets/images/up.png">
                    <img src="assets/images/down.png">
                </div>
            </th>
            <th>
              <span>Action &nbsp;</span>
          </th>
        </tr>
    </thead>
    <tbody *ngIf="( this.schedules_Details | filter : txtSearch) as result">
       <!-- data-toggle="modal" data-target="#testSuiteTemplateModal"--> 
       <ng-container *ngFor="let schedules of result; let index=index; let odd=odd; let even=even ;">

        <tr  [ngClass]="{ odd: odd, even: even }">
            <td>
              <div class="marginTop10">
                <span><i  class="caret" id="s{{schedules.exeHeaderId}}" (click)="getscheduleJobDetails(schedules)"></i></span>
              {{schedules.brand}}
            </div>
            </td>
            <td>
                <div class="marginTop10">
                    {{schedules.nodeOs}}
              </div>
              </td>
              <td>
                <div class="marginTop10">
                    {{schedules.jobName}}
              </div>
              </td>
              <td>
                <div class="marginTop10">
                    <span class="dateTxt">{{schedules.createdOn | date:'MM/dd/yyyy'}}</span>
              </div>
              </td>
            <td> 
             <div class="marginTop10">
                <span class="dateTxt">{{schedules.updatedBy}}</span>
             </div>
            </td>
            <td>
                <div class="inlineImages  marginTop10">
                    <span class="dateTxt">{{schedules.modifiedOn | date:'MM/dd/yyyy'}}</span>
                </div>
            </td>
            <td>
                <div class="inlineImages  marginTop10">
                    <span class="dateTxt">{{schedules.nextDates[0] | date:'MM/dd/yyyy'}}</span>
                    <!-- <span class="dateTxt">{{schedules.time | convertFrom24To12Format}}</span> -->
                </div>
            </td>
            <td>
                <div class="inlineImages  marginTop10">
                    <span class="dateTxt">{{schedules.endDate | date:'MM/dd/yyyy'}}</span>
                </div>
            </td>
            <td>
                <div class="inlineImages  marginTop10">
                    <span class="dateTxt">{{schedules.executionMode}}</span>
                </div>
            </td>
            <td>
                <div class="inlineImages  marginTop10">
                    <span class="dateTxt" *ngIf="schedules.active ==true">Active</span>
                    <span class="dateTxt" *ngIf="schedules.active ==false">Inactive</span>
                </div>
            </td>
            <td>
                <div class="inlineImages  marginTop10">
                    <span *ngIf="schedules.frequency==0">
                    <span class="timeTxt">{{schedules.time | convertFrom24To12Format}}</span><br/>
                    <span class="dateTxt">Does not repeat</span>
                    </span>
                    <span *ngIf="schedules.frequency==1">
                    <span class="timeTxt">{{schedules.time | convertFrom24To12Format}}</span><br/>
                    <span class="dateTxt">Daily</span>
                    </span>
                    <span *ngIf="schedules.frequency==2">
                    <span class="timeTxt">{{schedules.time | convertFrom24To12Format}}</span><br/>
                    <span class="dateTxt">Weekly</span>
                    
                    </span>
                    <span *ngIf="schedules.frequency==3 || schedules.frequency==4">
                    <span class="timeTxt">{{schedules.time | convertFrom24To12Format}}</span><br/>
                    <span class="dateTxt" >Custom <span *ngIf="schedules.frequency==4">Monthly</span><span *ngIf="schedules.frequency==3">Weekly</span></span>&nbsp;
                    </span>
                </div>
            </td>
            <td>
              <div class="marginTop10">
                <span *ngIf="schedules.frequency==3 || schedules.frequency==4">
                <a title="View schedule Details" (click)="opencustomscheduleModal(schedules)"><img
                  src="assets/images/eye.png"></a>&nbsp;
                </span>
                        <a *ngIf="this.Admin == role || this.Test_Mgr== role || this.userName == schedules.updatedBy" title="Update Schedule" (click)="updateSchedule(schedules)">
                          <img src="assets/images/edit.png"></a>&nbsp;
                          <a (click)="deleteSchedule(schedules.exeHeaderId)"  *ngIf="this.Admin == role || this.Test_Mgr== role || this.userName == schedules.updatedBy" title="Delete Schedule"><img src="assets/images/trash.png"></a>&nbsp;
            </div>
            </td>
        </tr>
        <tr class="out" id="{{schedules.exeHeaderId}}" >
            <td style="border-right: none;" width="20%" colspan="2"></td>
            <td colspan="9" style="border-left: none;border-right: none;width: 80%">
              
                <div class="noReocordTxt" style="border:none;text-align: center; width: 50%;margin:0px 10%;font-weight: 500;"
                    *ngIf="schedules.nextDates.length == 0 || schedules.frequency == 0" >There are no records</div>
                    <table class="childTable" *ngIf="schedules.nextDates.length != null && schedules.frequency!=0" style="width: 75%;">
                        <thead>
                            <th class="WrapInLine">Test Execution Name</th>
                            <th class="WrapInLine">Start Date</th>
                            <th class="WrapInLine">End Date</th>
                            <th class="WrapInLine">Next Execution</th>
                            <!-- <th class="WrapInLine">Execution Time</th> -->
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let schedulesfuture of schedules.nextDates; let index=index;">
                                <tr class="tblexec-row" *ngIf="index !=0" >
                                     <td style="padding-top: 0cm;padding-bottom: 0cm;">{{schedules.jobName}}</td>
                                     <td style="padding-top: 0cm;padding-bottom: 0cm;">{{schedules.startDate | date:'MM/dd/yyyy'}}</td>
                                     <td style="padding-top: 0cm;padding-bottom: 0cm;">{{schedules.endDate | date:'MM/dd/yyyy'}}</td>
                                     <td style="padding-top: 0cm;padding-bottom: 0cm;">{{schedulesfuture| date:'MM/dd/yyyy'}}</td>
                                </tr>
                            </ng-container>
                        
                    </tbody>
                </table>

                    </td>
        </tr>
    </ng-container>
    <tr id="notFoundDiv" *ngIf="result.length === 0" style="font-weight: bold">
      <td colspan=12 style="text-align: center;">No Records Found</td>
  </tr>
    </tbody>
</table>
</div>
<div class=" row col-md-12 no-gutters mt-4 pr-0">
  <div class="col-md-12">
      <wtaf-pagination [activePage]='activePage'  [totalRecords]="totalRecords" [recordsPerPage]="this.recordsPerPage"
          (onPageChange)="onChangeActivePage($event)"></wtaf-pagination>
  </div>
</div>
</div>

<!-- view Data Set Modal -->
<div class="modal fade" id="testSuiteTemplateModal" data-keyboard="false" data-backdrop="static" >
        <div class="modal-dialog modal-lg modal-dialog-centered" >
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="headerModal commonBorderBottom marginLeftRightCss row mt-2 pt-2">
                    <div class="ml-3">
                        <h4 class="popupTitleTxt">Schedules Details</h4>
                    </div>
                    <div class="ml-auto mr-3">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                  </div>
                  <div class="container">
         <div class="row  mt-2">
          <div class="col-sm-6">
            <span class="frequncyTxt">Pause</span>
          </div>
          <div class="col-sm-6  form-group">
            <div style="float: right;">
            <span class="incativeTxt">{{this.active==true? "No": "Yes"}}</span>
            <label class="switch switch-sm" style="margin-left: 10px;">
              <input type="checkbox" class="inputCss"  [(ngModel)]="active" id="switch-sm" class="switch">
              <span class="slider round" style="margin-top:4px;"></span>
            </label>
          </div>
          </div>
        </div>
      </div>
                  <div class="ml-3">
                    <span class="frequncyTxt">Timeline</span>
                  </div>
          
                  <div class="col-md-12 mt-2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="exmp-wrp">
                          <div class="input-group btn-wrp">
                            <input type="date" class="inputCss" class="btn-clck " [(ngModel)]="StartDate" (change)="onChange($event)"  id="StartDate" name="StartDate" placeholder="Start Date">
                          </div>
                          <span class="input-group-btn">
                            <button class="btn1  " type="text"><span><img class=""
                                  src="assets/images/calenderr.png"></span></button>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="exmp-wrp">
                          <div class="input-group btn-wrp">
                            <input type="time" class="inputCss" class="btn-clck " [(ngModel)]="scheduleTime"  id="scheduleTime" name="scheduleTime" placeholder="00:00">
                          </div>
                          <span class="input-group-btn">
                            <button class="btn1  " type="text"><span><img class=""
                                  src="assets/images/watch.png"></span></button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="ml-3 mt-2">
                    <span class="frequncyTxt">Recurrence</span>
                  </div>
          
                  <div class="col-md-12 mt-2">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <select [(ngModel)]="Frequancy" class="form-control" id="Frequancy" (change)="onFrequency_Change($event.target.value)">
                            <option *ngFor="let froption of frequancy_option" [value]="froption.id">{{froption.name}}</option>
                          </select>
                        </div>
                      </div> 
                    </div>
                  </div>
                  <div class="custom_picker_section container" [ngClass]="(hide_custom==true)?'show_custom':'hidecustom'">
                    <div class="row">
                      <div class="col-md-12">
                        <label class="frequncyTxt">Repeat every</label>
                      </div>
                      <div class="col-md-4 mt-2">
                        <div class="form-group">
                        <input type="number"  min="0" id='repeatCount' oninput="this.value = Math.abs(this.value)" value="1" [(ngModel)]="repeatCount" class="form-control"/>
                      </div>
                      </div>
                      <div class="col-md-8 mt-2">
                        <div class="form-group">
                        <select class="form-control" id='repeatFrequancy' [(ngModel)]="repeatFrequancy" (change)="onOccurance_Change($event.target.value)">
                          <option *ngFor="let ocroption of ocuurance_option" [value]="ocroption.id">{{ocroption.name}}</option>
                        </select>
                      </div>
                      </div>
                    <div class="col-md-12" [ngClass]="(hide_weekdays==true)?'showday':'hideday'">
                      <div class="mt-2">
                        <label class="frequncyTxt">Repeat on</label>
                      </div>
                    <div class="weekDays-selector mt-2">
                      <input type="checkbox" (click)='selectDays($event)' id="weekday-mon" value="monday"  class="weekday" />
                      <label for="weekday-mon">M</label>
                      <input type="checkbox" (click)='selectDays($event)' id="weekday-tue" value="tuesday" class="weekday" />
                      <label for="weekday-tue">T</label>
                      <input type="checkbox" (click)='selectDays($event)' id="weekday-wed" value="wednesday"  class="weekday" />
                      <label for="weekday-wed">W</label>
                      <input type="checkbox" (click)='selectDays($event)' id="weekday-thu" value="thursday"  class="weekday" />
                      <label for="weekday-thu">T</label>
                      <input type="checkbox" (click)='selectDays($event)'  id="weekday-fri" value="friday"  class="weekday" />
                      <label for="weekday-fri">F</label>
                      <input type="checkbox" (click)='selectDays($event)' id="weekday-sat"  value="saturday" class="weekday" />
                      <label for="weekday-sat">S</label>
                      <input type="checkbox" (click)='selectDays($event)' id="weekday-sun"  value="sunday"  class="weekday" />
                      <label for="weekday-sun">S</label>
                    </div>
                  </div>
                </div>
          
                <div class="row mt-3">
                  <div class="col-md-12">
                    <label class="frequncyTxt">Ends on</label>
                  </div>
                  <div class="col-md-12 mt-2">
                    <div class="exmp-wrp">
                      <div class="input-group btn-wrp">
                        <input type="date" class="inputCss" class="btn-clck " [(ngModel)]="endDate" id="EndDate" name="EndDate" placeholder="End Date">
                      </div>
                      <span class="input-group-btn">
                        <button class="btn1  " type="text"><span><img class=""
                              src="assets/images/calenderr.png"></span></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
                  <div class="mt-3 pb-2 ml-auto mr-3">
                   <div *ngIf="!modalFlag">
                    <button type="button" (click)="hideModel()" class="btn closebtn" >Cancel</button>
                    <button type="button" (click)="updateScheduleDetails()" class="btn btn-primary saveBtnPopupCss">Update</button>
                </div>
            </div>
            </div>
        </div>
    </div>
