.caret {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    
  }
  
  .caret::before {
    content: url(../../../../assets/images/expand.png);
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .childTable td{
      background-color: none !important;
  }

  .out {
    display: none;
  }
  
  .in {
    display: table-row;
  }

  .nav-link.active
  {
     color:#012F60 ;
     border-bottom: #1F83FE  4px solid ; 
     border-bottom-left-radius: -10px;
     border-bottom-right-radius: -10px;
     border-color : white white   #1F83FE ;
  }
  
  .passedCss{
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

  
  .failedCss{
    height: 12px;
    width: 12px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

  .table td
  {
      padding: 5px !important;
  }

  .tblexec-row{
    background-color: white !important;
  border-bottom: 1px solid rgb(212, 221, 230) !important;
  }
  
  .tblexec-td{
    border: none !important;
   
  }

  .modal-xl {
    max-width: 60% !important;
}
  
.statusCss{
  margin-left: 5px;
  float:right  !important;
}

.statusIconCss{
  margin-top: 5px !important;
  float: right !important;
}

.statusCss1{
  margin-left: 5px;
}
.hide{
  visibility: hidden;
}