<div class="container" id='parentDivId'>
  <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
				<h2>{{statusCode}} - {{errMessage}}</h2>
      </div>
    <!-- <span> <h4><span class="cursorCss" [routerLink]="['/dashboard']">Please try again</span></h4></span> -->
      <!-- <a href="#">Go TO Homepage</a> -->
      <button  type="button" class="btn clearBtnCss ml-1" (click)="backToPreviousPage()">Back To Home</button>

		</div>
	</div>
    <!-- <div class="row">
      <div class="col-md-12 text-center" style="text-align: center;margin-top: 180px">
        
         <span><h1>{{errMessage}}</h1></span><br>
          <span><h1>{{statusCode}}</h1></span> <br>
           <span> <h1>Oops, something went wrong</h1></span>
          
         <span> <h4><span class="cursorCss" [routerLink]="['/dashboard']">Please try again</span></h4></span>
      </div>
      </div> -->
    </div>