.timeTxt
{
    font-style: normal;
font-weight: 500;
font-size: 12px;
}
.dateTxt
{
    font-style: normal;
font-weight: 500;
font-size: 14px;
color: #192B49;
}
.statusTerminateBtnReportCss
{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.reportUp
{
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #27AE60;
}

.reportDown
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #EB5757;  
}

.failedBtn
{
    border: 1px solid #DB3B21;
    color:#DB3B21;
    font-size: 12px;
}

.passedBtn
{
    border: 1px solid #1AAA55;
    color:#1AAA55;
    font-size: 12px;   
}

/* //---Added by Akash */
.incompleteBtn {
    border: 1px solid #F2994A;
    color: #F2994A;
    font-size: 12px;
  }
.runningBtn
{
    border: 1px solid #1F78D1;
    color:#1F78D1;
    font-size: 12px; 
}

.statusVericalCss
{
    vertical-align: bottom;
}

.filterTxt
{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}
.marginTop10Align {
    margin-top: 10px;
    /* text-align: center; */
  }
  .txt-color
  {
    color: #012F60;
    
  }
  .fontStyleBold
  {
   font-weight: bold;
  }
  .searchMarginLeft
  {
    margin-left: 100px; 
    margin-right: 0px;
  }

  .out {
    display: none;
  }
  
  .in {
    display: table-row;
  }
  
  .caret {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: url(../../../../assets/images/expand.png);
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .childTable {
    /* margin-left: 50%; */
    margin-bottom: 20px;
    /* width: 60%; */
    height: 80px;
    left: 100px;
    top: 421px;
  
    border: 1px solid rgb(197, 197, 197);
  }
  .childTable td {
    width: 500px;
  }
  
  .even {
    background-color: #ffffff !important;
  }
  .odd {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }

  