<div class="row marginCss mt-2"> <span class="breadcrumCss">Home /Report</span></div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-12 my-auto">
        <span class="heading">Report</span>
    </div>
    <div class="col-md-10 offset-md-1">
        <div class="row col-md-12 fontStyleBold">
            <div class="col-md-4">
                Test Execution Report
                <div class="chart-container ">
                    <canvas id="DoughnutExecution"></canvas>
                </div>
            </div>
            <div class="col-md-4">
                Test Suite Report
                <div class="chart-container ">
                    <canvas id="DoughnutSuite"></canvas>
                </div>
            </div>
            <div class="col-md-4">
                Test Case Report
                <div class="chart-container ">
                    <canvas id="DoughnutCase"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-12 paddingLeftCss">
        <span class="heading"> Execution History</span>
    </div>

    <div class="col-md-8"></div>
    <div class="col-md-2 text-right">
        <div class="form-group">
            <div class="input-group selectdiv">
                <span class="filterTxt  mt-2">Filter By</span>
                <div class="form-group ml-2">
                    <select class="form-control txtControlCss selectClass"
                        style="font-size: 12px; width:120px !important;  height:37px !important;" id="sel1">
                        <option disabled>Status</option>
                        <option>Running</option>
                        <option>Failed</option>
                        <option>Passed</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-right p-0">
        <div class="col-md-12 form-group p-0">
            <div class="input-group">
                <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" name="jobName"
                    placeholder="Search Execution name">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="searchicon">
                        <i class="fa fa-search" id="searchicon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100% !important; height:500px !important; overflow:auto;">
        <table width="100%" class="table  table-sticky table-striped table-bordered">
            <colgroup>
                <col>
                <col>
                <col>
            </colgroup>
            <thead class="marginTop10Align txt-color ">
                <tr>
                    <th class="WrapInLine">
                        <span>Test Execution Id &nbsp;</span>
                    </th>
                    <th class="WrapInLine">
                        <span>Test Execution Name &nbsp;</span>
                    </th>
                    <th class="WrapInLine">
                        <span>Start DateTime &nbsp;</span>
                    </th>
                    <th class="WrapInLine">
                        <span>End DateTime &nbsp;</span>
                    </th>
                    <th class="WrapInLine">
                        <span>Job Status &nbsp;</span>
                    </th>
                </tr>
            </thead>
            <tbody class="marginTop10Align" *ngIf="( this.History_Details | filter : txtSearch) as result">
                <ng-container *ngFor="let reportdata of result; let index=index;let odd=odd; let even=even ;">
                    <tr data-toggle="modal" data-target="#historyTestSuiteTemplateModal"
                        [ngClass]="{ odd: odd, even: even }">
                        <td style="padding-top: 0cm;padding-bottom: 0cm;">
                            <div class="marginTop10">
                                <span><i id="r{{reportdata.exeHistoryId}}" class="caret"
                                        (click)="getJobDetails(reportdata.exeHeaderId,reportdata.exeHistoryId,false)"></i></span>
                                {{reportdata.exeHeaderId}}
                            </div>
                        </td>
                        <td>
                            <div class="marginTop10Align">
                                {{reportdata.jobName}}
                            </div>
                        </td>
                        <td>
                            <div class="inlineImages  marginTop10Align">
                                <span class="timeTxt">{{reportdata.startTime1}}</span>
                                <span class="dateTxt">{{reportdata.startDate | date:'MM/dd/yyyy'}}</span>
                            </div>
                        </td>
                        <td>
                            <div class="inlineImages  marginTop10Align">
                                <span class="timeTxt">{{reportdata.endTime1}}</span>
                                <span class="dateTxt">{{reportdata.endDate | date:'MM/dd/yyyy'}}</span>
                            </div>
                        </td>
                        <td class="WrapInLine">
                            <button type="button" class="btn btn-outline incompleteBtn statusTerminateBtnReportCss marginTop10Align"
                                *ngIf="reportdata.jobStatus==4"><img src=" "> <span
                                    class="statusVericalCss">Terminated</span></button>
                            <button type="button" class="btn btn-outline failedBtn statusBtnCss marginTop10Align"
                                *ngIf="reportdata.jobStatus==3"><img src="assets/images/failedImg.png"> <span
                                    class="statusVericalCss"> Incomplete</span></button>
                            <button type="button" class="btn btn-outline passedBtn statusBtnCss marginTop10Align "
                                *ngIf="reportdata.jobStatus==2"><img src="assets/images/passed.png"> <span
                                    class="statusVericalCss"> Completed</span></button>
                            <button type="button" class="btn btn-outline runningBtn statusBtnCss marginTop10Align"
                                *ngIf="reportdata.jobStatus==1"><img src="assets/images/running.png"> <span
                                    class="statusVericalCss"> Running</span></button>
                        </td>
                    </tr>
                    <tr id="{{reportdata.exeHistoryId}}" class="out" colspan="2">
                        <td style="border-right: none;" width="70px"></td>
                        <td colspan="2" style="border-left: none;border-right: none;width: 80%">
                            <div class="noReocordTxt" style="border:none;text-align: center;"
                                *ngIf="this.resLength.length ==0">There are no records</div>

                            <table class="childTable " *ngIf="this.resLength.length !=0">
                                <thead>
                                    <th>Execution History Id</th>
                                    <th>Test Execution Name</th>
                                    <th>Start DateTime</th>
                                    <th>End DateTime</th>
                                    <th>Job Status</th>

                                </thead>
                                <tbody>
                                    <ng-container>
                                        <tr class="tblexec-row"
                                            *ngFor="let listdata of this.historyDetailsRes[reportdata.exeHistoryId],let i=index">
                                            <td>{{listdata.exeHistoryId}}</td>
                                            <td>{{listdata.jobName}}</td>
                                            <td style="padding-top: 0cm;padding-bottom: 0cm;">
                                                <div class="inlineImages  marginTop10Align">
                                                    <span class="timeTxt">{{listdata.startTime1}}</span>
                                                    <span
                                                        class="dateTxt">{{listdata.startDate | date:'MM/dd/yyyy'}}</span>
                                                </div>
                                            </td>
                                            <td style="padding-top: 0cm;padding-bottom: 0cm;">
                                                <div class="inlineImages  marginTop10Align">
                                                    <span class="timeTxt">{{listdata.endTime1}}</span>
                                                    <span
                                                        class="dateTxt">{{listdata.endDate | date:'MM/dd/yyyy'}}</span>
                                                </div>
                                            </td>
                                            <td style="padding-top: 0cm;padding-bottom: 0cm;">
                                                <button type="button"
                                                    class="btn btn-outline incompleteBtn statusTerminateBtnReportCss marginTop10"
                                                    *ngIf="listdata.jobStatus==4">
                                                    <img src=""> <span class="statusVericalCss">
                                                        Terminated</span></button>
                                                <button type="button"
                                                    class="btn btn-outline failedBtn statusBtnCss marginTop10"
                                                    *ngIf="listdata.jobStatus==3">
                                                    <img src="assets/images/failedImg.png"> <span
                                                        class="statusVericalCss">
                                                        Incomplete</span></button>
                                                <button type="button"
                                                    class="btn btn-outline passedBtn statusBtnCss marginTop10 "
                                                    *ngIf="listdata.jobStatus==2">
                                                    <img src="assets/images/passed.png"> <span class="statusVericalCss">
                                                        Completed</span></button>
                                                <button type="button"
                                                    class="btn btn-outline runningBtn statusBtnCss marginTop10"
                                                    *ngIf="listdata.jobStatus==1">
                                                    <img src="assets/images/running.png">
                                                    <span class="statusVericalCss"> Running</span></button>
                                            </td>
                                        </tr>

                                    </ng-container>
                                </tbody>

                            </table>
                            <div *ngIf="this.isSeemore==false && this.resLength.length >= 3" class="d-flex ml-auto"
                                (click)="getJobDetails(reportdata.exeHeaderId,reportdata.exeHistoryId,true)">
                                <span class="seemoreTxt ml-auto">See More...</span>
                            </div>

                            <div *ngIf="this.isSeemore==true" class="d-flex ml-auto"
                                (click)="getjobDetailsForseeLess(reportdata.exeHeaderId,reportdata.exeHistoryId,false)">
                                <span class="seemoreTxt ml-auto">See Less...</span>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <tr id="notFoundDiv" *ngIf="result.length === 0" style=" font-weight: bold">
                    <td colspan=10 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>
