<form [formGroup]="regionForm" (ngSubmit)="saveRegion()">
    <div class="row marginCss mt-2"><span class="breadcrumCss">Home / Configuration / Region</span></div>
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12">
            <h3 class="heading">Region</h3>
            <div class="successMessage" *ngIf="this.successMessage">{{this.successMessage}}<b></b></div>
            <div class="errorMessage" *ngIf="this.errorMessage"><b></b></div><br>
        </div>
        <div class="col-md-3 form-group">
            <label for="regionCode" class="txtControlLblCss">Code<span>*</span></label>
            <input class="form-control txtControlCss" name="regionCode" id="regionCode" type="text"
                formControlName="regionCode" [ngClass]="{ 'is-invalid': submitted && f.regionCode.errors }">
            <div *ngIf="this.submitted && f.regionCode.errors" class="text-danger">
                <label *ngIf="f.regionCode.errors.required">Please enter the region code</label>
            </div>
        </div>
        <div class="col-md-3 form-group">
            <label for="regionName" class="txtControlLblCss">Name<span>*</span></label>
            <input class="form-control txtControlCss" name="regionName" id="regionName" type="text"
                formControlName="regionName" [ngClass]="{ 'is-invalid': submitted && f.regionName.errors }">
            <div *ngIf="this.submitted && f.regionName.errors" class="text-danger">
                <label *ngIf="f.regionName.errors.required">Please enter the region name</label>
            </div>
            <div class="col-md-12">
                <label for="regionDesc" class="txtControlLblCss">Description</label>
                <textarea id="regionDesc" name="regionDesc" title="Max 255 characters" maxlength="255"
                    class="form-control textareaControls" rows="2" formControlName="regionDesc">
            </textarea>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center col-md-12 mt-5">
            <button type="submit" class="btn saveBtnCss">Save</button>&nbsp;
            <button type="button" class="btn clearBtnCss" (click)="clearData()">Reset</button>
        </div>
    </div>
</form>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <table width="100%" id="dataTables-Region" *ngIf="this.regionList!=null"
        class="table table-striped table-bordered ">
        <tr class="">
            <th>
                <div class="d-flex">
                    <div>Region Code</div>
                    <div class="arrowClass pl-2">
                        <img class="arrowCss" src="assets/images/upArrow.png">
                        <div> <img class="arrowCss mt-minus-20" src="assets/images/downArrow.png">
                        </div>
                    </div>
                </div>

            </th>
            <th>
                <div class="d-flex">
                    <div>Region Name</div>
                    <div class="arrowClass pl-2">
                        <img class="arrowCss" src="assets/images/upArrow.png">
                        <div> <img class="arrowCss mt-minus-20" src="assets/images/downArrow.png">
                        </div>
                    </div>
                </div>
            </th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <tbody>
            <tr class="" *ngFor="let region  of this.regionList; let i = index;">
                <td class="leftBorderTdCss">{{region.regionCode}}</td>
                <td>{{region.regionName}}</td>
                <td><span>{{region.regionDesc}}</span></td>
                <td class="rightBorderTdCss">
                    <a (click)="getByRegionId(region.regionId)"><img src="assets/images/edit.png"></a>&nbsp;
                    <a (click)="deleteRegion(region.regionId)">
                        <img src="assets/images/trash.png"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>