

<div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Configuration / Element</span></div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-12 row d-flex justify-content-between">

        <div>
            <span class="heading" data-toggle="modal" data-target="#popProgress">Element</span>
        </div>
        <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}<b></b></div>
        <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
    </div>

    <div class="col-md-12 row d-flex justify-content-center">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" [checked]="1" (change)="radioCheck(1)" id="customRadio" name="example" value="customEx">
            <label class="custom-control-label radioBtnTxt" for="customRadio">Create</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" (change)="radioCheck(2)" id="customRadio2" name="example" value="customEx">
            <label class="custom-control-label radioBtnTxt" for="customRadio2">Import</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" (change)="radioCheck(3)" id="customRadio3" name="example" value="customEx">
            <label class="custom-control-label radioBtnTxt" for="customRadio3">Export</label>
        </div>
    </div>


    <div class="col-md-10 offset-md-1 mt-2 " *ngIf="this.isRadioChecked==1">
        <form [formGroup]="elementForm">
            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId" (change)="changeProjectType($event)" [ngClass]="{ 'is-invalid': submitted && f.projectTypeId.errors }" formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.projectTypeId.errors" class="text-danger">
                        <label *ngIf="f.projectTypeId.errors.required">Please select the project type</label>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="regionId" (change)="changeRegion($event)" [ngClass]="{ 'is-invalid': submitted && f.regionId.errors }" formControlName="regionId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.regionId.errors" class="text-danger">
                        <label *ngIf="f.regionId.errors.required">Please select the region</label>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" (change)="changeBrand($event)" id="brandId" [ngClass]="{ 'is-invalid': submitted && f.brandId.errors }" formControlName="brandId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.brandId.errors" class="text-danger">
                        <label *ngIf="f.brandId.errors.required">Please select the brand</label>
                    </div>
                </div>

            </div>
            <div class="row col-md-12">
                <div class="col-md-4 form-group ">
                    <label for="module" class="txtControlLblCss">Module<span>*</span></label>
                    <input class="form-control txtControlCss" name="module" id="module" type="text" formControlName="module" [ngClass]="{ 'is-invalid': submitted && f.module.errors }">
                    <div *ngIf="this.submitted && f.module.errors" class="text-danger">
                        <label *ngIf="f.module.hasError('whitespace') || f.module.errors.required">Please enter the module</label>
                   
                    </div>
                </div>
                <div class="col-md-4 form-group ">
                    <label for="screen" class="txtControlLblCss">Screen<span>*</span></label>
                    <input class="form-control txtControlCss" name="screen" id="screen" type="text" formControlName="screen" [ngClass]="{ 'is-invalid': submitted && f.screen.errors }">
                    <div *ngIf="this.submitted && f.screen.errors" class="text-danger">
                        <label *ngIf="f.screen.hasError('whitespace') || f.screen.errors.required">Please enter the screen</label>
                                          
                    </div>
                </div>
                <div class="col-md-4 form-group ">
                    <label for="elementName" class="txtControlLblCss">Element Name<span>*</span></label>
                    <input class="form-control txtControlCss" name="elementName" id="elementName" type="text" (change)="changeData($event)" formControlName="elementName" [ngClass]="{ 'is-invalid': submitted && f.elementName.errors }">
                    <div *ngIf="this.submitted && f.elementName.errors" class="text-danger">
                        <label *ngIf="f.elementName.hasError('whitespace') || f.elementName.errors.required">Please enter the element name</label>
                    
                    </div>
                </div>

            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="platformId" class="txtControlLblCss">Platform/Browser<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="platformId" formControlName="platformId"  [ngClass]="{ 'is-invalid': submitted && f.platformId.errors }" (change)="changePlatform($event)">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="platform.platformId" *ngFor="let platform of this.platformList">
                            {{platform.platformName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.platformId.errors" class="text-danger">
                        <label *ngIf="f.platformId.errors.required">Please select the platform/browser</label>
                    </div>
                </div>
                <div class="col-md-8 form-group ">
                    <label for="elementPath" class="txtControlLblCss">Path<span>*</span></label>
                    <input class="form-control txtControlCss" name="elementPath" id="elementPath" type="text" formControlName="elementPath" [ngClass]="{ 'is-invalid': submitted && f.elementPath.errors }">
                    <div *ngIf="this.submitted && f.elementPath.errors" class="text-danger">
                        <label *ngIf="f.elementPath.hasError('whitespace') || f.elementPath.errors.required">Please enter the element path</label>

                    
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12  mt-2 " *ngIf="this.isRadioChecked==2">
        <form [formGroup]="elementFormImport">
            <div class="row col-md-12 justify-content-center">

                <div class="form-group col-md-3">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId" (change)="changeProjectType($event)" [ngClass]="{ 'is-invalid': submitted && fImp.projectTypeId.errors }" formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && fImp.projectTypeId.errors" class="text-danger">
                        <label *ngIf="fImp.projectTypeId.errors.required">Please select the project type</label>
                    </div>
                </div>
              
                <div class="form-group col-md-3">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="regionId" (change)="changeRegion($event)" [ngClass]="{ 'is-invalid': submitted && fImp.regionId.errors }" formControlName="regionId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                    <div *ngIf="this.submitted && fImp.regionId.errors" class="text-danger">
                        <label *ngIf="fImp.regionId.errors.required">Please select the region</label>
                    </div>
                </div>

              
            </div>
            <div class="row col-md-12 justify-content-center">

                <div class="form-group col-md-3">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="brandId" 
                    [ngClass]="{ 'is-invalid': submitted && fImp.brandId.errors }" formControlName="brandId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                    <div *ngIf="this.submitted && fImp.brandId.errors" class="text-danger">
                        <label *ngIf="fImp.brandId.errors.required">Please select the brand</label>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="platformId" class="txtControlLblCss">Platform/Browser<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="platformId"   
                    [ngClass]="{ 'is-invalid': submitted && fImp.platformId.errors }" formControlName="platformId" (change)="changePlatform($event)">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="platform.platformId" *ngFor="let platform of this.platformList">
                            {{platform.platformName}}</option>
                    </select>
                    <div *ngIf="this.submitted && fImp.platformId.errors" class="text-danger">
                        <label *ngIf="fImp.platformId.errors.required">Please select the platform/browser</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <div class="col-md-12  mt-2 " *ngIf="this.isRadioChecked==3">
        <form [formGroup]="elementFormExport">
            <div class="row col-md-12 justify-content-center">
                <div class="form-group col-md-3">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId" (change)="changeProjectType($event)" [ngClass]="{ 'is-invalid': submitted && fExp.projectTypeId.errors }" formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && fExp.projectTypeId.errors" class="text-danger">
                        <label *ngIf="fExp.projectTypeId.errors.required">Please select the project type</label>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="regionId" (change)="changeRegion($event)" [ngClass]="{ 'is-invalid': submitted && fExp.regionId.errors }" formControlName="regionId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                    <div *ngIf="this.submitted && fExp.regionId.errors" class="text-danger">
                        <label *ngIf="fExp.regionId.errors.required">Please select the region</label>
                    </div>
                </div>
                 </div>
            <div class="row col-md-12 justify-content-center">
                <div class="form-group col-md-3">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="brandId" [ngClass]="{ 'is-invalid': submitted && fExp.brandId.errors }" formControlName="brandId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                    <div *ngIf="this.submitted && fExp.brandId.errors" class="text-danger">
                        <label *ngIf="fExp.brandId.errors.required">Please select the brand</label>
                    </div>
                </div>
               
                <div class="form-group col-md-3">
                    <label for="platformId" class="txtControlLblCss">Platform/Browser<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="platformId" [ngClass]="{ 'is-invalid': submitted && fExp.platformId.errors }" formControlName="platformId" (change)="changePlatform($event)">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="platform.platformId" *ngFor="let platform of this.platformList">
                            {{platform.platformName}}</option>
                    </select>
                    <div  *ngIf="this.submitted && fExp.platformId.errors" class="text-danger">
                        <label *ngIf="fExp.platformId.errors.required">Please select the platform/browser</label>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="clearfix"></div>
    <div class="d-flex justify-content-center col-md-12 row mt-4">
        <div class="text-center btn-file" *ngIf="this.isRadioChecked==2">
            <button type="button" class="btn btn-file saveBtnCss mr-1">Import</button>
            <input #importFile for="importFile" type="file" accept=".xlsx, .xls" (change)="onSuccess($event)" name="importFile">
        </div>
        <div class="text-center btn-file" *ngIf="this.isRadioChecked==3">
            <button type="button" class="btn btn-file saveBtnCss mr-1" (click)="exportElementFile()">Export</button>
        </div>
        <button type="submit" class="btn saveBtnCss" *ngIf="this.isRadioChecked!=3" (click)="saveElement()">Save</button>&nbsp;
        <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
    </div>
</div>

<div class="row marginCss paddingCss whiteBackgroundCss mt-2" *ngIf="this.isRadioChecked!=3">
    <div class="col-md-10"> </div>

    <div class="col-md-2 text-right">
        <div class="form-group">
            <div class="input-group searchMarginLeft">
                <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" placeholder="Search element">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="searchicon">
                        <i class="fa fa-search" id="searchicon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
       
    <div style="width: 100% !important; height:500px !important; overflow: auto;" *ngIf="this.isRadioChecked==1" >
        <table id="elementTable" *ngIf="this.elementList!=null" class="table table-hover table-sticky table-striped table-bordered">
            <thead style="position: static;">
                <tr>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('projectTypeName')">
                        <span>Project Type &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('brandName')">
                        <span>Brand &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('module')">
                        <span>Module &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('screen')">
                        <span>Screen &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('elementName')">
                        <span>Element Name &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('platformName')">
                        <span>Platform/Browser &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th class="WrapInLine">
                        <span>Path &nbsp;</span>
                    </th>
                    <th class="WrapInLine">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="( this.elementList | filter : txtSearch) as result">
                <!-- changes by mustaid 22/5/2020 for all table  search  326-328 -->
                <tr *ngFor="let element of result">
                    <td>{{element.projectTypeName}}</td>
                    <td>{{element.brandName}}</td>
                    <td>{{element.module}}</td>
                    <td>{{element.screen}}</td>
                    <td>{{element.elementName}}</td>
                    <td>{{element.platformName}}</td>
                    <td style="max-width:300px !important ; word-wrap: break-word;">{{element.elementPath}}</td>
                    <td class="WrapInLine">
                        <a title="Edit element" (click)="getElementById(element.elementId)">
                            <img src="assets/images/edit.png"></a>&nbsp;
                        <a title="Delete element" (click)="deleteElement(element.elementId)">
                            <img src="assets/images/trash.png"></a>
                    </td>
                </tr>
                <tr id="notFoundDiv" *ngIf="result.length === 0" style=" font-weight: bold">
                    <td colspan=8 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
    


   
   
        <div  id="importTable" style="width: 100% !important; height:500px !important; overflow: auto;">
            <div *ngIf="this.isRadioChecked==2">
            <table class="table table-hover table-sticky table-striped table-bordered" style=" background-color:#ffffff;" *ngIf="data.length != 0  && this.importFile!=null">
            <thead  style="position: sticky;">
                <tr>
                    <th>MobileApp</th>
                    <th>Version</th>
                    <th>Module</th>
                    <th>Screen</th>
                    <th>Element</th>
                    <th>Path</th>
                </tr>
            </thead>

            <tbody  *ngIf="( this.data | filter : txtSearch) as result">
                <!-- changes by mustaid 22/5/2020 for all table  search  367-369 -->
                <tr *ngFor="let d of result">
                    <td>{{d.MobileApp}}</td>
                    <td>{{d.Version}}</td>
                    <td>{{d.Module}}</td>
                    <td>{{d.Screen}}</td>
                    <td>{{d.Element}}</td>
                    <td style=" word-break: break-all;" >{{d.Android || d.IOS || d.Web}}</td>
                </tr>
                <tr id="notFoundDiv" *ngIf="result.length === 0" style=" font-weight: bold">
                    <td colspan=6 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
            </div>
    </div>
</div>


