<form [formGroup]="languageForm" (ngSubmit)="saveLanguage()">
    <div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Configuration / Language</span></div>

    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12 my-auto">
            <span class="heading">Language</span>
            <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}</div>
            <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div>
            <div class="text-center errorMessage" *ngIf="this.languageNameerrorMessage">{{this.languageNameerrorMessage}}
            </div>
        </div>
        <div class="col-md-10 offset-md-1">
            <div class="row col-md-12">
                <div class="col-md-4 form-group">
                    <label for="languageName" class="txtControlLblCss">Language Name<span>*</span></label>
                    <input class="form-control txtControlCss" name="languageName" autocomplete="off" id="languageName" type="text"  formControlName="languageName" [ngClass]="{ 'is-invalid': submitted && f.languageName.errors }">
                    <div *ngIf="this.submitted && f.languageName.errors" class="text-danger">
                        <label *ngIf="f.languageName.hasError('whitespace') || f.languageName.errors.required">Please enter the language name</label>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label for="languageCode" class="txtControlLblCss">Language Code<span>*</span></label>
                    <input class="form-control txtControlCss" required
                    pattern="[a-zA-Z][a-zA-Z ]+" autocomplete="off" name="languageCode" id="languageCode" type="text" maxlength="2"  formControlName="languageCode" [ngClass]="{ 'is-invalid': submitted && f.languageCode.errors }">
                    <div *ngIf="this.submitted && f.languageCode.errors" class="text-danger">
                        <label *ngIf="f.languageCode.hasError('pattern') || f.languageCode.hasError('whitespace') || f.languageCode.errors.required">Please enter the two letter language code</label>
                    </div>
                   
                </div>
            </div>
            <div class="row col-md-12">
               
                <div class="col-md-8 form-group">
                    <label for="languageDesc" class="txtControlLblCss">Description</label>
                    <textarea id="languageDesc" name="languageDesc" class="form-control textareaControls" title="Max 255 characters" maxlength="255" rows="2" formControlName="languageDesc">
                    </textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-md-12">
                <button type="submit" class="btn saveBtnCss">Save</button>&nbsp;
                <button type="button" class="btn clearBtnCss" (click)="clearData()">Reset</button>
            </div>
        </div>

    </div>
</form>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-right">

        <div class="input-group" id="searchmargin">
            <!-- (change)="filter('regionCode')"    (click)="filter('regionCode')"-->
            <input type="text" class="form-control" [(ngModel)]="txtSearch" placeholder="Search region" >
            <div class="input-group-append" >
                <button class="btn btn-secondary" type="button" id="searchicon">
                    <i class="fa fa-search" id="searchicon"></i>
                </button>
            </div>
        </div>
    </div>
    <div style="width: 100% !important; height:500px !important; overflow:auto;">
    <table id= "languageTable" width="100%" *ngIf="this.languageList!=null" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="WrapInLine" (click)="sortTable(2)">
                    <span>Language Code &nbsp;</span>
                    <div class="inlineImages">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
                <th class="WrapInLine" (click)="sortTable(3)">
                    <span>Language Name &nbsp;</span>
                    <div class="inlineImages">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
                <th class="WrapInLine">Description</th>
                <th class="WrapInLine">Action</th>
            </tr>

        </thead>
        <tbody *ngIf="( this.languageList | filter : txtSearch) as result">
            <!-- <tr *ngFor="let brand of this.brandList |  searchData: this.dataservice.customFilter ;let i=index;"> -->
            <tr *ngFor="let language of result">
                <td>{{language.languageCode}}</td>
                <td>{{language.languageName}}</td>
                <td>{{language.languageDesc}}</td>
                <td class="WrapInLine">
                    <a title="Edit language" (click)="getByLanguageId(language.languageId)">
                        <img src="assets/images/edit.png"></a>&nbsp;
                    <a title="Delete language" (click)="deleteLanguage(language.languageId)">
                        <img src="assets/images/trash.png"></a>
                </td>
            </tr>
            <tr id="notFoundDiv" *ngIf="result.length === 0" style="font-weight: bold">
                <td colspan=6 style="text-align: center;">No Records Found</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>