/* checkboxes */

input[type=checkbox] {  
  display: none;  
}

input[type=checkbox] + label {
  background:url("../../../../assets/images/unchecked.png") no-repeat;
  height: 28px;
  width: 28px;
  display:inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + label {
  background:url("../../../../assets/images/checked.png") no-repeat;;
  height: 28px;
  width: 28px;
  display:inline-block;
  vertical-align: middle;
}