<form [formGroup]="keywordForm" (ngSubmit)="saveKeyword()">
    <div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Configuration / Keyword</span></div>
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12 my-auto">
            <span class="heading">Keyword</span>
            <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}</div>
            <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
        </div>
        <div class="col-md-10 offset-md-1">
            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId"
                        formControlName="projectTypeId" (change)="onProjTypeChange($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.projectTypeId.errors }">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.projectTypeId.errors" class="text-danger">
                        <label *ngIf="f.projectTypeId.errors.required">Please select project type </label>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label for="keywordName" class="txtControlLblCss">Keyword Name<span>*</span></label>
                    <input class="form-control txtControlCss" name="keywordName" id="keywordName" type="text"
                        (change)="changeData($event)" formControlName="keywordName"
                        [ngClass]="{ 'is-invalid': submitted && f.keywordName.errors }">
                
                    <div *ngIf="this.submitted && f.keywordName.errors" class="text-danger">
                        <label *ngIf="f.keywordName.hasError('whitespace') || f.keywordName.errors.required">Please Enter Keyword Name</label>
                    </div>
                    <div class="mt-2">
                        <input class="" name="elementRequired" id="elementRequired" type="checkbox"
                            formControlName="elementRequired" />
                        <label for="elementRequired" class="txtControlLblCss"></label>&nbsp;<span class="mb-2">Element
                            Required</span>&nbsp;
                        <input class="" name="dataRequired" id="dataRequired" type="checkbox"
                            formControlName="dataRequired" />
                        <label for="dataRequired" class="txtControlLblCss"></label>&nbsp;Data Required
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="txtControlLblCss" for="keywordDesc" class="txtControlLblCss">Description</label>
                    <textarea id="keywordDesc" title="Max 255 characters" maxlength="255" formControlName="keywordDesc"
                        class="form-control textareaControls" rows="2" name="keywordDesc">
                    </textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-md-12">
                <button type="submit" class="btn saveBtnCss">Save</button>&nbsp;
                <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
            </div>

        </div>
    </div>

</form>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-right">
        <div class="form-group">
            <div class="input-group searchMarginLeft">
                <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch"
                    placeholder="Search keyword">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="searchicon">
                        <i class="fa fa-search" id="searchicon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100% !important; height:500px !important; overflow: auto;">
        <table id="keywordTable" width="100%" *ngIf="this.keywordList!=null"
            class="table table-hover table-sticky table-striped table-bordered">
            <thead>
                <tr>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('projectTypeName')">
                        <span>Project Type &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('keywordName')">
                        <span>Keyword Name &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th class="WrapInLine">Description</th>
                    <th class="WrapInLine">Element Required</th>
                    <th class="WrapInLine">Data Required</th>
                    <th class="WrapInLine">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="( this.keywordList | filter : txtSearch) as result">
                <!-- <tr *ngFor="let keyword of this.keywordList |  searchData: this.dataservice.customFilter ;let i=index;"> -->
                <tr *ngFor="let keyword of result">
                    <td>{{keyword.projectTypeName}}</td>
                    <td>{{keyword.keywordName}}</td>
                    <td>{{keyword.keywordDesc}}</td>
                    <td>{{keyword.elementRequired==true? "Yes" : "No"}}</td>
                    <td>{{keyword.dataRequired==true? "Yes" : "No"}}</td>
                    <td class="WrapInLine">
                        <a title="Edit keyword" (click)="getKeywordById(keyword.keywordId)">
                            <img src="assets/images/edit.png"></a>&nbsp;
                        <a title="Delete Keyword" (click)="deleteKeyword(keyword.keywordId)">
                            <img src="assets/images/trash.png"></a>
                    </td>
                </tr>
                <tr id="notFoundDiv" *ngIf="result.length === 0" style="font-weight: bold">
                    <td colspan=6 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>