<wtaf-loader></wtaf-loader>
      <div [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.data && o.activatedRoute.routeConfig.data.title">
        <router-outlet #o="outlet"></router-outlet>
      </div>
      
      <!-- ------------ this is a changes-------------- -->