.profileImg
 {
    vertical-align: middle;
    height: 100px;    
    width: 100px;
    border-radius: 50%
 }

 .uploadImgTxt
{
  color:rgba(66, 139, 203, 1);
  font-weight: 600;
}


.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}

.btn-file
{
  color: #25BBFC;
}

