<form [formGroup]="userForm" (ngSubmit)="saveUser()">
   <div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Configuration / User</span></div>
   <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
      <div class="col-md-12">
         <span class="heading">User</span>
         <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}</div>
         <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
      </div>
      <div class="col-md-10 offset-md-1">
         <div class="row col-md-12">
            <div class="form-group col-md-6">
               <label for="userId" class="txtControlLblCss">User Id<span>*</span></label>
               <input class="form-control txtControlCss"  name="userId" id="userId" type="text" formControlName="userId"
                  [ngClass]="{ 'is-invalid': submitted && f.userId.errors }"  
                 (change)="changeData($event)">
               <div *ngIf="this.submitted && f.userId.errors" class="text-danger">
                  <!-- <label *ngIf="f.userId.hasError('maxlength')">User Id should not be more than 10 characters</label> -->
                  <label *ngIf="f.userId.hasError('whitespace') || f.userId.errors.required">Please enter the user Id</label>
                        
               </div>
            </div>
            <div class="form-group col-md-6">
               <label for="userName" class="txtControlLblCss">User Name<span>*</span></label>
               <input class="form-control txtControlCss" name="userName" id="userName" type="text"
                  formControlName="userName" (keypress)="this.dataservice.validate($event)"  [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
               <div *ngIf="this.submitted && f.userName.errors" class="text-danger">
                  <label *ngIf="f.userName.hasError('whitespace') || f.userName.errors.required">Please enter the user name</label>
                  <label *ngIf="f.userName.hasError('minlength')">User name should not be less than 2 characters</label>
                  <label *ngIf="f.userName.hasError('maxlength')">User name should not be more than 50 characters</label>
               </div>
            </div>
         </div>
         <div class="row col-md-12">
            <div class="form-group col-md-6">
               <label for="userRoleId" class="txtControlLblCss">User Role<span>*</span></label>
               <select class="form-control txtControlCss" style="font-size: 12px;" id="userRoleId"
                  [ngClass]="{ 'is-invalid': submitted && f.userRoleId.errors }" formControlName="userRoleId"  (change)="changeRole()" >
                  <option hidden value="" disabled selected>Select</option>
                  <option [value]="role.roleId" *ngFor="let role of this.roleList">
                     {{role.userRoleName}}</option>
               </select>
               <div *ngIf="this.submitted && f.userRoleId.errors" class="text-danger">
                  <label *ngIf="f.userRoleId.errors.required">Please select the user role</label>
               </div>
            </div>
         </div>
         <div class="clearfix col-md-3"></div>
         <div class="text-center">
            <button type="submit" class="btn saveBtnCss">Save</button>&nbsp;
            <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
         </div>
      </div>
   </div>
</form>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
   <div class="col-md-10"></div>
   <div class="col-md-2 text-right">
      <div class="form-group">
         <div class="input-group searchMarginLeft">
            <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" placeholder="Search user name" >
            <div class="input-group-append" >
              <button class="btn btn-secondary" type="button" id="searchicon" >
                <i class="fa fa-search" id="searchicon"></i>
              </button>
            </div>
         </div>
      </div>
   </div>
   <div style="width: 100% !important; height:500px !important; overflow: auto;">
      <table id="userTable" width="100%" *ngIf="this.userList !=null" class="table table-hover table-sticky table-striped table-bordered">
         <thead>
            <tr>
               <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('userId')">
                  <span>User Id &nbsp;</span>
                  <div class="inlineImages my-auto">
                     <img src="assets/images/up.png">
                     <img src="assets/images/down.png">
                  </div>
               </th>
               <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('userName')">
                  <span>User Name &nbsp;</span>
                  <div class="inlineImages my-auto">
                     <img src="assets/images/up.png">
                     <img src="assets/images/down.png">
                  </div>
               </th>
               <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('userRoleName')">
                  <span>User Role &nbsp;</span>
                  <div class="inlineImages my-auto">
                     <img src="assets/images/up.png">
                     <img src="assets/images/down.png">
                  </div>
               </th>
               <th class="WrapInLine">Action</th>
            </tr>
         </thead>
         <tbody *ngIf="( this.userList | filter : txtSearch) as result">
            <!-- <tr *ngFor="let user  of this.userList |  searchData: this.dataservice.customFilter ; let i = index;"> -->
               <tr *ngFor="let user  of result">
               <td>{{user.userId}}</td>
               <td>{{user.userName}}</td>
               <td>{{user.userRoleName}}</td>
               <td class="WrapInLine">
                  <a  title="Edit user" (click)="getUserById(user.profileId)">
                     <img src="assets/images/edit.png"></a>&nbsp;
                  <a  title="Delete user" (click)="deleteUser(user.profileId)">
                     <img src="assets/images/trash.png"></a>
               </td>
            </tr>
            <tr id="notFoundDiv" *ngIf="result.length === 0" style="font-weight: bold">
               <td colspan=4 style="text-align: center;">No Records Found</td>
           </tr>
         </tbody>
      </table>
</div>
</div>