<form [formGroup]="brandForm" (ngSubmit)="saveBrand()">
    <div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Configuration / Brand</span></div>

    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12 my-auto">
            <span class="heading">Brand</span>
            <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}</div>
            <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div>
            <div class="text-center errorMessage" *ngIf="this.brandNameerrorMessage">{{this.brandNameerrorMessage}}
            </div>
        </div>
        <div class="col-md-10 offset-md-1">
            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId" (change)="changeProjectType($event)" [ngClass]="{ 'is-invalid': submitted && f.projectTypeId.errors }" formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.projectTypeId.errors" class="text-danger">
                        <label *ngIf="f.projectTypeId.errors.required">Please select the project type</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="regionId" [ngClass]="{ 'is-invalid': submitted && f.regionId.errors }" formControlName="regionId" (change)="changeRegion()">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.regionId.errors" class="text-danger">
                        <label *ngIf="f.regionId.errors.required">Please select the region</label>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label for="brandCode" class="txtControlLblCss">Brand Code<span>*</span></label>
                    <input class="form-control txtControlCss" autocomplete="off" name="brandCode" id="brandCode" type="text"   formControlName="brandCode" [ngClass]="{ 'is-invalid': submitted && f.brandCode.errors }">
                    <div *ngIf="this.submitted && f.brandCode.errors" class="text-danger">
                        <label *ngIf="f.brandCode.hasError('whitespace') || f.brandCode.errors.required">Please enter the brand code</label>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4 form-group">
                    <label for="brandName" class="txtControlLblCss">Brand Name<span>*</span></label>
                    <input class="form-control txtControlCss" name="brandName" autocomplete="off" id="brandName" type="text"  formControlName="brandName" [ngClass]="{ 'is-invalid': submitted && f.brandName.errors }">
                    <div *ngIf="this.submitted && f.brandName.errors" class="text-danger">
                        <label *ngIf="f.brandName.hasError('whitespace') || f.brandName.errors.required">Please enter the brand name</label>
                   
                    </div>
                </div>
                <div class="col-md-8 form-group">
                    <label for="brandDesc" class="txtControlLblCss">Description</label>
                    <textarea id="brandDesc" name="brandDesc" class="form-control textareaControls" title="Max 255 characters" maxlength="255" rows="2" formControlName="brandDesc">
                    </textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-md-12">
                <button type="submit" class="btn saveBtnCss">Save</button>&nbsp;
                <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
            </div>
        </div>

    </div>
</form>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-right p-0">

        <div class="input-group" id="searchmargin">
            <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" placeholder="Search region" >
            <div class="input-group-append" >
                <button class="btn btn-secondary" type="button" id="searchicon">
                    <i class="fa fa-search" id="searchicon"></i>
                </button>
            </div>
        </div>
    </div>
    <div style="width: 100% !important; height:400px !important; overflow:auto;">
        <table id= "brandTable" width="100%" *ngIf="this.brandList!=null" class="table table-hover table-sticky table-striped table-bordered">
            <thead>
                <tr>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('projectTypeName')">
                        <span>Project Type &nbsp;</span>
                        <div class="inlineImages">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('regionCode')">
                        <span>Region &nbsp;</span>
                        <div class="inlineImages">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('brandCode')">
                        <span>Brand Code &nbsp;</span>
                        <div class="inlineImages">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('brandName')">
                        <span>Brand Name &nbsp;</span>
                        <div class="inlineImages">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th class="WrapInLine">Description</th>
                    <th class="WrapInLine">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="( this.brandList | filter : txtSearch) as result">
                <tr *ngFor="let brand of result">
                    <td>{{brand.projectTypeName}}</td>
                    <td>{{brand.regionCode}}</td>
                    <td>{{brand.brandCode}}</td>
                    <td>{{brand.brandName}}</td>
                    <td style="word-break: break-all;">{{brand.brandDesc}}</td>
                    <td class="WrapInLine">
                        <a title="Edit brand" (click)="getByBrandId(brand.brandId)">
                            <img src="assets/images/edit.png"></a>&nbsp;
                        <a title="Delete brand" (click)="deleteBrand(brand.brandId)">
                            <img src="assets/images/trash.png"></a>
                    </td>
                </tr>
                <tr id="notFoundDiv" *ngIf="result.length === 0" style="font-weight: bold">
                    <td colspan=6 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>