<form [formGroup]="testSuiteForm" (ngSubmit)="saveTestSuite()">
    <div class="row marginCss mt-2 "> <span class="breadcrumCss">Home / Test Suite</span></div>
    <div *ngIf="this.isCopying == true" class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <span class="heading ml-3 mb-3">Copy From </span>
        <div class="col-md-12 ml-3 row">
            <div class="col-md-4">
                <span class="headingSmall">Region :</span><span id="OldRegionId">&nbsp;{{ this.oldRegionName  }}</span>
            </div>
            <div class="col-md-4">
                <span class="headingSmall">Brand :</span><span>&nbsp;{{ this.oldBrandName }}</span>
            </div>
            <div class="col-md-4">
                <span class="headingSmall">Product Name :</span><span>&nbsp;{{  this.oldProjectName }}</span>
            </div>
        </div>
        <div class="col-md-12 ml-3 mt-3 row">
            <div class="col-md-4">
                <span class="headingSmall">Project Type :</span><span>&nbsp;{{  this.oldProjectType  }}</span>
            </div>
            <div class="col-md-4">
                <span class="headingSmall">Jira Project Name :</span><span>&nbsp;{{this.oldjiraProjectName}}</span>
            </div>
            <div class="col-md-4">
                <span class="headingSmall"> Platform/Browser :</span><span>&nbsp;{{this.oldPlatformName}}</span>
            </div>
        </div>
        <div class="col-md-12 ml-3 mt-3 mb-3 row">
            <div class="col-md-4">
                <span class="headingSmall">Appliance :</span><span>&nbsp;{{this.oldAppliance}}</span>
            </div>
            <div class="col-md-4">
                <span class="headingSmall">Test Suite :</span><span
                    id="oldtestSuiteName">&nbsp;{{this.oldtestSuiteName}}</span>
            </div>
            <div class="col-md-4">
                <span class="headingSmall">Test Description :</span><span>&nbsp;{{oldtestSuiteDesc}}</span>
            </div>
        </div>
    </div>
    <div class="row marginCss paddingCss whiteBackgroundCss mt-3">
        <div class="col-md-12">
            <span *ngIf="this.isCopying == true" class="heading">Copy To</span>
            <span *ngIf="this.isCopying == false" class="heading">Test Suite</span>
            <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}<b></b></div>
            <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
        </div>
        <div class="col-md-10 offset-md-1">
            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss " style="font-size: 12px;" id="projectTypeId"
                        (change)="changeProjectType($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.projectTypeId.errors }"
                        formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.projectTypeId.errors" class="text-danger">
                        <label *ngIf="f.projectTypeId.errors.required" >Please select the project type</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss " style="font-size: 12px;" id="regionId"
                        (change)="changeRegion($event)" [ngClass]="{ 'is-invalid': submitted && f.regionId.errors }"
                        formControlName="regionId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.regionId.errors" class="text-danger">
                        <label *ngIf="f.regionId.errors.required">Please select the region</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss " style="font-size: 12px;" id="brandId"
                        (change)="changeBrand($event)" [ngClass]="{ 'is-invalid': submitted && f.brandId.errors }"
                        formControlName="brandId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.brandId.errors" class="text-danger">
                        <label *ngIf="f.brandId.errors.required">Please select the brand</label>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4 form-group ">
                    <label for="projectName" class="txtControlLblCss">Product Name<span>*</span></label>
                    <input class="form-control txtControlCss" autocomplete="off" name="projectName" id="txtAutoComplete"
                        type="text" formControlName="projectName" list="projectName"
                        [ngClass]="{ 'is-invalid': submitted && f.projectName.errors }"  >
                    <datalist id="projectName">
                        <option *ngFor="let allProjName of this.allProjectName; let i=index">{{allProjName.projectName}}
                        </option>
                    </datalist>

                    <div *ngIf="this.submitted && f.projectName.errors" class="text-danger">
                        <label *ngIf="f.projectName.hasError('whitespace') || f.projectName.errors.required">Please enter the product name</label>
                    </div>
                </div>



                <div class="col-md-4 form-group ">
                    <label for="jiraProjectName" class="txtControlLblCss">Jira Project Name<span>*</span></label>
                    <select class="form-control txtControlCss " style="font-size: 12px;" id="jiraProjectName"
                        [ngClass]="{ 'is-invalid': submitted && f.jiraProjectName.errors }"
                        formControlName="jiraProjectName">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="AllJiraProjectNameRes.projectName"
                            *ngFor="let AllJiraProjectNameRes of this.AllJiraProjectNameRes">
                            {{AllJiraProjectNameRes.projectName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.jiraProjectName.errors" class="text-danger">
                        <label *ngIf="f.jiraProjectName.errors.required">Please select the jira project name</label>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="platformId" class="txtControlLblCss">Platform/Browser<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="platformId"
                        [ngClass]="{ 'is-invalid': submitted && f.platformId.errors }" formControlName="platformId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="platform.platformId" *ngFor="let platform of this.platformList">
                            {{platform.platformName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.platformId.errors" class="text-danger">
                        <label *ngIf="f.platformId.errors.required">Please select the platform/browser</label>
                    </div>
                </div>

            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="applianceId" class="txtControlLblCss">Appliance<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="applianceId"
                        [ngClass]="{ 'is-invalid': submitted && f.applianceId.errors }" formControlName="applianceId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="appliance.applianceId" *ngFor="let appliance of this.applianceList">
                            {{appliance.applianceName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.applianceId.errors" class="text-danger">
                        <label *ngIf="f.applianceId.errors.required">Please select the appliance</label>
                    </div>
                </div>

                <div class="col-md-4 form-group ">
                    <label for="testSuiteName" class="txtControlLblCss">Test Suite Name<span>*</span></label>
                    <input class="form-control txtControlCss" name="testSuiteName" id="testSuiteName" type="text"
                        formControlName="testSuiteName" (change)="changeTestSuiteName($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.testSuiteName.errors }">
                    <div *ngIf="this.submitted && f.testSuiteName.errors" class="text-danger">
                        <label *ngIf="f.testSuiteName.hasError('whitespace') || f.testSuiteName.errors.required">Please enter the test suite name</label>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label for="testSuiteDesc" class="txtControlLblCss">Test Description</label>
                    <textarea id="testSuiteDesc" title="Max 255 characters" maxlength="255"
                        formControlName="testSuiteDesc" class="form-control textareaControls" rows="2"
                        name="testSuiteDesc">
                        </textarea>
                </div>
            </div>
            <div class="clearfix  col-md-4"></div>
            <div class="d-flex justify-content-center row ">
                <div class="text-center btn-file">
                    <button *ngIf="this.isCopying == false" type="button"
                        class="btn btn-file saveBtnCss">Import</button>
                    <input #importFile for="importFile" type="file" accept=".xlsx, .xls" (change)="onSuccess($event)"
                        name="importFile">
                </div>&nbsp;
                <button type="submit" id="btnSaveSuite" [disabled]="isClicked"
                    class="btn saveBtnCss">Save</button>&nbsp;
                <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
                <button *ngIf="this.isCopying == true" type="button" class="btn clearBtnCss ml-1"
                    routerLink="/test_suite/search_test_suite">Cancel</button>
            </div>

        </div>
    </div>
</form>

<div id="importTable" class="row marginCss paddingCss whiteBackgroundCss mt-2" style="overflow: auto;">
    <table id="createTestSuiteTable" class="table table-responsive table-bordered" style=" background-color:#ffffff;"
        *ngIf="data.length != 0">
        <thead>
            <tr>
                <th (click)="sortTable(0)">MobileApp</th>
                <th (click)="sortTable(1)">Version</th>
                <th (click)="sortTable(2)">Appliance</th>
                <th (click)="sortTable(3)">Module</th>
                <th (click)="sortTable(4)">Platform</th>
                <th (click)="sortTable(5)">TestCaseID</th>
                <th (click)="sortTable(6)">TestCaseName</th>
                <th (click)="sortTable(7)">TestStepID</th>
                <th (click)="sortTable(8)">TestStepDescription</th>
                <th (click)="sortTable(9)">Element</th>
                <th (click)="sortTable(10)">Keyword</th>
                <th *ngFor="let it of this.listIteraions">
                    {{it.IterationHeading.substr(0,1).toUpperCase()+ it.IterationHeading.substr(1,it.IterationHeading.length).toLowerCase()}}
                </th>

            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let d of this.data">
                <td>{{d.MOBILEAPP}}</td>
                <td>{{d.VERSION}}</td>
                <td>{{d.APPLIANCE}}</td>
                <td>{{d.MODULE}}</td>
                <td>{{d.PLATFORM}}</td>
                <td>{{d.TESTCASEID}}</td>
                <td>{{d.TESTCASENAME}}</td>
                <td>{{d.TESTSTEPID}}</td>
                <td>{{d.TESTSTEPDESCRIPTION}}</td>
                <td>{{d.ELEMENT}}</td>
                <td>{{d.KEYWORD}}</td>
                <td *ngFor="let it of this.listIteraions">
                    {{d[it.IterationHeading]}}
                </td>
            </tr>

        </tbody>
    </table>

</div>

<!-- Added by Akash----- -->
<!-- --------- Display Progress bar Modal---------- -->
<div class="modal fade" id="popProgress" data-keyboard="false" data-backdrop="static"
    style="z-index: 2147483647;background: black;opacity: 0.8;">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class=" modal-body">
                <div class="container">
                    <h2 style="font-size: 12px;">{{this.steps}}</h2>
                    <div class="progress">
                        <div class="progress-bar" [style.width]="widthfooter">{{widthfooter}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>