<form [formGroup]="brandwiseCapabilityForm" (ngSubmit)="saveBrandwisecapability()">
    <div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Configuration / Brandwise Capability</span></div>

    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12 my-auto">
            <span class="heading">Brandwise Capability</span>
            <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}</div>
            <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div>
            <div class="text-center errorMessage" *ngIf="this.brandNameerrorMessage">{{this.brandNameerrorMessage}}
            </div>
        </div>
        <div class="col-md-10 offset-md-1">
            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId" (change)="changeProjectType($event)" [ngClass]="{ 'is-invalid': submitted && f.projectTypeId.errors }" formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.projectTypeId.errors" class="text-danger">
                        <label *ngIf="f.projectTypeId.errors.required">Please select the project type</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="regionId" [ngClass]="{ 'is-invalid': submitted && f.regionId.errors }" formControlName="regionId" (change)="changeRegion($event)">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.regionId.errors" class="text-danger">
                        <label *ngIf="f.regionId.errors.required">Please select the region</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="brandId"  [ngClass]="{ 'is-invalid': submitted && f.projectTypeId.errors }" formControlName="brandId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.brandId.errors" class="text-danger">
                        <label *ngIf="f.brandId.errors.required">Please select the brand</label>
                    </div>
                </div>
              
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="platformId" class="txtControlLblCss">Platform/Browser<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="platformId" formControlName="platformId"  [ngClass]="{ 'is-invalid': submitted && f.platformId.errors }" (change)="changePlatform($event)">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="platform.platformId" *ngFor="let platform of this.platformList">
                            {{platform.platformName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.platformId.errors" class="text-danger">
                        <label *ngIf="f.platformId.errors.required">Please select the platform/browser</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="env" class="txtControlLblCss">Environment<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" formControlName="env">
                    <option hidden value="select" disabled selected>Select</option>
                    <option value="STG">STG</option>
                    <option value="Dev">Dev</option>
                    <option value="Prod">Prod</option>
                    <option value="QA">QA</option>
                </select>
                    <div *ngIf="this.submitted && f.env.errors" class="text-danger">
                        <label *ngIf="f.env.errors.required">Please select the environment</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="capabilityId" class="txtControlLblCss">Capability Name<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="capabilityId" (change)="changecapability($event)" [ngClass]="{ 'is-invalid': submitted && f.projectTypeId.errors }" formControlName="capabilityId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="Capability.capabilityId" *ngFor="let Capability of this.allCapabilityList">
                            {{Capability.capabilityName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.capabilityId.errors" class="text-danger">
                        <label *ngIf="f.capabilityId.errors.required">Please select the Capability</label>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label for="capabilityValue" class="txtControlLblCss">Capability Value</label>
                    <input type="text" class="form-control txtControlCss" formControlName="capabilityValue" >
                    <div *ngIf="this.submitted && f.capabilityValue.errors" class="text-danger">
                        <label *ngIf="f.capabilityValue.errors.required">Please add the Capability value</label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-md-12">
                <button type="submit" class="btn saveBtnCss">Save</button>&nbsp;
                <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
            </div>
        </div>

    </div>
</form>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-right p-0">

        <div class="input-group" id="searchmargin">
            <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" placeholder="Search region" >
            <div class="input-group-append" >
                <button class="btn btn-secondary" type="button" id="searchicon">
                    <i class="fa fa-search" id="searchicon"></i>
                </button>
            </div>
        </div>
    </div>
    <div style="width: 100% !important; height:400px !important; overflow:auto;">
        <table id= "brandTable" width="100%" *ngIf="this.brandwiseCapabilityList!=null" class="table table-hover table-sticky table-striped table-bordered">
            <thead>
                <tr>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('projectTypeName')">
                        <span>Platform&nbsp;</span>
                        <div class="inlineImages">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('regionCode')">
                        <span>Brand &nbsp;</span>
                        <div class="inlineImages">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('brandCode')">
                        <span>Environment &nbsp;</span>
                        <div class="inlineImages">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('brandName')">
                        <span>capabilityName &nbsp;</span>
                        <div class="inlineImages">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th class="WrapInLine">capabilityValue</th>
                    <th class="WrapInLine">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="( this.brandwiseCapabilityList | filter : txtSearch) as result">
                <tr *ngFor="let brand of result">
                    <td>{{brand.platformName}}</td>
                    <td>{{brand.brandName}}</td>
                    <td>{{brand.env}}</td>
                    <td>{{brand.capabilityName}}</td>
                    <td>{{brand.capabilityValue}}</td>
                    <td class="WrapInLine">
                        <a title="Edit brand" (click)="getBrandwisecapabilityById(brand.brandCapId)">
                            <img src="assets/images/edit.png"></a>&nbsp;
                        <a title="Delete brand" (click)="deleteBrandwiseCapability(brand.brandCapId)">
                            <img src="assets/images/trash.png"></a>
                    </td>
                </tr>
                <tr id="notFoundDiv" *ngIf="result.length === 0" style="font-weight: bold">
                    <td colspan=6 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>