<div class="row marginLeftRightCss parentDiv">
    <div class="col-md-10 my-auto">
        <img src="assets/images/logo.png">&nbsp;&nbsp;<span class="automationTxt">Prodigio</span>
        <span class="automationTxt ml-4">V1.7.1</span>
    </div>
    <div class="col-md-2 text-right nav-item dropdown profileMenu">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="mr-2" style="color: black; font-weight: 500;">{{this.username}}</span>
            <img src="assets/images/profile.png">&nbsp;&nbsp;<img src="assets/images/down_arrow.png">
        </a>
        <div class="dropdown-menu parentDiv" aria-labelledby="navbarDropdownMenuLink">
            <span class="dropdown-item logoutBtn" (click)="okLogout()">Log out</span>
        </div>
    </div>
</div>
<div class="row marginLeftRightCss parentDiv wrap mt-1">
    <div class="col-md-12 text-center menuBtnDiv"  #menuIconDiv style="display: none;">
        <a (click)="showMenuItems()" class="cursorCss"><img src="assets/images/menu_button.png"></a>
    </div>
    <div class="col-md-12 text-center" #menuItemDiv>
        <ul class="nav">
            <li class="nav-item">
                    <a (click)="hideMenuItems()" class="nav-link cursorCss" style="margin-top: 15px !important;"> <img src="assets/images/menu_up.png"></a>
            </li>
            <li class="nav-item" *ngFor="let link  of this.routeLinks; let i = index;">
                <a class="nav-link inactiveLinkCss" [routerLink]="link.link" routerLinkActive="activeLinkCss" *ngIf="this.Admin == role  || this.Test_lead== role || this.Test_Mgr== role">
                    <img [src]="link.path"><br>
                    <span class="menuItemLbl">{{link.label}}</span>
                </a>
             </li> 
             <li class="nav-item" *ngFor="let link  of this.routeLinksRole; let j = index1;">
                <a class="nav-link inactiveLinkCss" [routerLink]="link.link" routerLinkActive="activeLinkCss" *ngIf="this.Test_Engg== role ">
                    <img [src]="link.path"><br>
                    <span class="menuItemLbl">{{link.label}}</span>
                </a>
             </li>     
        </ul>
    </div>
</div>