.parentDiv{
    background-color: #FFFFFF !important;
}

hr.headerDiv {
    border: 1px solid black;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .dropdown-toggle::after { 
    content: none !important; 
} 

.profileMenu .dropdown-menu{
left: 40px !important;
}

.menuBarDiv .dropdown-menu{
min-width: 100%;
}

.noshow, .wrap:hover .show {
    display: none
}
.wrap:hover .noshow {
    display: block
}

.automationTxt
{
  font-family: Open Sans;
  font-size: 14px;
}

.menuItemLbl{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #012F60;
}

.menuBtnDiv{
  /* height: 40px !important; */
}

.inactiveLinkCss {
opacity: 50%;
}
.activeLinkCss{
  opacity: unset !important;
  border-bottom: 2px solid #1F83FE;
  border-radius: 5px 5px 0px 0px !important;
}
.logoutBtn{
  cursor: pointer;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}


  


