<div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Test Case</span></div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-10 my-auto">
        <span class="heading">Test Case</span>
        <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}</div>
        <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn saveBtnCss" routerLink="/test_case/create_test_case">Create Test
            Case</button>
    </div>
</div>
<div>
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="row col-md-12 justify-content-center">

            <div class="row col-md-12  mb-2">
        <div class="row col-md-12">
            <div class="form-group pl-15">
                <div class="">
                    <label class="container_ ">
                        <input id="All" class="checkBoxClass viewsharedcheckbox"
                            (click)="checksharedtestcase($event)"
                            type="checkbox">
                            <span class="checkmark mt-2"></span>
                            <span class="txtControlLblCss mr-2" style="font-size: 16px;margin-left: 24px;">View Shared/Universal test case</span>
                    </label>
             </div>
            </div>
        </div>
                <div class="form-group col-md-3">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss  " style="font-size: 12px;" id="projectTypeId"
                        (change)="changeProjectType($event)" [(ngModel)]="projectTypeId">
                        <option hidden value="0" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss  " style="font-size: 12px;" id="regionId"
                        (change)="changeRegion($event)" [(ngModel)]="regionId">
                        <option hidden value="0" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss  " style="font-size: 12px;" id="brandId"
                        [(ngModel)]="brandId" (change)="changeBrand($event)">
                        <option hidden value="0" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                </div>

                <div class="form-group col-md-3" *ngIf="!addSharedcaseFlag">
                    <label for="projectName" class="txtControlLblCss">Product Name<span>*</span></label>
                    <select class="form-control txtControlCss  " style="font-size: 12px;" id="projectName"
                        [(ngModel)]="projectName" (change)="changeProjectName($event)">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectName.projectName" *ngFor="let projectName of this.projectNameList">
                            {{projectName.projectName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3" *ngIf="!addSharedcaseFlag">
                    <label for="testSuiteId" class="txtControlLblCss">Test Suite<span>*</span></label>
                    <select class="form-control txtControlCss  " style="font-size: 12px;" id="testSuiteId"
                        [(ngModel)]="testSuiteId" (change)="changeTestSuite($event)">
                        <option hidden value="0" disabled selected>Select</option>
                        <option [value]="testSuite.testSuiteId" *ngFor="let testSuite of this.testSuiteList">
                            {{testSuite.testSuiteName}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-10 text-right">
            <button *ngIf="importSharedcaseFlag && !addSharedcaseFlag" (click)="opensharedteacModal()" type="button" class="btn saveBtnCss"  id="btnAddCase">Add shared test cases</button>&nbsp;
            <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
        </div>
        <div class="col-md-2 text-right paddingLeftCss p-0">

            <div class="input-group" id="searchmargin">
                <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" placeholder="Search test case">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="searchicon">
                        <i class="fa fa-search" id="searchicon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div style="width: 100% !important; height:400px !important; overflow: auto;">

            <table width="100%" id="tblTestcasetable" class="table  table-hover table-sticky table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="cursor:pointer;" class="WrapInLine head" width="25%" (click)="sortTable('testCaseName')" class="WrapInLine">
                            <span>Test Case Name &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th style="cursor: pointer;" class="WrapInLine head"
                            (click)="sortTable('total_Number_Of_TestSteps')">
                            <span>Total Steps &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th style="cursor: pointer;" class="WrapInLine head" (click)="sortTable('testCaseDesc')">
                            <span>Description &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th style="cursor: pointer;" class="WrapInLine head" (click)="sortTable('modifiedOn')">
                            <span>Modified On &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th> 
                        <th style="cursor: pointer;" class="WrapInLine head" (click)="sortTable('modifiedBy')">
                            <span>Modified By &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th class="head WrapInLine">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let testCase of this.testCaseList   |  filter: txtSearch  ;let i=index;">
                        <td  [class.sharedcase]="testCase.isShared" style="display:none;">{{i+1}}</td>
                        <td [class.sharedcase]="testCase.isShared" style="display:none;">{{testCase.testCaseId}}</td>
                        <td [class.sharedcase]="testCase.isShared" class="clscusrsor"
                            (click)="searchTeststeps(testCase.regionId,testCase.brandId, testCase.testSuiteId ,testCase.testCaseId,testCase.projectTypeId,testCase.isShared)"
                            width="25%">{{testCase.testCaseName}}</td>
                        <td [class.sharedcase]="testCase.isShared" class="clscusrsor " style="width: 20px;"
                            (click)="searchTeststeps(testCase.regionId,testCase.brandId, testCase.testSuiteId ,testCase.testCaseId,testCase.projectTypeId,testCase.isShared)">
                            {{testCase.total_Number_Of_TestSteps}}</td>
                        <td [class.sharedcase]="testCase.isShared" class="clscusrsor"
                            (click)="searchTeststeps(testCase.regionId,testCase.brandId, testCase.testSuiteId ,testCase.testCaseId,testCase.projectTypeId,testCase.isShared)">
                            {{testCase.testCaseDesc}}</td>
                        <td [class.sharedcase]="testCase.isShared" class="clscusrsor" style="width: 150px;"
                            (click)="searchTeststeps(testCase.regionId,testCase.brandId, testCase.testSuiteId ,testCase.testCaseId,testCase.projectTypeId,testCase.isShared)">
                            {{testCase.convert_modifiedTime_format}}</td>
                        <td [class.sharedcase]="testCase.isShared" class="clscusrsor" style="width: 150px;"
                            (click)="searchTeststeps(testCase.regionId,testCase.brandId, testCase.testSuiteId ,testCase.testCaseId,testCase.projectTypeId,testCase.isShared)">
                            {{testCase.modifiedBy}}</td>
                        <td [class.sharedcase]="testCase.isShared" class="WrapInLine" style="width: 150px;">
                            <a title="Add test step" (click)="addTestStep(testCase.testCaseId, testCase.projectTypeId,testCase.isShared)">
                                <img src="assets/images/add.png"></a>&nbsp;
                            <a title="Edit test case data"
                                (click)="getTestCaseById(testCase.testCaseId,testCase.projectTypeId,testCase.isShared)">
                                <img src="assets/images/edit.png"></a>&nbsp;
                            <a title="Copy test case data"
                                (click)="copyTestCase(testCase.testCaseId,true,testCase.projectTypeId,testCase.isShared)">
                                <img src="assets/images/copy.png"></a>&nbsp;
                        <label  *ngIf="this.Admin == role  || this.Test_lead== role || this.Test_Mgr== role">    
                            <a title="Delete test case data"
                                (click)="deleteTestCase(testCase.testCaseId,testCase.testCaseName,testCase.projectTypeId,testCase.isShared , testCase.testSuiteId)">
                                <img src="assets/images/trash.png"></a>&nbsp;
                        </label>        
                            <a title="Add test case data"  *ngIf="!addSharedcaseFlag && !testCase.isShared"
                                (click)="addTestData(testCase.testCaseId,testCase.projectTypeId,testCase.isShared)">
                                <img src="assets/images/file_plus.png"></a>
                        </td>
                    </tr>
                    <tr id="notFoundDiv"
                        *ngIf="this.testCaseList ==null || this.testCaseList ==undefined || (this.testCaseList|filter: txtSearch).length === 0"
                        style=" font-weight: bold">
                        <td colspan=9 style="text-align: center;">No Records Found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12" style="padding: 10px; " *ngIf="testcaseReorderFlag && !addSharedcaseFlag"> 
            <div class=" float-right WrapInLine " style="margin-top: 20px; text-align: right;" >
                <button type="submit" (click)="submitReorder()" class="btn saveBtnCss mr-3">Submit 
                    </button>
                    <button type="button"(click)="cancelReorder()" class="btn saveBtnCss">Cancel                           
                    </button>
            </div>
        </div>
    </div>
</div>

<!-- view Data Set Modal -->
<div class="modal fade" id="testcaseTemplateModal" data-keyboard="false" data-backdrop="static" >
    <div class="modal-dialog modal-xl modal-dialog-centered" >
        <div class="modal-content">


            <!-- Modal Header -->
            <div class="headerModal commonBorderBottom marginLeftRightCss row mt-2 pt-2">
                <div class="ml-3">
                    <h4 class="popupTitleTxt">List of shared test cases</h4>
                </div>
                <div class="ml-auto mr-3">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3  paddingLeftCss">

                    <div class="input-group mt-2" id="searchmargin">
                        <input type="text" class="form-control searchInput" [(ngModel)]="sharedtxtSearch" placeholder="Search test case">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" id="searchicon">
                                <i class="fa fa-search" id="searchicon"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div style="width: 100% !important; height:400px !important; overflow: auto;">

                    <table width="100%" id="tblSharedTestcasetable" class="table  table-hover table-sticky table-striped table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th style="cursor:pointer;" class="WrapInLine head" width="25%" (click)="sortTable('testCaseName')" class="WrapInLine">
                                    <span>Test Case Name &nbsp;</span>
                                    <div class="inlineImages my-auto">
                                        <img src="assets/images/up.png">
                                        <img src="assets/images/down.png">
                                    </div>
                                </th>
                                <th style="cursor: pointer;" class="WrapInLine head"
                                    (click)="sortTable('total_Number_Of_TestSteps')">
                                    <span>Total Steps &nbsp;</span>
                                    <div class="inlineImages my-auto">
                                        <img src="assets/images/up.png">
                                        <img src="assets/images/down.png">
                                    </div>
                                </th>
                                <th style="cursor: pointer;" class="WrapInLine head" (click)="sortTable('testCaseDesc')">
                                    <span>Description &nbsp;</span>
                                    <div class="inlineImages my-auto">
                                        <img src="assets/images/up.png">
                                        <img src="assets/images/down.png">
                                    </div>
                                </th>
                                <th style="cursor: pointer;" class="WrapInLine head" (click)="sortTable('modifiedOn')">
                                    <span>Modified On &nbsp;</span>
                                    <div class="inlineImages my-auto">
                                        <img src="assets/images/up.png">
                                        <img src="assets/images/down.png">
                                    </div>
                                </th> 
                                <th style="cursor: pointer;" class="WrapInLine head" (click)="sortTable('modifiedBy')">
                                    <span>Modified By &nbsp;</span>
                                    <div class="inlineImages my-auto">
                                        <img src="assets/images/up.png">
                                        <img src="assets/images/down.png">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let testCase of this.sharedTestCaseList   | filter: sharedtxtSearch;let i=index;">
                                <td>
                                                                         <div style="width: 20px; margin: 0px auto;">
                                                                            <label class="container_ ">
                                                                                <input id="addshared" class="checkBoxClass"
                                                                                (click)='selectTestCase($event,testCase)'
                                                                                    type="checkbox">
                                                                                    <span class="checkmark mt-2"></span>
                                                                            </label>
                                                                     </div>
                                                </td>
                                <td style="display:none;">{{testCase.testCaseId}}</td>
                                <td class="clscusrsor"
                                    width="25%">{{testCase.testCaseName}}</td>
                                <td class="clscusrsor " style="width: 20px;">
                                    {{testCase.total_Number_Of_TestSteps}}</td>
                                <td class="clscusrsor">
                                    {{testCase.testCaseDesc
                                    }}</td>
                                <td class="clscusrsor" style="width: 150px;">
                                    {{testCase.convert_modifiedTime_format}}</td>
                                <td class="clscusrsor" style="width: 150px;">
                                    {{testCase.modifiedBy}}</td>
                            </tr>
                            <tr id="notFoundDiv"
                                *ngIf="this.sharedTestCaseList ==null || this.sharedTestCaseList ==undefined || (this.sharedTestCaseList|filter: sharedtxtSearch).length === 0"
                                style=" font-weight: bold">
                                <td colspan=9 style="text-align: center;">No Records Found</td>
                            </tr>
                        </tbody>
                </table>
            </div>
            <div class="col-md-12" style="padding: 10px; background-color: whitesmoke;">
                <div class=" float-right WrapInLine " style="margin-top: 20px; text-align: right;" >
                    <button type="submit" (click)="AddSharedTestCasestoSuite()" class="btn saveBtnCss mr-3">Save 
                        </button>
                        <button type="button"(click)="hideModel()" class="btn clearBtnCss">Cancel                           
                        </button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
