tbody:after {
    content:" ";
    height:30px;
}
.selected .ui-sortable-helper {

    background:white !important;
    color:black !important;

}
.selected{
    background-color:white !important;
    color:black !important;
}
.th{
    cursor: -webkit-grab;
     cursor: grab;
}
.table-bordered {
    cursor: pointer !important;
    border: none;
}
#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }


.container_ {
    display: block;
    position: relative;
    /* padding-left: 35px; */
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  
  .container_ .checkBoxClass {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  
  .checkmark {
    position: absolute;
    /* top: 14px; */
    /* left: 0; */
    height: 20px;
    width: 20px;
    border: 2px solid #a7a7a7;
    /* background-color: #eee; */
  }
  
  /* On mouse-over, add a grey background color */
  
  .container_:hover .checkBoxClass ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  
  .container_ .checkBoxClass:checked ~ .checkmark {
    background-color: #1f83fe;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  
  .container_ .checkBoxClass:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  
  .container_ .checkmark:after {
    left: 5px;
    /* top: 2px; */
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0px 3px 3px 0px;
    transform: rotate(45deg);
  }
  .pl-15{
    padding-left: 15px;
  }

