<div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Test Step</span></div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-10 my-auto">
        <span class="heading">Test Step</span>
        <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}</div>
        <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
    </div>
    <div class="col-md-2 text-right" *ngIf="!this.issyncFlag">
        <button type="button" class="btn clearBtnCss" (click)="syncWithJira()">Sync</button>
    </div>
</div>
<div>
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="row col-md-12 justify-content-center">
            <div class="row col-md-12">
                <div class="form-group pl-15">
                    <div class="">
                        <label class="container_ ">
                            <input id="All" class="checkBoxClass viewsharedcheckbox"
                                (click)="checksharedtestcase($event)"
                                type="checkbox" [(ngModel)]="isSharedParaFlag">
                                <span class="checkmark mt-2"></span>
                                <span class="txtControlLblCss mr-2" style="font-size: 16px;margin-left: 24px;">View Shared/Universal test steps</span>
                        </label>
                 </div>
                </div>
            </div>
            <div class="row col-md-12 mb-2">
                <div class="form-group col-md-3">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss " style="font-size: 12px;" id="projectTypeId"
                        (change)="changeProjectType($event)" [(ngModel)]="projectTypeId">
                        <option hidden value="0" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss " style="font-size: 12px;" id="regionId"
                        (change)="changeRegion($event)" [(ngModel)]="regionId">
                        <option hidden value="0" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss " style="font-size: 12px;" id="brandId"
                        [(ngModel)]="brandId" (change)="changeBrand($event)">
                        <option hidden value="0" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3" *ngIf="!isSharedParaFlag ">
                    <label for="testSuiteId" class="txtControlLblCss">Test Suite<span>*</span></label>
                    <select class="form-control txtControlCss " style="font-size: 12px;" id="testSuiteId"
                        [(ngModel)]="testSuiteId" (change)="changeTestSuite($event)">
                        <option hidden value="0" disabled selected>Select</option>
                        <option [value]="testSuite.testSuiteId" *ngFor="let testSuite of this.testSuiteList">
                            {{testSuite.testSuiteName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3 mb-2">
                    <label for="testCaseId" class="txtControlLblCss">Test Case<span>*</span></label>
                    <select class="form-control txtControlCss " style="font-size: 12px;" id="testCaseId"
                        [(ngModel)]="testCaseId" (change)="changeTestCase($event)">
                        <option hidden value="0" disabled selected>Select</option>
                        <option [value]="testCase.testCaseId" *ngFor="let testCase of this.testCaseList">
                            {{testCase.testCaseName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-10 text-right">
            <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
        </div>
        <div class="col-md-2 text-right paddingLeftCss p-0">
            <div class="input-group" id="searchmargin">
                <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" placeholder="Search test step">
                <div class="input-group-append" >
                    <button class="btn btn-secondary" type="button" id="searchicon">
                        <i class="fa fa-search" id="searchicon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div style="width: 100% !important; height:300px !important; overflow: auto;">
        <!-- <div class="table-responsive"> -->
        <table width="100%"  id="tblTestStep" class="table  table-hover table-sticky table-striped table-bordered">
            <thead>
                <tr>
                    <th class="WrapInLine"  style="display:none;">
                        <span>Test Step orde numr &nbsp;</span>
                    </th>
                    <th class="WrapInLine " >
                        <span>Test Step ID &nbsp;</span>
      
                    </th>
                    <th class="WrapInLine" >
                        <span>Test Step Description &nbsp;</span>
       
                    </th>
        
                    <th class="WrapInLine" >
                        <span>Module &nbsp;</span>
                   
                    </th>
                    <th class="WrapInLine" >
                        <span>Element &nbsp;</span>
                   
                    </th>
                    <th class="WrapInLine" >
                        <span>Keyword &nbsp;</span>
           
                    </th>
                    <th class="WrapInLine" >
                        <span>Modified On &nbsp;</span>
                    </th>
                    <th class="WrapInLine" >
                        <span>Modified By &nbsp;</span>
                    </th>
                    <th class="WrapInLine">Action</th>
                </tr>
            </thead>
            <tbody >
                    <tr *ngFor="let testStep of this.testStepList| filter : txtSearch;let i=index;">
                    <td  *ngIf="isSort">{{i+1}}</td>
                    <td  *ngIf="isSort==false">{{i+1}}</td>
                    <td style="display:none;">{{testStep.testStepId}}</td>
                    <td>{{testStep.testStepName}}</td>
                    <td>{{testStep.module}}</td>
                    <td>{{testStep.element}}</td>
                    <td>{{testStep.keyword}}</td>
                    <td>{{testStep.convert_modifiedTime_format}}</td>
                    <td>{{testStep.modifiedBy}}</td>
                    <td class="WrapInLine">
                        <a title="Edit test step data"
                            (click)="getTestStepById(testStep.testStepId,testStep.projectTypeId )">
                            <img src="assets/images/edit.png"></a>&nbsp;
                    <label *ngIf="this.Admin == role  || this.Test_lead== role || this.Test_Mgr== role">        
                        <a title="Delete test step data"
                            (click)="deleteTestStep(testStep.testStepId,testStep.testStepName)">
                            <img src="assets/images/trash.png"></a>
                    </label>        
                    </td>
                </tr>
                <tr *ngIf = "this.testStepList ==null || this.testStepList ==undefined || (this.testStepList|filter: txtSearch).length === 0" style=" font-weight: bold">
                    <td colspan=9 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
       
        <!-- </div> -->
       
        </div>

         <div class="col-md-12" style="padding: 10px; background-color: whitesmoke;">
            <div class="col-md-3 float-right WrapInLine " style="margin-right: 70px;" *ngIf="isTestCaseSelected && this.testStepList!=null" >
                <button type="submit" (click)="submitReorder()" class="btn saveBtnCss mr-3">Submit 
                    </button>
                    <button type="button"(click)="cancelReorder()" class="btn saveBtnCss">Cancel                           
                    </button>
            </div>
        </div>
    </div>
</div>