.configLinkLblCss{
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 19px;
text-align: center;
letter-spacing: 0.05em;
color: #012F60 !important;
}

.configActiveLinkCss{
    opacity: unset !important;
    border-bottom: 2px solid #1F83FE;
    border-radius: 5px 5px 0px 0px !important
}

.configInActiveLinkCss{
     opacity: 50%;
}