<div class="row marginLeftRightCss whiteBackgroundCss mt-1">
    <div class="col-md-12 text-center">
        <ul class="nav">
            <li class="nav-item  my-auto" *ngFor="let link  of this.routeLinksAdmin; let i = index;">
                <a class="nav-link configInActiveLinkCss" [routerLink]="link.link" routerLinkActive="configActiveLinkCss" *ngIf="rolename==='Admin'">
                    <span class="configLinkLblCss">{{link.label}}</span></a>
            </li>
            <li class="nav-item  my-auto" *ngFor="let link  of this.routeLinksTestLead; let i = index;">
                <a class="nav-link configInActiveLinkCss" [routerLink]="link.link" routerLinkActive="configActiveLinkCss" *ngIf="rolename==='Test Lead'">
                    <span class="configLinkLblCss">{{link.label}}</span></a>
            </li>
            <li class="nav-item  my-auto" *ngFor="let link  of this.routeLinksTestMgr; let i = index;">
                <a class="nav-link configInActiveLinkCss" [routerLink]="link.link" routerLinkActive="configActiveLinkCss" *ngIf="rolename==='Test manager'">
                    <span class="configLinkLblCss">{{link.label}}</span></a>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>

