.timeTxt
{
    font-style: normal;
font-weight: 500;
font-size: 12px;
}
.dateTxt
{
    font-style: normal;
font-weight: 500;
font-size: 14px;
color: #192B49;
}

.reportUp
{
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #27AE60;
}

.reportDown
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #EB5757;  
}

.failedBtn
{
    border: 1px solid #DB3B21;
    color:#DB3B21;
    font-size: 12px;
}

.passedBtn
{
    border: 1px solid #1AAA55;
    color:#1AAA55;
    font-size: 12px;   
}

.runningBtn
{
    border: 1px solid #1F78D1;
    color:#1F78D1;
    font-size: 12px; 
}

.statusVericalCss
{
    vertical-align: bottom;
}

.filterTxt
{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}
.marginTop10Align {
    margin-top: 10px;
    text-align: center;
  }
  .txt-color
  {
    color: #012F60;
    
  }
  .fontStyleBold
  {
   font-weight: bold;
  }
  .heading1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    color: #012F60;
  }
  
