<div class="row marginCss mt-2"> <span class="breadcrumCss">Home /Report</span></div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <span><img src="assets/images/back-arrow.png"></span>
    <div class="row col-md-12">
        <div class="col-md-3">
            <span class="heading">Suite Id :</span>
            <span>0212</span>
        </div>
        <div class="col-md-3">
            <span class="heading">Run Id :</span>
            <span>0212</span>
        </div>
        <div class="col-md-3 heading">
            Start Time :
        </div>
        <div class="col-md-3 heading">
            Status
        </div>
    </div>
    <div class="row col-md-12 ml-3">
        <div class="col-md-3">
            <span class="heading">Suite Name :</span>
            <span>Whirlpool_Execution_1</span>
        </div>
        <div class="col-md-3">
            <span class="heading">Run Name :</span>
            <span>Whirlpool_Execution_1</span>
        </div>
        <div class="col-md-3">
            <span>11.05Am</span><br>
            <span>21/12/2019</span>
        </div>
        <div class="col-md-3 ">
            <td>
                <button type="button" class="btn btn-outline failedBtn statusBtnCss marginTop10Align"><img
                        src="assets/images/failedImg.png"> <span class="statusVericalCss"> Failed</span></button>
            </td>
        </div>
    </div>


</div>






<div class="d-flex  ml-1 mr-3 ">
    <div class="col-md-4">
        <div class="whiteBackgroundCss mt-2 paddingCss ">
            <span class="heading ">Test Case</span>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Login Process<br>0212SE</td>
                        <td>21/02/2019<br>11.30 AM</td>
                        <td class="sheduletablestyle">
                            <div class="spinner-grow text-danger mt-2" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Login Process<br>0212SE</td>
                        <td>21/02/2019<br>11.30 AM</td>
                        <td class="sheduletablestyle">
                            <div class="spinner-grow text-primary mt-2" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Login Process<br>0212SE</td>
                        <td>21/02/2019<br>11.30 AM</td>
                        <td class="sheduletablestyle">
                            <div class="spinner-grow text-primary mt-2" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Login Process<br>0212SE</td>
                        <td>21/02/2019<br>11.30 AM</td>
                        <td class="sheduletablestyle">
                            <div class="spinner-grow text-warning mt-2" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-md-8 whiteBackgroundCss mt-2 paddingCss">
        <span class="heading1"> Details</span>
        <div class="row col-md-12 " style="align-items: center;">
            <div class="col-md-3">
                <span class="heading1">Login Process</span>

            </div>
            <div class="col-md-3 heading1">
                Start Time :
            </div>
            21/02/2019 11.30 AM
            <div class="col-md-3 heading1 ml-4">
                Status
            </div>
        </div>
        <div class="row col-md-12 mt-1" style="align-items: center;">
            <div class="col-md-3">
                <span class="heading1">0212SE</span>
            </div>

            <div class="col-md-3 heading1">
                End Time :
            </div>
            21/02/2019 11.30 AM
            <div class="col-md-3 ml-3">
                <td>
                    <button type="button" class="btn btn-outline failedBtn statusBtnCss marginTop10Align"><img
                            src="assets/images/failedImg.png"> <span class="statusVericalCss"> Failed</span></button>
                </td>
            </div>
        </div>
        <div class="mt-2">
            <table width="100%" class="table table-striped table-bordered">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead class="marginTop10Align txt-color">
                    <tr>
                        <th>
                            <span>Iteration Name&nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th style="align-content: center;">
                            <span>Start Time &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th>
                            <span>End Time &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th>
                            <span>Duration &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th>
                            <span>Status &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>

                    </tr>
                </thead>
                <tbody class="marginTop10Align">

                    <tr data-toggle="modal" data-target="#historyTestSuiteTemplateModal">
                        <td>
                            <div class="marginTop10Align">
                                <!-- <img src="assets/images/rightArrow.png"> -->
                                Iteration_Set_1
                            </div>
                        </td>
                        <td>
                            <div class="inlineImages  marginTop10Align">
                                <span class="timeTxt">11.05Am</span>
                                <span class="dateTxt">21/12/2019</span>
                            </div>
                        </td>
                        <td>
                            <div class="inlineImages  marginTop10Align">
                                <span class="timeTxt">11.05Am</span>
                                <span class="dateTxt">21/12/2019</span>
                            </div>
                        </td>

                        <td>
                            <div class="marginTop10Align">
                                1 min 25 Sec
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline failedBtn statusBtnCss marginTop10Align"><img
                                    src="assets/images/failedImg.png"> <span class="statusVericalCss">
                                    Failed</span></button>
                        </td>
                    </tr>
                    <tr class="marginTop10Align">
                        <td>
                            <div class="marginTop10Align">
                                <!-- <img src="assets/images/rightArrow.png"> -->
                                Iteration_Set_2
                            </div>
                        </td>
                        <td>
                            <div class="inlineImages  marginTop10Align">
                                <span class="timeTxt">11.05Am</span>
                                <span class="dateTxt">21/12/2019</span>
                            </div>
                        </td>
                        <td>
                            <div class="inlineImages  marginTop10Align">
                                <span class="timeTxt">11.05Am</span>
                                <span class="dateTxt">21/12/2019</span>
                            </div>
                        </td>

                        <td>
                            <div class="marginTop10Align">
                                1 min 25 Sec
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline passedBtn statusBtnCss marginTop10Align "><img
                                    src="assets/images/passed.png"> <span class="statusVericalCss">
                                    Passed</span></button>
                        </td>
                    </tr>
                    <tr class="marginTop10Align">
                        <td>
                            <div class="marginTop10Align">
                                <!-- <img src="assets/images/rightArrow.png"> -->
                                Iteration_Set_3
                            </div>
                        </td>
                        <td>
                            <div class="inlineImages  marginTop10Align">
                                <span class="timeTxt">11.05Am</span>
                                <span class="dateTxt">21/12/2019</span>
                            </div>
                        </td>
                        <td>
                            <div class="inlineImages  marginTop10Align">
                                <span class="timeTxt">11.05Am</span>
                                <span class="dateTxt">21/12/2019</span>
                            </div>
                        </td>

                        <td>
                            <div class="marginTop10Align">
                                1 min 25 Sec
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline runningBtn statusBtnCss marginTop10Align"><img
                                    src="assets/images/running.png"> <span class="statusVericalCss">
                                    Running</span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<router-outlet></router-outlet>
