<form [formGroup]="userRoleForm" (ngSubmit)="saveRole()">
   <div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Configuration / User Role</span></div>
   <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
      <div class="col-md-12">
         <span class="heading">User Role</span>
         <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}<b></b></div>
         <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
      </div>
      <div class="col-md-10 offset-md-1">
         <div class="row col-md-12">
            <div class="col-md-6 form-group ">
               <label for="userRoleName" class="txtControlLblCss">Role Name<span>*</span></label>
               <input class="form-control txtControlCss" name="userRoleName" id="userRoleName" type="text"
                  formControlName="userRoleName"
                  (keypress)="this.dataservice.validate($event)"
                  [ngClass]="{ 'is-invalid': submitted && f.userRoleName.errors }"
                  (change)="changeData($event)">
               <div *ngIf="this.submitted && f.userRoleName.errors" class="text-danger">
                  <label *ngIf="f.userRoleName.errors.required">Please enter the role name</label>
                  <label *ngIf="f.userRoleName.hasError('minlength')">Role name should not be less than 2 characters</label>
                  <label *ngIf="f.userRoleName.hasError('maxlength')">Role name should not be more than 50 characters</label>
               </div>
               <div  *ngIf='this.minLengthMsg' class="minLengthMsgCss">
                  <label>Role name should not be less than 2 characters</label> 
               </div>
            </div>

            <div class="form-group col-md-6">
               <label for="roleDescription" class="txtControlLblCss">Description</label>
               <textarea id="roleDescription" title="Max 255 characters" maxlength="255" name="roleDescription"
                  class="form-control textareaControls" rows="2" formControlName="roleDescription">
                  </textarea>
            </div>
         </div>
         <div class="clearfix"></div>
         <div class="text-center col-md-12">
            <button type="submit" class="btn saveBtnCss">Save</button>&nbsp;
            <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
         </div>
      </div>
   </div>
</form>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
   <div class="col-md-10"></div>
   <div class="col-md-2 text-right">
      <div class="form-group">
         <div class="input-group searchMarginLeft">
            <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" placeholder="Search role">
            <div class="input-group-append">
               <button class="btn btn-secondary" type="button" id="searchicon">
                  <i class="fa fa-search" id="searchicon"></i>
               </button>
            </div>
         </div>
      </div>
   </div>
   <div style="width: 100% !important; height:500px !important; overflow: auto;">
      <table id="userRoleTable" width="100%" *ngIf="this.roleList !=null" class="table table-hover table-sticky table-striped table-bordered">
         <colgroup>
            <col>
            <col>
            <col>
         </colgroup>
         <thead>
            <tr>
               <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('userRoleName')">
                  <span>Role Name &nbsp;</span>
                  <div class="inlineImages my-auto">
                     <img src="assets/images/up.png">
                     <img src="assets/images/down.png">
                  </div>
               </th>
               <th class="WrapInLine">Description</th>
               <th class="WrapInLine">Action</th>
            </tr>
         </thead>
         <tbody *ngIf="( this.roleList | filter : txtSearch) as result">
            <tr *ngFor="let role  of result">
               <td>{{role.userRoleName}}</td>
               <td>{{role.roleDescription}}</td>
               <td class="WrapInLine">
                  <a title="Edit user role" (click)="getRoleById(role.roleId)">
                     <img src="assets/images/edit.png"></a>&nbsp;
                  <a title="Delete user role" (click)="deleteRole(role.roleId)">
                     <img src="assets/images/trash.png"></a>
               </td>
            </tr>
            <tr id="notFoundDiv" *ngIf="result.length === 0" style="font-weight: bold">
               <td colspan=3 style="text-align: center;">No Records Found</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>