

<div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Configuration / Language Label</span></div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-12 row d-flex justify-content-between">

        <div>
            <span class="heading" data-toggle="modal" data-target="#popProgress">Language Label</span>
        </div>
        <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}<b></b></div>
        <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
    </div>

    <div class="col-md-12 row d-flex justify-content-center">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" [checked]="1" (change)="radioCheck(1)" id="customRadio" name="example" value="customEx">
            <label class="custom-control-label radioBtnTxt" for="customRadio">Create</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" (change)="radioCheck(2)" id="customRadio2" name="example" value="customEx">
            <label class="custom-control-label radioBtnTxt" for="customRadio2">Import</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" (change)="radioCheck(3)" id="customRadio3" name="example" value="customEx">
            <label class="custom-control-label radioBtnTxt" for="customRadio3">Export</label>
        </div>
    </div>


    <div class="col-md-10 offset-md-1 mt-2 " *ngIf="this.isRadioChecked==1">
        <form [formGroup]="elementForm">

            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId" (change)="changeProjectType($event)" [ngClass]="{ 'is-invalid': submitted && f.projectTypeId.errors }" formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.projectTypeId.errors" class="text-danger">
                        <label *ngIf="f.projectTypeId.errors.required">Please select the project type</label>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="regionId" (change)="changeRegion($event)" [ngClass]="{ 'is-invalid': submitted && f.regionId.errors }" formControlName="regionId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.regionId.errors" class="text-danger">
                        <label *ngIf="f.regionId.errors.required">Please select the region</label>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" (change)="changeBrand($event)" id="brandId" [ngClass]="{ 'is-invalid': submitted && f.brandId.errors }" formControlName="brandId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.brandId.errors" class="text-danger">
                        <label *ngIf="f.brandId.errors.required">Please select the brand</label>
                    </div>
                </div>

            </div>
          
             <div class="row col-md-12">
             
               

                 <div class="form-group col-md-4">
                    <label for="languageId" class="txtControlLblCss">Language<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="languageId"
                        [ngClass]="{ 'is-invalid': submitted && f.languageId.errors }"
                        formControlName="languageId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="language.languageId" *ngFor="let language of this.languageList" [selected]="language.languageId === 1">
                            {{language.languageName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.languageId.errors" class="text-danger">
                        <label *ngIf="f.languageId.errors.required">Please select the language</label>
                    </div>
                </div>

               <div class="col-md-4 form-group">
                    <label for="labelCode" class="txtControlLblCss">Label Code<span>*</span></label>
                    <input class="form-control txtControlCss" autocomplete="off" name="labelCode" id="labelCode" type="text" (change)="changeData($event)"  formControlName="labelCode" [ngClass]="{ 'is-invalid': submitted && f.labelCode.errors }">
                    <div *ngIf="this.submitted && f.labelCode.errors" class="text-danger">
                        <label *ngIf="f.labelCode.hasError('whitespace') || f.labelCode.errors.required">Please enter the language code</label>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label for="labelName" class="txtControlLblCss">Label Value<span>*</span></label>
                    <textarea id="labelName" name="labelName" class="form-control textareaControls" title="Max 500 characters" maxlength="500" rows="2" (change)="changeLabelName($event)" formControlName="labelName" [ngClass]="{ 'is-invalid': submitted && f.labelName.errors }"></textarea>
                    <div *ngIf="this.submitted && f.labelName.errors" class="text-danger">
                        <label *ngIf="f.labelName.hasError('whitespace') || f.labelName.errors.required">Please enter the language name</label>
                    </div>
                </div>

            </div>
            <div class="row col-md-12">
               
                <div class="col-md-4 form-group">
                    <label for="labelDesc" class="txtControlLblCss">Description</label>
                    <textarea id="labelDesc" name="labelDesc" class="form-control textareaControls" title="Max 500 characters" maxlength="500" rows="2" formControlName="labelDesc">
                    </textarea>
                </div>
                

            </div>
        </form>
    </div>

    <div class="col-md-12  mt-2 " *ngIf="this.isRadioChecked==2">
        <form [formGroup]="elementFormImport">
            <div class="row col-md-12 justify-content-center">

                <div class="form-group col-md-3">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId" (change)="changeProjectType($event)" [ngClass]="{ 'is-invalid': submitted && fImp.projectTypeId.errors }" formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && fImp.projectTypeId.errors" class="text-danger">
                        <label *ngIf="fImp.projectTypeId.errors.required">Please select the project type</label>
                    </div>
                </div>
              
                <div class="form-group col-md-3">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="regionId" (change)="changeRegion($event)" [ngClass]="{ 'is-invalid': submitted && fImp.regionId.errors }" formControlName="regionId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                    <div *ngIf="this.submitted && fImp.regionId.errors" class="text-danger">
                        <label *ngIf="fImp.regionId.errors.required">Please select the region</label>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="brandId" 
                    [ngClass]="{ 'is-invalid': submitted && fImp.brandId.errors }" formControlName="brandId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                    <div *ngIf="this.submitted && fImp.brandId.errors" class="text-danger">
                        <label *ngIf="fImp.brandId.errors.required">Please select the brand</label>
                    </div>
                </div>
              
            </div>
       
        </form>
    </div>
    
    <div class="col-md-12  mt-2 " *ngIf="this.isRadioChecked==3">
        <form [formGroup]="elementFormExport">
            <div class="row col-md-12 justify-content-center">

                <div class="form-group col-md-3">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId" (change)="changeProjectType($event)" [ngClass]="{ 'is-invalid': submitted && fImp.projectTypeId.errors }" formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && fImp.projectTypeId.errors" class="text-danger">
                        <label *ngIf="fImp.projectTypeId.errors.required">Please select the project type</label>
                    </div>
                </div>
              
                <div class="form-group col-md-3">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="regionId" (change)="changeRegion($event)" [ngClass]="{ 'is-invalid': submitted && fImp.regionId.errors }" formControlName="regionId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                    <div *ngIf="this.submitted && fImp.regionId.errors" class="text-danger">
                        <label *ngIf="fImp.regionId.errors.required">Please select the region</label>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="brandId" (change)="changeBrand($event)"
                    [ngClass]="{ 'is-invalid': submitted && fImp.brandId.errors }" formControlName="brandId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                    <div *ngIf="this.submitted && fImp.brandId.errors" class="text-danger">
                        <label *ngIf="fImp.brandId.errors.required">Please select the brand</label>
                    </div>
                </div>
              
            </div>
        </form>
    </div>


    <div class="clearfix"></div>
    <div class="d-flex justify-content-center col-md-12 row mt-4">
        <div class="text-center btn-file" *ngIf="this.isRadioChecked==2">
            <button type="button" class="btn btn-file saveBtnCss mr-1">Import</button>
            <input #importFile for="importFile" type="file" accept=".xlsx, .xls" (change)="onSuccess($event)" name="importFile">
        </div>
        <div class="text-center btn-file" *ngIf="this.isRadioChecked==3">
            <button type="button" class="btn btn-file saveBtnCss mr-1" (click)="exportElementFile()">Export</button>
            <!-- <input #importFile for="importFile" type="file" accept=".xlsx, .xls" 
                    name="importFile"> -->
        </div>
        <button type="submit" class="btn saveBtnCss" *ngIf="this.isRadioChecked!=3" (click)="saveElement()">Save</button>&nbsp;
        <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
    </div>
</div>

<div class="row marginCss paddingCss whiteBackgroundCss mt-2" *ngIf="this.isRadioChecked!=3">
    <div class="col-md-10"> </div>

    <div class="col-md-2 text-right">
        <div class="form-group">
            <div class="input-group searchMarginLeft">
                <!-- removed (click)="filter('keywordName')" input,   removed   (change)="filter()" from div under input for search all column -->
                <input type="text" class="form-control" [(ngModel)]="txtSearch" placeholder="Search element">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="searchicon">
                        <i class="fa fa-search" id="searchicon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
       
    <div style="width: 100% !important; height:500px !important; overflow: auto;" *ngIf="this.isRadioChecked==1" >
        <table id="elementTable" *ngIf="this.languageLabelList!=null" class="table table-striped table-bordered">
            <thead style="position: static;">
            <tr>

                <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('labelId')">
                    <span>Label ID &nbsp;</span>
                    <div class="inlineImages my-auto">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
                <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('labelCode')">
                    <span>Label Code &nbsp;</span>
                    <div class="inlineImages my-auto">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
                <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('labelName')">
                    <span>Label Value &nbsp;</span>
                    <div class="inlineImages my-auto">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
                <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('brandName')">
                    <span>Brand &nbsp;</span>
                    <div class="inlineImages my-auto">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
               
                <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('languageName')">
                    <span>Language &nbsp;</span>
                    <div class="inlineImages my-auto">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
               
                   
                   
                <th class="WrapInLine">Description</th>
                <th class="WrapInLine">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="( this.languageLabelList | filter : txtSearch) as result">
                <!-- changes by mustaid 22/5/2020 for all table  search  326-328 -->
                <!-- <tr *ngFor="let element of this.elementList  |  searchData: this.dataservice.customFilter  ;let i=index;"> -->
                <tr *ngFor="let languageLabel of result">
                   <td>{{languageLabel.labelId}}</td>
                   <td>{{languageLabel.labelCode}}</td>
                    <td>{{languageLabel.labelName}}</td>
                    <td>{{languageLabel.brandName}}</td>
                    <td>{{languageLabel.languageName}}</td>
                    <td>{{languageLabel.labelDesc}}</td>
                    <td class="WrapInLine">
                        <a title="Edit element" (click)="getLanguageLabelById(languageLabel.labelId)">
                            <img src="assets/images/edit.png"></a>&nbsp;
                        <a title="Delete element" (click)="deleteLanguageLabel(languageLabel.labelId)">
                            <img src="assets/images/trash.png"></a>
                    </td>
                </tr>
                <tr id="notFoundDiv" *ngIf="result.length === 0" style=" font-weight: bold">
                    <td colspan=8 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
    


   
   
        <div  id="importTable" style="width: 100% !important; height:500px !important; overflow: auto;">
            <div *ngIf="this.isRadioChecked==2">
            <table class="table  table-bordered" style=" background-color:#ffffff;" *ngIf="data.length != 0  && this.importFile!=null">
            <thead  style="position: sticky;">
                <tr>
                    
                    <th>labelCode</th>
                    <th>brandName</th>
                    <th>english</th>
                    <th>italian</th>
                    <th>german</th>
                    <th>dutch</th>
                    <th>french</th>
                    <th>polish</th>
                    <th>portuguese</th>
                    <th>spanish</th>
                </tr>
            </thead>

            <tbody  *ngIf="( this.data | filter : txtSearch) as result">
                <!-- changes by mustaid 22/5/2020 for all table  search  367-369 -->
                    <!-- <tr *ngFor="let d of this.data  |  searchData: this.dataservice.customFilter"> -->
                <tr *ngFor="let d of result">
                    
                    <td>{{d.labelCode}}</td>
                    <td>{{d.brandName}}</td>
                    <td>{{d.english}}</td>
                    <td>{{d.italian}}</td>
                    <td>{{d.german}}</td>
                    <td>{{d.dutch}}</td>
                    <td>{{d.french}}</td>
                    <td>{{d.polish}}</td>
                    <td>{{d.portuguese}}</td>
                    <td>{{d.spanish}}</td>
                   
                </tr>
                <tr id="notFoundDiv" *ngIf="result.length === 0" style=" font-weight: bold">
                    <td colspan=6 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
            </div>
    </div>
</div>
