<form [formGroup]="applianceCategoryForm" (ngSubmit)="saveApplianceCategory()">
    <div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Configuration / Appliance Category</span></div>
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12 mb-2">
            <span class="heading">Appliance Category</span>
            <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}<b></b></div>
            <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
        </div>
        <div class="col-md-10 offset-md-1">
            <div class="row col-md-12">
                <div class="col-md-6 form-group">
                    <label for="applianceCategoryCode txtControlLblCss" class="txtControlLblCss">Appliance Category
                        Code<span>*</span></label>
                    <input class="form-control txtControlCss" name="applianceCategoryCode" id="applianceCategoryCode"
                        type="text" formControlName="applianceCategoryCode" (change)="changeData($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.applianceCategoryCode.errors }">
                    <div *ngIf="this.submitted && f.applianceCategoryCode.errors" class="text-danger">
                            <label *ngIf="f.applianceCategoryCode.hasError('whitespace') || f.applianceCategoryCode.errors.required">Please enter the appliance
                                category code</label>

                    </div>
                </div>
                <div class="col-md-6 form-group ">
                    <label for="applianceCategoryName txtControlLblCss" class="txtControlLblCss">Appliance Category
                        Name<span>*</span></label>
                    <input class="form-control txtControlCss" name="applianceCategoryName" id="applianceCategoryName"
                        type="text" formControlName="applianceCategoryName"
                        [ngClass]="{ 'is-invalid': submitted && f.applianceCategoryName.errors }">
                    <div *ngIf="this.submitted && f.applianceCategoryName.errors" class="text-danger">

                            <label *ngIf="f.applianceCategoryName.hasError('whitespace') || f.applianceCategoryName.errors.required">Please enter the appliance
                                category name</label>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6 form-group ">
                    <label for="applianceCategoryDesc txtControlLblCss" class="txtControlLblCss">Description</label>
                    <textarea id="applianceCategoryDesc" name="applianceCategoryDesc" title="Max 255 characters"
                        maxlength="255" formControlName="applianceCategoryDesc" class="form-control textareaControls"
                        rows="2" name="applianceCategoryDesc">
            </textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-md-12">
                <button type="submit" class="btn saveBtnCss">Save</button>&nbsp;
                <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
            </div>
        </div>
    </div>
</form>

<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-right">
        <div class="form-group">
            <div class="input-group searchMarginLeft">
                <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" placeholder="Search catagory name">
                <div class="input-group-append" >
                    <button class="btn btn-secondary" type="button" id="searchicon">
                        <i class="fa fa-search" id="searchicon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100% !important; height:500px !important; overflow: auto;">
        <table id="appCatTable"width="100%" *ngIf="this.applianceCategoryList !=null" class="table table-hover table-sticky table-striped table-bordered">
            <thead>
                <tr>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('applianceCategoryCode')">
                        <span>Appliance Category Code &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('applianceCategoryName')">
                        <span>Appliance Category Name &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th class="WrapInLine">Description</th>
                    <th class="WrapInLine">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="( this.applianceCategoryList | filter : txtSearch) as result">
                    <tr *ngFor="let applianceCategory  of result">
                    <td>{{applianceCategory.applianceCategoryCode}}</td>
                    <td>{{applianceCategory.applianceCategoryName}}</td>
                    <td>{{applianceCategory.applianceCategoryDesc}}</td>
                    <td class="WrapInLine">
                        <a title="Edit applience catagory"
                            (click)="getApplianceCategoryById(applianceCategory.applianceCategoryId)">
                            <img src="assets/images/edit.png"></a>&nbsp;
                        <a title="Delete applience catagory"
                            (click)="deleteApplianceCategory(applianceCategory.applianceCategoryId)">
                            <img src="assets/images/trash.png"></a>
                    </td>
                </tr>
                <tr  *ngIf="result.length === 0" style=" font-weight: bold">
                    <td colspan=4 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>