<form [formGroup]="applianceForm" (ngSubmit)="saveAppliance()">
    <div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Configuration / Appliance</span></div>
    <div class=" row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12">
            <span class="heading">Appliance</span>
            <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}<b></b></div>
            <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
        </div>
        <div class="col-md-10 offset-md-1">
            <div class="row col-md-12">

                <div class="form-group col-md-4">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId"
                        (change)="changeProjectType($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.projectTypeId.errors }"
                        formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.projectTypeId.errors" class="text-danger">
                        <label *ngIf="f.projectTypeId.errors.required">Please select Project Type</label>
                    </div>
                </div>



                <div class="col-md-4 form-group">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;padding-top: 2px;" id="regionId"
                        (change)="changeRegion($event)" [ngClass]="{ 'is-invalid': submitted && f.regionId.errors }"
                        formControlName="regionId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionName}}</option>
                    </select>

                    <div *ngIf="this.submitted && f.brandId.errors" class="text-danger">
                        <label *ngIf="f.brandId.errors.required">Please select the region</label>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;padding-top: 2px;" id="brandId"
                        [ngClass]="{ 'is-invalid': submitted && f.brandId.errors }" formControlName="brandId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>

                    <div *ngIf="this.submitted && f.brandId.errors" class="text-danger">
                        <label *ngIf="f.brandId.errors.required">Please select the brand</label>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4 form-group ">
                    <label for="applianceCode" class="txtControlLblCss">Appliance Category<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;padding-top: 2px;"
                        id="applianceCategoryId" [ngClass]="{ 'is-invalid': submitted && f.applianceCategoryId.errors }"
                        formControlName="applianceCategoryId" (change)="changeApplianceCatagory($event)">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="allAppliacecategory.applianceCategoryId"
                            *ngFor="let allAppliacecategory of this.applianceCategoryList">
                            {{allAppliacecategory.applianceCategoryName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.applianceCategoryId.errors" class="text-danger">
                        <label *ngIf="f.applianceCategoryId.errors.required">Please select the appliance
                            category</label>
                    </div>
                </div>
                <div class="col-md-4 form-group ">
                    <label for="applianceCode" class="txtControlLblCss">Appliance Code<span>*</span></label>
                    <input class="form-control txtControlCss" name="applianceCode" id="applianceCode" type="text"
                        (change)="changeData($event)" formControlName="applianceCode"
                        [ngClass]="{ 'is-invalid': submitted && f.applianceCode.errors }">

                    <div *ngIf="this.submitted && f.applianceCode.errors" class="text-danger">
                        <label *ngIf="f.applianceCode.hasError('whitespace') || f.applianceCode.errors.required">Please enter the appliance code</label>
                    </div>
                </div>
                <div class="col-md-4 form-group ">
                    <label for="applianceName" class="txtControlLblCss">Appliance Name<span>*</span></label>
                    <input class="form-control txtControlCss" name="applianceName" id="applianceName" type="text"
                        formControlName="applianceName"
                        [ngClass]="{ 'is-invalid': submitted && f.applianceName.errors }">

                    <div *ngIf="this.submitted && f.applianceName.errors" class="text-danger">
                        <label *ngIf="f.applianceName.hasError('whitespace') || f.applianceName.errors.required">Please enter the appliance
                            name</label>

                    </div>
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-8 form-group">
                    <label for="applianceDesc" class="txtControlLblCss">Description</label>
                    <textarea id="applianceDesc" name="applianceDesc " title="Max 255 characters" maxlength="255"
                        formControlName="applianceDesc" class="form-control textareaControls" rows="2">
                                            </textarea>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="text-center col-md-12">
                <button type="submit" class="btn saveBtnCss">Save</button>&nbsp;
                <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
            </div>
        </div>
    </div>
</form>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-right">
        <div class="form-group">
            <div class="input-group searchMarginLeft">
                <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" placeholder="Search appliance category">
                <div class="input-group-append" >
                    <button class="btn btn-secondary" type="button" id="searchicon">
                        <i class="fa fa-search" id="searchicon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100% !important; height:500px !important; overflow: auto;">
        <table id="appTable"width="100%" *ngIf="this.applianceList!=null;" class="table table-hover table-sticky table-striped table-bordered">
            <thead>
                <tr>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('projectTypeName')">
                        <span>Project Type &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('regionName')">
                        <span>Region &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;"class="WrapInLine" (click)="sortTable('brandName')">
                        <span>Brand &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('applianceCategoryName')">
                        <span>Appliance Category &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('applianceCode')">
                        <span>Appliance Code &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('applianceName')">
                        <span>Appliance Name &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th class="WrapInLine">Description</th>
                    <th class="WrapInLine">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="( this.applianceList | filter : txtSearch) as result">
                    <tr *ngFor="let appliance  of result">
                    <td>{{appliance.projectTypeName}}</td>
                    <td>{{appliance.regionName}}</td>
                    <td>{{appliance.brandName}}</td>
                    <td>{{appliance.applianceCategoryName}}</td>
                    <td class="leftBorderTdCss">{{appliance.applianceCode}}</td>
                    <td>{{appliance.applianceName}}</td>
                    <td>{{appliance.applianceDesc}}</td>
                    <td class="rightBorderTdCss WrapInLine">
                        <a title="Edit appliance" (click)="getApplianceById(appliance.applianceId)">
                            <img src="assets/images/edit.png"></a>&nbsp;
                        <a title="Delete applience" (click)="deleteApplianceById(appliance.applianceId)">
                            <img src="assets/images/trash.png"></a>
                    </td>
                </tr>
                <tr  *ngIf="result.length === 0" style=" font-weight: bold">
                    <td colspan=8 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>