<form [formGroup]="testCaseForm" (ngSubmit)="saveTestCase()">
    <div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Test Case</span></div>
    <div *ngIf="this.isCopying == true" class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <span class="heading ml-3 mb-3">Copy From </span>
        <div class="col-md-12 ml-3 row">
            <div class="col-md-4">
                <span class="headingSmall">Region :</span><span id="OldRegionId">&nbsp;{{this.oldRegionName}}</span>
            </div>
            <div class="col-md-4">
                <span class="headingSmall">Brand :</span><span>&nbsp;{{this.oldBrandName}}</span>
            </div>
            <div class="col-md-4">
                <span class="headingSmall">Project Type :</span><span>&nbsp;{{ this.oldProjectType }}</span>
            </div>
        </div>
        <div class="col-md-12 ml-3 mt-3 row">
            <div class="col-md-4" *ngIf = '!this.isSharedParaFlag'>
                <span class="headingSmall">Product Name :</span><span>&nbsp;{{this.oldProjectName}}</span>
            </div>
            <div class="col-md-4" *ngIf="this.isCopying==true && this.isSharedParaFlag ==false">
                <span class="headingSmall">Test Suite :</span><span>&nbsp;{{ this.oldSuiteName}}</span>
            </div>
            <div class="col-md-4">
                <span class="headingSmall">Test Case Name :</span><span>&nbsp;{{this.oldCaseName}}</span>
            </div>
        </div>
        <div class="col-md-12 ml-3 mt-3 mb-3 row">
            <div class="col-md-4">
                <span class="headingSmall">Description :</span><span>&nbsp;{{this.oldtestCaseDesc}}</span>
            </div>
        </div>
    </div>
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12">
            <span *ngIf="this.isCopying == true" class="heading">Copy To</span>
            <span *ngIf="this.isCopying == false" class="heading">Test Case</span>
            <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}<b></b></div>
            <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
        </div>
        <div class="col-md-10 offset-md-1">
            <div class="row col-md-12">
                <div class="form-group col-md-12">
                    <div class="col-md-4 p-0">
                        <label class="container_ ">
                            <input id="All" class="checkBoxClass"
                                (click)="checksharedtestcase($event)"
                                type="checkbox" formControlName="isShared">
                                <span class="checkmark mt-2"></span>
                                <span class="txtControlLblCss mr-2" style="font-size: 16px;margin-left: 24px;">Create Shared/Universal test case</span>
                        </label>

                      </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId"
                        (change)="changeProjectType($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.projectTypeId.errors }"
                        formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.projectTypeId.errors" class="text-danger">
                        <label *ngIf="f.projectTypeId.errors.required">Please select the project type</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="regionId"
                        (change)="changeRegion($event)" [ngClass]="{ 'is-invalid': submitted && f.regionId.errors }"
                        formControlName="regionId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.regionId.errors" class="text-danger">
                        <label *ngIf="f.regionId.errors.required">Please select the region</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="brandId"
                        [ngClass]="{ 'is-invalid': submitted && f.brandId.errors }" formControlName="brandId"
                        (change)="changeBrand($event)">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.brandId.errors" class="text-danger">
                        <label *ngIf="f.brandId.errors.required">Please select the brand</label>
                    </div>
                </div>




            </div>
            <div class="row col-md-12">

                <div class="col-md-4 form-group" *ngIf="this.sharedTestcaseFlag">
                    <label for="projectName" class="txtControlLblCss">Product Name<span>*</span></label>
                    <input class="form-control txtControlCss" autocomplete="off" name="projectName" id="txtAutoComplete"
                        type="text" formControlName="projectName" list="projectName" (change)="changeProjectName($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.projectName.errors }">
                    <datalist id="projectName">
                        <option *ngFor="let allProjName of this.allProjectName; let i=index">{{allProjName.projectName}}
                        </option>
                    </datalist>

                    <div *ngIf="this.submitted && f.projectName.errors" class="text-danger">
                        <label *ngIf="f.projectName.hasError('whitespace') || f.projectName.errors.required">Please enter the product name</label>
                    </div>
                </div>

                <div class="form-group col-md-4" *ngIf="this.sharedTestcaseFlag">
                    <label for="testSuiteId" class="txtControlLblCss">Test Suite<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="testSuiteId"
                        formControlName="testSuiteId" (change)="changeSuite($event)">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="testSuite.testSuiteId" *ngFor="let testSuite of this.testSuiteList">
                            {{testSuite.testSuiteName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.testSuiteId.errors" class="text-danger">
                        <label *ngIf="f.testSuiteId.errors.required">Please select the test suite</label>
                    </div>
                </div>

                <div class="col-md-4 form-group " *ngIf="!isImportFlag">
                    <label for="testCaseName" class="txtControlLblCss">Test Case Name<span>*</span></label>
                    <input class="form-control txtControlCss" autocomplete="off" name="testCaseName" id="testCaseName" type="text"
                        (change)="changeTestCaseName($event)" formControlName="testCaseName"
                        [ngClass]="{ 'is-invalid': submitted && f.testCaseName.errors }">
                    <div *ngIf="this.submitted && f.testCaseName.errors" class="text-danger">
                        <label *ngIf="f.testCaseName.hasError('whitespace') || f.testCaseName.errors.required">Please enter the test case name</label>
                    </div>
                </div>


            </div>

            <div class="row col-md-12">
                <div class="col-md-6 form-group">
                    <label for="testCaseDesc" class="txtControlLblCss">Description</label>
                    <textarea id="testCaseDesc" title="Max 255 characters" maxlength="255"
                        formControlName="testCaseDesc" class="form-control textareaControls" rows="2"
                        name="testCaseDesc">
                        </textarea>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="d-flex justify-content-center row ">
                <div class="text-center btn-file" *ngIf="!this.sharedTestcaseFlag">
                    <button *ngIf="this.isCopying == false" type="button"
                        class="btn btn-file saveBtnCss">Import</button>
                    <input #importFile for="importFile" type="file" accept=".xlsx, .xls" (change)="onSuccess($event)"
                        name="importFile">
                </div>&nbsp;
                <button type="submit" class="btn saveBtnCss" [disabled]="isClicked" id="btnSaveCase">Save</button>&nbsp;
                <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
                <button *ngIf="this.isCopying == true" type="button" class="btn clearBtnCss ml-1"
                    routerLink="/test_case/search_test_case">Cancel</button>
            </div>

        </div>
    </div>
</form>

<!-- Import file data table -->
<div id="importTable" class="row marginCss paddingCss whiteBackgroundCss mt-2" style="overflow: auto;">
    <div class="table-responsive" >
    <table id="createTestSuiteTable" class="table table-bordered" style=" background-color:#ffffff;"
        *ngIf="data.length != 0">
        <thead>
            <tr>
                <th (click)="sortTable(0)">MobileApp</th>
                <th (click)="sortTable(1)">Version</th>
                <th (click)="sortTable(2)">Appliance</th>
                <th (click)="sortTable(3)">Module</th>
                <th (click)="sortTable(4)">Platform</th>
                <th (click)="sortTable(5)">TestCaseID</th>
                <th (click)="sortTable(6)">TestCaseName</th>
                <th (click)="sortTable(7)">TestStepID</th>
                <th (click)="sortTable(8)">TestStepDescription</th>
                <th (click)="sortTable(9)">Element</th>
                <th (click)="sortTable(10)">Keyword</th>
                <th *ngFor="let it of this.listIteraions">
                    {{it.IterationHeading.substr(0,1).toUpperCase()+ it.IterationHeading.substr(1,it.IterationHeading.length).toLowerCase()}}
                </th>

            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let d of this.data">
                <td>{{d.MOBILEAPP}}</td>
                <td>{{d.VERSION}}</td>
                <td>{{d.APPLIANCE}}</td>
                <td>{{d.MODULE}}</td>
                <td>{{d.PLATFORM}}</td>
                <td>{{d.TESTCASEID}}</td>
                <td>{{d.TESTCASENAME}}</td>
                <td>{{d.TESTSTEPID}}</td>
                <td>{{d.TESTSTEPDESCRIPTION}}</td>
                <td>{{d.ELEMENT}}</td>
                <td>{{d.KEYWORD}}</td>
                <td *ngFor="let it of this.listIteraions">
                    {{d[it.IterationHeading]}}
                </td>
            </tr>

        </tbody>
    </table>
</div>
</div>

<!-- --------- Display Progress bar Modal---------- -->
<div class="modal fade" id="popProgress" data-keyboard="false" data-backdrop="static"
    style="z-index: 2147483647;background: black;opacity: 0.8;">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class=" modal-body">
                <div class="container">
                    <h2 style="font-size: 12px;">{{this.steps}}</h2>
                    <div class="progress">
                        <div class="progress-bar" [style.width]="widthfooter">{{widthfooter}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>