<form [formGroup]="documentForm" (ngSubmit)="saveDocument()" *ngIf="this.Admin == role || this.Test_Mgr== role">
  <div class="row marginCss mt-2"> <span class="breadcrumCss">Home /Documents</span></div>
  <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-12">
      <span class="heading">Document</span>
      <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}</div>
      <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
    </div>
    <div class="col-md-10 offset-md-1">
      <div class="row col-md-12">
        <div class="form-group col-md-6">
          <label for="documentName" class="txtControlLblCss">Document Name<span>*</span></label>
          <input class="form-control txtControlCss" name="documentName" id="documentName" type="text"
                 formControlName="documentName" (change)="changeData($event)"  [ngClass]="{ 'is-invalid': submitted && f.documentName.errors }">
          <div *ngIf="this.submitted && f.documentName.errors" class="text-danger">
            <label *ngIf="f.documentName.hasError('whitespace') || f.documentName.errors.required">Please enter the document name</label>
          </div>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="form-group col-md-6">
          <label for="documentLink" class="txtControlLblCss">Document Link<span>*</span></label>
          <input class="form-control txtControlCss" name="documentLink" id="documentLink" type="text"
                 formControlName="documentLink" (change)="changeData($event)"  [ngClass]="{ 'is-invalid': submitted && f.documentLink.errors }">
          <div *ngIf="this.submitted && f.documentName.errors" class="text-danger">
            <label *ngIf="f.documentLink.hasError('whitespace') || f.documentLink.errors.required">Please enter the document link</label>
          </div>
        </div>
      </div>
      <div class="clearfix col-md-3"></div>
      <div class="text-center">
        <button type="submit" class="btn saveBtnCss">Save</button>&nbsp;
        <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
      </div>
    </div>
  </div>
</form>
<div class="row marginCss mt-2"> <span class="breadcrumCss">Home /Documents</span></div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-12 paddingLeftCss">
        <span class="heading">Documents</span>
    </div>

    <div class="col-md-8"></div>
    <div class="col-md-2 text-right p-0">
        <div class="col-md-12 form-group p-0">
            <div class="input-group">
                <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" name="jobName"
                    placeholder="Search Document by name">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="searchicon">
                        <i class="fa fa-search" id="searchicon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100% !important; height:500px !important; overflow:auto;">
        <table id="documentsTable" width="100%" class="table table-hover table-sticky table-striped table-bordered">
            <colgroup>
                <col>
                <col>
                <col>
            </colgroup>
            <thead class="marginTop10Align txt-color ">
                <tr>
                    <th class="WrapInLine" (click)="sortTable('documentId')">
                        <span>Sr. No. &nbsp;</span>
                    </th>
                    <th class="WrapInLine">
                        <span>Document Name &nbsp;</span>
                    </th>
                    <th class="WrapInLine">
                        <span>Action&nbsp;</span>
                    </th>
                </tr>
            </thead>
            <tbody class="marginTop10Align" *ngIf="( this.documentList | filter : txtSearch) as result">
                <ng-container *ngFor="let document of result | orderBy:'documentId'; let index=index;let odd=odd; let even=even ;">
                    <tr data-toggle="modal" data-target="#historyTestSuiteTemplateModal"
                        [ngClass]="{ odd: odd, even: even }">
                        <td style="padding-top: 0cm;padding-bottom: 0cm;" >
                            <div class="marginTop10">
                                {{document.documentId}}
                            </div>
                        </td>
                        <td>
                            <div class="marginTop10Align">
                                {{document.documentName}}
                            </div>
                        </td>
                      <td class="WrapInLine">
                        <a (click)="openDocumentLink(document.documentLink)"
                           title="View Document"><img
                          src="assets/images/eye.png"></a>&nbsp;
                        <a *ngIf="this.Admin == role || this.Test_Mgr== role" title="Edit Document" (click)="getDocumentById(document.documentId)">
                          <img src="assets/images/edit.png"></a>&nbsp;
                        <a *ngIf="this.Admin == role || this.Test_Mgr== role" title="Delete Document" (click)="deleteDocument(document.documentId)">
                          <img src="assets/images/trash.png"></a>&nbsp;
                        <a  title="Download Document" (click)="downloadDocument(document.documentLink, document.documentName)">
                          <img src="assets/images/download.png"></a>
                      </td>
                    </tr>
                </ng-container>
                <tr id="notFoundDiv" *ngIf="result.length === 0" style=" font-weight: bold">
                    <td colspan=10 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>
