<div class="row marginLeftRightCss whiteBackgroundCss mt-1">
    <div class="col-md-12 text-center">
        <ul class="nav">
            <li class="nav-item  my-auto" *ngFor="let link  of this.routeLinks; let i = index;">
                <a class="nav-link configInActiveLinkCss" [routerLink]="link.link" routerLinkActive="configActiveLinkCss">
                    <span class="configLinkLblCss">{{link.label}}</span></a>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
