.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    background: #FFFFFF !important;
    /* border: 1px solid #8291A5 !important; */
    box-sizing: border-box !important;
    border-radius: 3px !important;
    height: 30px !important;
    font-size: 12px !important;
}