.downnloadTxt
{
    font-family: Open Sans;
font-weight: 600;
font-size: 14px;
color: #012F60;
}
.clspointer{
    cursor: pointer;
}

.customdrpcss
{
    position: absolute ;
    z-index: 1000;
    right: 20px !important;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.scroll {
  /* overflow-y: auto; */
  border-collapse: collapse;
}

/* .scroll tr {
  display: flex;
} */
/* 
.scroll td {
  padding: 3px;
  flex: 1 auto;

  width: 1px;
  word-wrap: break-word;
} */

.scroll thead tr:after {
  content: '';
  /* overflow-y: auto; */
  visibility: hidden;
  height: 0;
}

.scroll thead th {
  flex: 1 auto;
  display: block;
  width: 50% !important;

}

.scroll tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
  height: 300px;
}

/* Added by Akash---- */

  .WrapInLine
  {
      white-space: nowrap;
  }
 

  .scroll {
   
    border-collapse: collapse;
  }
  
  .scroll tr {
    display: flex;
  }
  
  .scroll td {
    padding: 3px;
    flex: 1 auto;
  
    width: 1px;
    word-wrap: break-word;
  }
  
  .scroll thead tr:after {
    content: '';
    overflow-y: auto;
    visibility: hidden;
    height: 0;
  }
  
  .scroll thead th {
    flex: 1 auto;
    display: block;
    width: 50% !important;
 
  }
  
  .scroll tbody {
    /* display: block; */
    width: 100%;
    overflow-y: scroll;
    height: 500px;
  }

  .search-results {
    height:500px; 
    overflow-y: scroll; 
    width: 100%;
  }

  /* .tableDiv {
    display: inline-block;
    height: 150px;
    overflow: auto
  }
  
  table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
   */
  
