<div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Test Suite</span></div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-10 my-auto">
        <span class="heading">Test Suite</span>
        <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}</div>
        <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn saveBtnCss" routerLink="/test_suite/create_test_suite">Create Test
            Suite</button>
    </div>
</div>
<div>
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="row col-md-12 justify-content-center">

            <div class="row col-md-12 mb-2">
                <div class="form-group col-md-3">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type</label>
                    <select class="form-control txtControlCss js-example-basic-single" style="font-size: 12px;"
                        id="projectTypeId" (change)="changeProjectType($event)" [(ngModel)]="projectTypeId">
                        <option hidden value="0" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="regionId" class="txtControlLblCss ">Region</label>
                    <select class="form-control txtControlCss js-example-basic-single" style="font-size: 12px;"
                        id="regionId" (change)="changeRegion($event)" [(ngModel)]="regionId">
                        <option hidden value="0" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="brandId" class="txtControlLblCss ">Brand</label>
                    <select class="form-control txtControlCss js-example-basic-single" style="font-size: 12px;"
                        id="brandId" [(ngModel)]="brandId" (change)="changeBrand($event)">
                        <option hidden value="0" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="projectName" class="txtControlLblCss ">Product Name</label>
                    <select class="form-control txtControlCss js-example-basic-single" style="font-size: 12px;"
                        id="projectName" [(ngModel)]="projectName" (change)="changeProjectName($event)">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectName.projectName" *ngFor="let projectName of this.projectNameList">
                            {{projectName.projectName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-10 text-right ">
            <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
        </div>
        <div class="col-md-2 text-right paddingLeftCss p-0">
            <wtaf-searchbox  (onSearchTxt)="onTxtSearch($event)" [toolTip]=toolTip></wtaf-searchbox>
            <!-- <div class="input-group" id="searchmargin">
                <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch"
                    placeholder="Search test suite">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="searchicon">
                        <i class="fa fa-search" id="searchicon"></i>
                    </button>
                </div>
            </div> -->
        </div>
        <div class="search-results"
        infinite-scroll
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollThrottle]="throttle"
        (scrolled)="onScrollDown()"
        [scrollWindow]="false"
        >
            <table id="SearchTestSuiteTable" width="100%" class="table table-sticky table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('projectName')">
                            <span>Product Name &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('brandName')">
                            <span>Brand &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('testSuiteName')">
                            <span>Test Suite Name &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('projectTypeName')">
                            <span>Project Type &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('platformName')">
                            <span>Platform &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('applianceName')">
                            <span>Appliance &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('modifiedOn')">
                            <span>Modified On &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('modifiedBy')">
                            <span>Modified By &nbsp;</span>
                            <div class="inlineImages my-auto">
                                <img src="assets/images/up.png">
                                <img src="assets/images/down.png">
                            </div>
                        </th>
                        <th class="ten">Action</th>
                    </tr>
                </thead>
                <tbody id="TblBody"  infinite-scroll [scrollWindow]="false">
                    <tr *ngFor="let testSuite of this.testSuiteList   |  filter: txtSearch  ;let i=index;">
                        <td class="clspointer"
                            (click)="searchTestCase(testSuite.regionId,testSuite.brandId,testSuite.projectTypeId,testSuite.projectName,testSuite.testSuiteId)">
                            {{testSuite.projectName}}</td>
                        <td class="clspointer"
                            (click)="searchTestCase(testSuite.regionId,testSuite.brandId,testSuite.projectTypeId,testSuite.projectName,testSuite.testSuiteId)">
                            {{testSuite.brandName}}</td>
                        <td class="clspointer"
                            (click)="searchTestCase(testSuite.regionId,testSuite.brandId,testSuite.projectTypeId,testSuite.projectName,testSuite.testSuiteId)">
                            {{testSuite.testSuiteName}}</td>
                        <td class="clspointer"
                            (click)="searchTestCase(testSuite.regionId,testSuite.brandId,testSuite.projectTypeId,testSuite.projectName,testSuite.testSuiteId)">
                            {{testSuite.projectTypeName}}</td>
                        <td class="clspointer"
                            (click)="searchTestCase(testSuite.regionId,testSuite.brandId,testSuite.projectTypeId,testSuite.projectName,testSuite.testSuiteId)">
                            {{testSuite.platformName}}</td>
                        <td class="clspointer"
                            (click)="searchTestCase(testSuite.regionId,testSuite.brandId,testSuite.projectTypeId,testSuite.projectName,testSuite.testSuiteId)">
                            {{testSuite.applianceName}}</td>
                        <td class="clspointer"
                            (click)="searchTestCase(testSuite.regionId,testSuite.brandId,testSuite.projectTypeId,testSuite.projectName,testSuite.testSuiteId)">
                            {{testSuite.convert_modifiedTime_format}}</td>
                        <td class="clspointer"
                            (click)="searchTestCase(testSuite.regionId,testSuite.brandId,testSuite.projectTypeId,testSuite.projectName,testSuite.testSuiteId)">
                            {{testSuite.modifiedBy}}</td>
                        <td class="clspointer WrapInLine">
                            <a title="Add test case" (click)="addTestCase(testSuite.testSuiteId)">
                                <img src="assets/images/add.png"></a>&nbsp;
                            <a title="Edit test suite data" (click)="getTestSuiteById(testSuite.testSuiteId)">
                                <img src="assets/images/edit.png"></a>&nbsp;
                            <label *ngIf="this.Admin == role  || this.Test_lead== role || this.Test_Mgr== role">
                                <a title="Delete test suite data"
                                    (click)="deleteTestSuite(testSuite.testSuiteId,testSuite.testSuiteName)">
                                    <img src="assets/images/trash.png"></a>
                            </label>
                            <a title="More options" class=" dropdown  ml-2" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/images/vertical_menu.png">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item"
                                    (click)="copyTestSuiteByIdAndFlag(testSuite.testSuiteId,true)"><img
                                        src="assets/images/copy.png"><span class="downnloadTxt ml-2">Copy</span></a>
                                <a class="dropdown-item"
                                    (click)="exportTestSuiteData(testSuite.testSuiteName,testSuite.testSuiteId)"><img
                                        src="assets/images/download.png"><span
                                        class="downnloadTxt ml-2">Download</span></a>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="this.testSuiteList ==null || this.testSuiteList ==undefined || (this.testSuiteList|filter: txtSearch).length === 0"
                        style=" font-weight: bold">
                        <td colspan=9 style="text-align: center;">No Records Found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>