<div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Test Suite</span></div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-12 my-auto">
        <span class="heading">Test Suite</span>
        <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}</div>
        <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
    </div>
    <div class="col-md-10 offset-md-1">
        <div class="row col-md-12">
            <div class="form-group col-md-4 offset-md-2">
                <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                <select class="form-control txtControlCss" style="font-size: 12px;" id="regionId"
                    (change)="changeRegion($event)" [(ngModel)]="regionId">
                    <option hidden value="0" disabled selected>Select</option>
                    <option [value]="region.regionId" *ngFor="let region of this.regionList">
                        {{region.regionCode}}</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                <select class="form-control txtControlCss" style="font-size: 12px;" id="brandId" [(ngModel)]="brandId">
                    <option hidden value="0" disabled selected>Select</option>
                    <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                        {{brand.brandName}}</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center col-md-12">
            <button type="button" class="btn saveBtnCss" (click)="createTestSuite()">Create Test Suite</button>&nbsp;
            <button type="button" class="btn clearBtnCss" (click)="clearData()">Reset</button>
        </div>
    </div>
</div>
<div>
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-10"></div>
        <div class="col-md-2 text-right">
            <div class="form-group">
                <div class="input-group searchMarginLeft">
                    <input type="text" class="form-control" placeholder="Search" id="inputGroup" />
                    <span class="input-group-addon">
                        <img class="searchImgCss" src="assets/images/search.png">
                    </span>
                </div>
            </div>
        </div>
        <table width="100%" *ngIf="this.testSuiteList!=null" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th width="25%">
                        <span>Name &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th>
                        <span>Total Test Case &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th>
                        <span>Platform &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th>
                        <span>Appliance &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th>
                        <span>Project Name &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let testSuite of this.testSuiteList;let i=index;">
                    <td width="25%">{{testSuite.testSuiteName}}</td>
                    <td>{{testSuite.total_Test_Case}}</td>
                    <td>{{testSuite.platformName}}</td>
                    <td>{{testSuite.applianceName}}</td>
                    <td>{{testSuite.projectName}}</td>
                    <td>
                        <a (click)="getTestSuiteById(testSuite.testSuiteId)">
                            <img src="assets/images/edit.png"></a>&nbsp;
                        <a (click)="deleteTestSuite(testSuite.testSuiteId)">
                            <img src="assets/images/trash.png"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>