.timeTxt {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.dateTxt {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #192b49;
}

.searchMarginLeft {
  margin-left: 140px;
  margin-right: 0px;
}

.reportUp {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #27ae60;
}

.reportDown {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #eb5757;
}

.failedBtn {
  border: 1px solid #db3b21;
  color: #db3b21;
  font-size: 12px;
}

.passedBtn {
  border: 1px solid #1aaa55;
  color: #1aaa55;
  font-size: 12px;
}

/* //---Added by Akash */
.incompleteBtn {
  border: 1px solid #f2994a;
  color: #f2994a;
  font-size: 12px;
}

.runningBtn {
  border: 1px solid #1f78d1;
  color: #1f78d1;
  font-size: 12px;
}

.statusVericalCss {
  vertical-align: bottom;
}

.filterTxt {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.historytablestyle {
  padding-top: 0cm !important;
  padding-bottom: 0cm !important;
  vertical-align: middle !important;
}
.txtExtendedReport {
  font-size: 15px;
  font-weight: initial;
}
.txtExtendedReportTitle {
  font-size: 16px;
  font-weight: initial;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid gray;
}
.hrCss {
  border: 1px solid #ddd !important;
  border-top: 0px !important;
}
.nav-link.active {
  color: #012f60;
  border-bottom: #1f83fe 4px solid;
  border-bottom-left-radius: -10px;
  border-bottom-right-radius: -10px;
  border-color: white white #1f83fe;
}
.link:hover {
  color: white;
}
.TabTxt {
  color: #012f60 !important;
  border: none;
}
/* .nav-tabs .nav-link
  {
      border: white ;
  } */
textarea.form-control {
  height: auto;
  resize: none;
}
.filterable-cell {
  width: 100%;
}
.scroll {
  border-collapse: collapse;
}

.scroll tr {
  display: flex;
}

.scroll td {
  padding: 3px;
  flex: 1 auto;

  width: 1px;
  word-wrap: break-word;
}

.scroll thead tr:after {
  content: '';
  overflow-y: auto;
  visibility: hidden;
  height: 0;
}

.scroll thead th {
  flex: 1 auto;
  display: block;
  width: 50% !important;
}

.scroll tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
  height: 300px;
}

.out {
  display: none;
}

.in {
  display: table-row;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: url(../../../../assets/images/expand.png);
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.childTable {
  /* margin-left: 50%; */
  margin-bottom: 20px;
  /* width: 60%; */
  height: 80px;
  left: 100px;
  top: 421px;

  border: 1px solid rgb(197, 197, 197);
}
.childTable td {
  width: 500px;
}

.even {
  background-color: #ffffff !important;
}
.odd {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.seemoreTxt {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.noReocordTxt {
  font-size: 16px;
  font-weight: 500;
  /* margin-left: 30%; */
}

.radioBtnTxt {
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans;
}

.cancelBtnCss {
  border: 2px solid #1f83fe !important;
  box-sizing: border-box !important;
  border-radius: 3px !important;
  width: 100px !important;
  height: 35px !important;
  color: #1f83fe !important;
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  background-color: #ffffff !important;
}
  .noReocordTxt
  {
    font-size: 16px;
    font-weight: 500;
    /* margin-left: 30%; */
  }

  .cancelBtnCss {
    border: 2px solid #1F83FE !important;
    box-sizing: border-box !important;
    border-radius: 3px !important;
    width: 100px !important;
    height: 35px !important;
    color: #1F83FE !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    background-color: #FFFFFF !important;
  }
