<div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Execution / History</span></div>

<div class="row marginCss paddingCss whiteBackgroundCss mt-2">

    <div class="col-md-12 paddingLeftCss">
        <span class="heading"> Execution History</span>
        <div class="text-center successMessage"><b></b></div>
        <div class="text-center errorMessage"></div><br>
    </div>

    <div class="col-md-8"></div>

    <div class="row col-md-12 no-gutters pr-0">
        <div class="col-md-8"></div>
        <div class="col-md-2 text-right">
            <div class="form-group ml-2">
                <div class="input-group  selectdiv">
                    <span class="filterTxt  mt-2">Filter By</span>
                    <div class="form-group ml-2">
                        <select class="form-control txtControlCss selectClass"
                            style="font-size: 12px; width:120px !important; height:37px !important;" id="sel1">
                            <option>Daily</option>
                            <option>Weekly</option>
                            <option>Monthly</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <wtaf-searchbox (onSearchTxt)="onTxtSearch($event)" [toolTip]=toolTip></wtaf-searchbox>
        </div>
    </div>

    <div class="mt-2" style="width: 100% !important; height:500px !important; overflow:auto;">
        <table width="100%" class="table  table-sticky table-striped table-bordered">
            <colgroup>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th class="WrapInLine" style="width: 15px;">
                        <span>Test Exe. Id &nbsp;</span>
                        <div class="inlineImages my-auto">
                        </div>
                    </th>
                    <th class="WrapInLine" style="width: 300px;">
                        <span>Test Execution Name &nbsp;</span>
                        <div class="inlineImages my-auto">
                        </div>
                    </th>
                    <th class="WrapInLine" style="width: 100px;">
                        <span>Execution Mode</span>
                        <div class="inlineImages my-auto">
                        </div>
                    </th>
                    <th class="WrapInLine" style="width: 150px;">
                        <span>Start DateTime &nbsp;</span>
                        <div class="inlineImages my-auto">
                        </div>
                    </th>
                    <th class="WrapInLine" style="width: 150px;">
                        <span>End DateTime &nbsp;</span>
                        <div class="inlineImages my-auto">
                        </div>
                    </th>

                    <th class="WrapInLine" style="width: 150px;">
                        <span>Duration &nbsp;</span>
                        <div class="inlineImages my-auto">
                        </div>
                    </th>
                    <th class="WrapInLine" style="width: 150px;">
                        <span>User &nbsp;</span>
                        <div class="inlineImages my-auto">
                        </div>
                    </th>
                    <th class="WrapInLine" style="width: 200px;">
                        <span>Result &nbsp;</span>
                        <div class="inlineImages my-auto">
                        </div>
                    <th class="WrapInLine" style="width: 150px;">
                        <span>Job Status &nbsp;</span>
                        <div class="inlineImages my-auto">
                        </div>
                    <th class="WrapInLine" style="width: 150px;">
                        <span>Action &nbsp;</span>
                        <div class="inlineImages my-auto">
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="( this.History_Details | filter : txtSearch) as result">
                <ng-container *ngFor="let historydata of result; let index=index; let odd=odd; let even=even ;">
                    <tr data-toggle="modal" data-target="#historyTestSuiteTemplateModal"
                        [ngClass]="{ odd: odd, even: even }">
                        <td style="padding-top: 0cm;padding-bottom: 0cm;">
                            <div class="marginTop10">
                                <span><i id="r{{historydata.exeHistoryId}}" class="caret"
                                        (click)="getJobDetails(historydata.exeHeaderId,historydata.exeHistoryId,false)"></i></span>
                                {{historydata.exeHeaderId}}
                            </div>
                        </td>
                        <td style="padding-top: 0cm;padding-bottom: 0cm;">
                            <div class="marginTop10">
                                {{historydata.jobName}}
                            </div>
                        </td>
                        <td style="padding-top: 0cm;padding-bottom: 0cm;">
                            <div class="marginTop10">
                                {{historydata.executionMode}}
                            </div>
                        </td>
                        <td style="padding-top: 0cm;padding-bottom: 0cm;">
                            <div class="inlineImages  marginTop10">
                                <!--   <span class="timeTxt">{{historydata.startTime1}}</span> -->
                                <span class="dateTxt">{{historydata.startDate | date:'MM/dd/yyyy'}}
                                    {{historydata.startTime1}}</span>
                                <!-- <span class="timeTxt">{{historydata.startTime1}}</span>
                                <span class="dateTxt">{{historydata.startDate | date:'MM/dd/yyyy'}}</span> -->
                            </div>
                        </td>
                        <td style="padding-top: 0cm;padding-bottom: 0cm;">
                            <div class="inlineImages  marginTop10Align">
                                <!--    <span class="timeTxt">{{historydata.endTime1}}</span> -->
                                <span class="dateTxt">{{historydata.endDate | date:'MM/dd/yyyy'}}
                                    {{historydata.endTime1}}</span>
                                <!-- <span class="timeTxt">{{historydata.endTime1}}</span>
                                <span class="dateTxt">{{historydata.endDate | date:'MM/dd/yyyy'}}</span> -->
                            </div>
                        </td>

                        <td style="padding-top: 0cm;padding-bottom: 0cm;">
                            <div class="inlineImages  marginTop10Align">
                                <span class="dateTxt" style="margin-top: 18px;">{{historydata.differentTime}}</span>
                            </div>
                        </td>

                        <td style="padding-top: 0cm;padding-bottom: 0cm;">
                            <div class="inlineImages  marginTop10Align">
                                <span class="dateTxt" style="margin-top: 18px;">{{historydata.createdBy}}</span>
                            </div>
                        </td>
                        <td style="padding-top: 0cm;padding-bottom: 0cm;">
                            <div class="marginLeftRightCss row marginTop10 WrapInLine ">
                                <div class="WrapInLine">
                                    <span class="reportUp">{{historydata.passCount}}</span>
                                    <img src="assets/images/arrow-up.png">
                                </div>
                                <div class="WrapInLine">
                                    <span class="reportDown">{{historydata.failCount}}</span>
                                    <img src="assets/images/arrow-down.png">
                                </div>
                            </div>
                        </td>
                        <td class="WrapInLine" style="padding-top: 0cm;padding-bottom: 0cm;">
                            <button type="button"
                                class="btn btn-outline incompleteBtn statusTerminateBtnCss marginTop10"
                                *ngIf="historydata.jobStatus==4">
                                <img src=""> <span cass="statusVericalCss">
                                    Terminated</span></button>
                            <button type="button" class="btn btn-outline failedBtn statusBtnCss marginTop10"
                                *ngIf="historydata.jobStatus==3">
                                <img src="assets/images/failedImg.png"> <span class="statusVericalCss">
                                    Incomplete</span></button>
                            <button type="button" class="btn btn-outline passedBtn statusBtnCss marginTop10 "
                                *ngIf="historydata.jobStatus==2">
                                <img src="assets/images/passed.png"> <span class="statusVericalCss">
                                    Completed</span></button>
                            <button type="button" class="btn btn-outline runningBtn statusBtnCss marginTop10"
                                *ngIf="historydata.jobStatus==1">
                                <img src="assets/images/running.png">
                                <span class="statusVericalCss"> Running</span></button>
                        </td>
                        <td class="WrapInLine" style="padding-top: 0cm;padding-bottom: 0cm;">
                            <div class="marginTop10 text-center">
                                <a data-toggle="modal" (click)="openReexecutionModal(historydata)"
                                    title="Re-execute job"><img src="assets/images/refresh-ccw.png"></a>&nbsp;
                                <a (click)="extendReportModal(historydata)"
                                    title="View Extent report And Appium Log"><img
                                        src="assets/images/eye.png"></a>&nbsp;

                                <a *ngIf="this.Admin == role  || this.Test_lead== role || this.Test_Mgr== role"
                                    title="Change Job Name"
                                    (click)="openRenameExecutionModal(historydata.exeHeaderId , historydata.jobName)">
                                    <img src="assets/images/edit.png"></a>&nbsp;

                                <a *ngIf="this.Admin == role  || this.Test_Mgr== role || (this.userName == historydata.createdBy )"
                                    title="Delete Job"
                                    (click)='deleteJob(0,historydata.exeHeaderId , historydata.exeHistoryId)'>
                                    <img src="assets/images/trash.png"></a>&nbsp;
                            </div>
                        </td>
                        <!-- <td class="WrapInLine" style="padding-top: 0cm;padding-bottom: 0cm;">
                            <div class="marginTop10 text-center">
                                <a (click)="reExecution(historydata)" title="Re-execute job"><img
                                        src="assets/images/refresh-ccw.png"></a>&nbsp;
                                <a (click)="extendReportModal(historydata)"
                                    title="View Extend report And Appium Log"><img
                                        src="assets/images/eye.png"></a>&nbsp;

                                        <a title="Change Job Name" (click)="openRenameExecutionModal(historydata.exeHeaderId , historydata.jobName)">
                                            <img src="assets/images/edit.png"></a>&nbsp;
                            </div>
                        </td> -->
                    </tr>

                    <tr id="{{historydata.exeHistoryId}}" class="out" colspan="2">
                        <td style="border-right: none;" width="70px"></td>
                        <td colspan="6" style="border-left: none;border-right: none;width: 80%">
                            <div class="noReocordTxt" style="border:none;text-align: center;"
                                *ngIf="this.resLength.length ==1">There are no records</div>

                            <table class="childTable" *ngIf="this.resLength.length >1">
                                <thead>
                                    <th class="WrapInLine">Execution History Id</th>
                                    <th class="WrapInLine">Test Execution Name</th>
                                    <th class="WrapInLine">Start DateTime</th>
                                    <th class="WrapInLine">End DateTime</th>
                                    <th class="WrapInLine">Duration</th>
                                    <th class="WrapInLine">User</th>
                                    <th class="WrapInLine">Execution Mode</th>
                                    <th class="WrapInLine">Test Results</th>
                                    <th class="WrapInLine">Job Status</th>
                                    <th class="WrapInLine">Action</th>


                                </thead>
                                <tbody>
                                    <ng-container>
                                        <tr class="tblexec-row"
                                            *ngFor="let listdata of this.historyDetailsRes[historydata.exeHistoryId],let i=index">
                                            <td *ngIf=" i>0">{{listdata.exeHistoryId}}</td>
                                            <td *ngIf=" i>0">{{listdata.jobName}}</td>
                                            <td style="padding-top: 0cm;padding-bottom: 0cm;" *ngIf=" i>0">
                                                <div class="inlineImages  marginTop10Align">
                                                    <span class="timeTxt">{{listdata.startTime1}}</span>
                                                    <span class="dateTxt">{{listdata.startDate |
                                                        date:'MM/dd/yyyy'}}</span>
                                                </div>
                                            </td>
                                            <td style="padding-top: 0cm;padding-bottom: 0cm;" *ngIf=" i>0">
                                                <div class="inlineImages  marginTop10Align">
                                                    <span class="timeTxt">{{listdata.endTime1}}</span>
                                                    <span class="dateTxt">{{listdata.endDate |
                                                        date:'MM/dd/yyyy'}}</span>
                                                </div>
                                            </td>
                                            <td *ngIf=" i>0">
                                                <span class="dateTxt"
                                                    style="margin-top: 18px;">{{listdata.differentTime}}</span>
                                            </td>
                                            <td *ngIf=" i>0">
                                                <span class="dateTxt"
                                                    style="margin-top: 18px;">{{listdata.createdBy}}</span>
                                            </td>
                                            <td *ngIf=" i>0">
                                                <span class="dateTxt"
                                                    style="margin-top: 18px;">{{listdata.executionMode}}</span>
                                            </td>
                                            <td class="WrapInLine" style="padding-top: 0cm;padding-bottom: 0cm;"
                                                *ngIf=" i>0">
                                                <div class="marginLeftRightCss row marginTop10">
                                                    <div class="" style="padding: 2px;">
                                                        <span class="reportUp">{{listdata.passCount}}</span>
                                                        <img src="assets/images/arrow-up.png" style="padding: 2px;">
                                                    </div>
                                                    <div class="" style="padding: 2px;">
                                                        <span class="reportDown">{{listdata.failCount}}</span>
                                                        <img src="assets/images/arrow-down.png" style="padding:8px;">
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="WrapInLine" style="padding-top: 0cm;padding-bottom: 0cm;"
                                                *ngIf=" i>0">
                                                <button type="button"
                                                    class="btn btn-outline incompleteBtn statusTerminateBtnCss marginTop10"
                                                    *ngIf="listdata.jobStatus==4">
                                                    <img src=""> <span class="statusVericalCss">
                                                        Terminated</span></button>
                                                <button type="button"
                                                    class="btn btn-outline failedBtn statusBtnCss marginTop10"
                                                    *ngIf="listdata.jobStatus==3">
                                                    <img src="assets/images/failedImg.png"> <span
                                                        class="statusVericalCss">
                                                        Incomplete</span></button>
                                                <button type="button"
                                                    class="btn btn-outline passedBtn statusBtnCss marginTop10 "
                                                    *ngIf="listdata.jobStatus==2">
                                                    <img src="assets/images/passed.png"> <span class="statusVericalCss">
                                                        Completed</span></button>
                                                <button type="button"
                                                    class="btn btn-outline runningBtn statusBtnCss marginTop10"
                                                    *ngIf="listdata.jobStatus==1">
                                                    <img src="assets/images/running.png">
                                                    <span class="statusVericalCss"> Running</span></button>
                                            </td>

                                            <td class="WrapInLine" style="padding-top: 0cm;padding-bottom: 0cm;"
                                                *ngIf=" i>0">
                                                <div class="marginTop10">
                                                    <a data-toggle="modal" (click)="openReexecutionModal(listdata)"
                                                        title="Re-execute job"><img
                                                            src="assets/images/refresh-ccw.png"></a>&nbsp;
                                                    <a (click)="extendReportModal(listdata)"
                                                        title="View Extent report And Appium Log"><img
                                                            src="assets/images/eye.png"></a>&nbsp;

                                                    <a *ngIf="this.Admin == role  || this.Test_Mgr== role || (this.userName == listdata.createdBy )"
                                                        title="Delete Job"
                                                        (click)='deleteJob(1,listdata.exeHeaderId , listdata.exeHistoryId)'>
                                                        <img src="assets/images/trash.png"></a>&nbsp;
                                                </div>
                                            </td>
                                        </tr>

                                    </ng-container>
                                </tbody>
                            </table>
                            <div *ngIf="this.isSeemore==false && this.resLength.length >= 4" class="d-flex ml-auto"
                                (click)="getJobDetails(historydata.exeHeaderId,historydata.exeHistoryId,true)">
                                <span class="seemoreTxt ml-auto">See More...</span>
                            </div>

                            <div *ngIf="this.isSeemore==true" class="d-flex ml-auto"
                                (click)="getjobDetailsForseeLess(historydata.exeHeaderId,historydata.exeHistoryId,false)">
                                <span class="seemoreTxt ml-auto">See Less...</span>
                            </div>
                        </td>
                    </tr>

                </ng-container>
                <tr id="notFoundDiv" *ngIf="result.length === 0" style="font-weight: bold">
                    <td colspan=10 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class=" row col-md-12 no-gutters mt-4">
        <div class="col-md-12">
            <wtaf-pagination [activePage]='activePage' [totalRecords]="totalRecords"
                [recordsPerPage]="this.recordsPerPage" (onPageChange)="displayActivePage($event)"></wtaf-pagination>
        </div>
    </div>

</div>
<div class="modal fade" id="ExtendreportandAppiumModal">
    <div class="modal-dialog modal-xl modal-dialog-centered ">
        <div class="modal-content" style="height:580px; overflow: auto;">
            <div class="headerModal commonBorderBottom marginLeftRightCss row mt-2 pt-2">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active TabTxt txtExtendedReportTitle" href="#ExtendedReport" role="tab"
                            data-toggle="tab">Extent Report</a>
                    </li>
                </ul>
                <div class="ml-auto mr-3">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="marginLeftRight15 whiteBackgroundCss mt-2 pb-3">
                <div class="col-md-12 row" style="margin-bottom: -20px">
                    <div class="col-md-6">
                        <p><span class="txt-color txtExtendedReport">Text Execution Name
                                :</span>&nbsp;{{ (this.SelectedJobData !=null && this.SelectedJobData !=undefined ?
                            this.SelectedJobData.jobName : "") }}
                        </p>

                        <p><span class="txt-color txtExtendedReport">Start Time :</span> &nbsp;
                            <span class="">{{ (this.SelectedJobData !=null && this.SelectedJobData !=undefined ?
                                this.SelectedJobData.startTime1 : "" )}}</span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p><span class="txt-color txtExtendedReport">Job Status: </span>&nbsp;
                            <span class="">
                                <button type="button" class="btn btn-outline incompleteBtn statusTerminateBtnCss "
                                    *ngIf="this.SelectedJobData !=null && this.SelectedJobData !=undefined &&  this.SelectedJobData.jobStatus==4">
                                    <img src=" "> <span class="statusVericalCss">
                                        Terminated</span></button>
                                <button type="button" class="btn btn-outline failedBtn statusBtnCss "
                                    *ngIf="this.SelectedJobData !=null && this.SelectedJobData !=undefined &&  this.SelectedJobData.jobStatus==3">
                                    <img src="assets/images/failedImg.png"> <span class="statusVericalCss">
                                        Incomplete</span></button>
                                <button type="button" class="btn btn-outline passedBtn statusBtnCss  "
                                    *ngIf="this.SelectedJobData !=null && this.SelectedJobData !=undefined && this.SelectedJobData.jobStatus==2">
                                    <img src="assets/images/passed.png"> <span
                                        class="statusVericalCss">Passed</span></button>
                                <button type="button" class="btn btn-outline runningBtn statusBtnCss "
                                    *ngIf="this.SelectedJobData !=null && this.SelectedJobData !=undefined && this.SelectedJobData.jobStatus==1">
                                    <img src="assets/images/running.png">
                                    <span class="statusVericalCss"> Running</span></button>
                            </span>
                        </p>
                        <p><span class="txt-color txtExtendedReport">End Time :</span>
                            &nbsp;
                            <span class="">{{( this.SelectedJobData !=null && this.SelectedJobData !=undefined
                                ?this.SelectedJobData.endTime1 : "" ) }}</span>
                        </p>
                    </div>

                    <div class="col-md-3 p-0">

                        <p  *ngIf='!isHSExecution'><span class="txt-color txtExtendedReport">Download Appium Log :</span> &nbsp;
                            <span class="txtExtendedReport" style="float: right; ">
                                <a href="javascript:void(0)"
                                    (click)="downloadAppiumLog(this.SelectedJobData.jobName,this.SelectedJobData.exeHeaderId,this.SelectedJobData.exeHistoryId)"
                                    title="Download"><img src="assets/images/download.png"></a>&nbsp;
                            </span>
                        </p>

                        <p><span class="txt-color txtExtendedReport">Download Execution Log :</span> &nbsp;
                            <span class="txtExtendedReport" style="float: right; " data-toggle="tooltip"
                                title={{this.strLabelMsg}}>
                                <a href="javascript:void(0)"
                                    (click)="downloadJenkinsLog(this.SelectedJobData.jenkinsLogFilePath,this.SelectedJobData.jenkinsJobId,this.SelectedJobData.exeHeaderId,this.SelectedJobData.exeHistoryId)"><img
                                        src="assets/images/download.png"></a>&nbsp;
                            </span>
                        </p>
                    </div>
                </div>
                <hr />
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="ExtendedReport">
                        <span class="txt-color txtExtendedReport mb-2 pb-2">Available Reports</span>
                        <!-- <div class="loadingDeviceDiv col-md-3"> -->
                        <img *ngIf="this.Job_arn !='' && this.Job_arn != null " class="mb-1 ml-2"
                            (click)="refreshExtentReport(this.SelectedJobData.exeHeaderId,this.SelectedJobData.exeHistoryId)"
                            title="Refresh extent report(s) List" style="cursor: pointer;"
                            src="assets/images/refresh-ccw.png">
                        <!-- </div> -->
                        <div style="overflow: auto;">
                            <table class="table  table-bordered mt-2 ">
                                <thead>
                                    <tr>
                                        <td style="width: 5%" class="txt-color">Suite ID</td>
                                        <td style="width: 70% !important;" class="txt-color">Suite Name</td>
                                        <td style="width: 15%" class="txt-color">Date & Time</td>
                                        <td style="width: 5%" class="txt-color">Test Results</td>
                                        <td style="width: 5%" class="txt-color" *ngIf='isHSExecution'>Report and Log</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let er of Extended_Reports ; let index=index">
                                        <!-- <tr>
                                            <td>{{er.testSuiteId}}</td>
                                            <td style="width: 75% !important;">
                                                <span *ngIf="er.paths.length > 0">
                                        <tr *ngFor="let erPath of er.paths ;"
                                            style="background-color: whitesmoke;margin-bottom: 5px; margin-top: 5px;">
                                            <a target="_blank"
                                                (click)="showReport(erPath.reportUrl)"><u style="color: #007bff;"> {{ erPath.name }} </u></a>
                                        </tr>
                                        </span>
                                        </td>
                                        </tr> -->
                                        <tr>
                                            <td style="width: 5%">{{er.testSuiteId}}</td>
                                            <td style="width: 70% !important;">
                                                <span *ngIf="er.paths.length > 0">
                                        <tr *ngFor="let erPath of er.paths ;"
                                            style="background-color: whitesmoke;margin-bottom: 5px; margin-top: 5px;">
                                            <div style="overflow: hidden;">
                                                <a target="_blank" (click)="showReport(erPath.reportUrl)"><u
                                                        style="color: #007bff;"> {{ erPath.name }} </u></a>
                                            </div>
                                            <hr *ngIf="er.paths.length > 1"  class="hrCss">
                                        </tr>
                                        <span *ngIf="er.paths.length == 0 || er.paths.length == null ">
                                            <tr>
                                                <span>There is no extent report</span>
                                            </tr>
                                        </span>
                                        </span>
                                        </td>
                                        <td style="width: 15%">{{er.executionDateTime}}</td>
                                        <td style="width: 5%">
                                            <div class="marginLeftRightCss row marginTop10">
                                                <div class="" style="padding: 2px;">
                                                    <span class="reportUp">{{er.passCount}}</span>
                                                    <img src="assets/images/arrow-up.png" style="padding: 2px;">
                                                </div>
                                                <div class="" style="padding: 2px;">
                                                    <span class="reportDown">{{er.failCount}}</span>
                                                    <img src="assets/images/arrow-down.png" style="padding:8px;">
                                                </div>
                                            </div>
                                        </td>
                                        <td *ngIf='isHSExecution'>
                                             <ng-container *ngFor="let erPath of er.paths ;">
                                            <div class="marginTop10 text-center" >
                                                <a (click)="hsPerformanceReport(erPath.hsSessionId)" 
                                                title="View Performance Report" target='blank'><img
                                                    src="assets/images/eye.png"></a>&nbsp;
                                                <a  (click)="downloadAppiumFile(erPath.hsSessionId)"title="Download Logs"
                                                    >                 
                                                    <img src="assets/images/download.png"></a>&nbsp;
                                            </div>
                                            <hr *ngIf="er.paths.length > 1" class="hrCss">
                                        </ng-container>
                                            
                                        </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="AppiumLog">
                        <span class="txt-color txtExtendedReport ">Appium Log
                            <span style="float: right;">
                                <a href="javascript:void(0)" id="imgCopy" (click)="CopyTxtArea()" title="Copy"><img
                                        src="assets/images/copy.png"></a>&nbsp;
                                <a href="javascript:void(0)" (click)="saveTextAsFile()" title="Download"><img
                                        src="assets/images/download.png"></a>&nbsp;
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- --------- Display Progress bar Modal---------- -->
<div class="modal fade" id="popProgress" data-keyboard="false" data-backdrop="static"
    style="z-index: 2147483647;background: black;opacity: 0.8;">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class=" modal-body">
                <div class="container">
                    <h2 style="font-size: 12px;">{{this.steps}}</h2>
                    <div class="progress" *ngIf="this.isFileUpload">
                        <div class="progress-bar" [style.width]="widthfooter">{{widthfooter}}</div>
                    </div>
                    <div *ngIf="!this.isFileUpload">
                        <img src="assets/images/Buffer.gif" height="50px" width="430px">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Re execution Modal -->
<div class="modal fade" id="ReexecutionModal">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-family: Open Sans;">Re-execute Job</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pl-0">

                <div class="col-md-12  ">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" [checked]="true" (change)="radioCheck(1)"
                            id="customRadio" name="example" value="customEx">
                        <label class="custom-control-label radioBtnTxt" for="customRadio">Re-execute as it is</label>
                    </div>
                </div>
                <div class="col-md-12  ">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio2" (change)="radioCheck(2)"
                            name="example" value="customEx">
                        <label class="custom-control-label radioBtnTxt" for="customRadio2">Re-execute with
                            changes</label>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancelBtnCss" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary saveBtnPopupCss"
                    (click)='reexecutionRadioCheck()'>Execute</button>

            </div>
        </div>
    </div>
</div>
<!-- Re-Name TestExecution name Modal -->
<div class="modal fade" id="ReexecutionNameModal">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-family: Open Sans;font-weight: 600;">Edit Execution Name</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">

                <div class="col-md-12">

                    <div class="">
                        <span class="" style="font-weight: 600; font-family: Open Sans;">Current Execution Name
                            :-</span>
                        <span class="ml-2">{{this.currentJobName}}</span>
                    </div>

                    <div class="mt-4">
                        <label class="" style="font-weight: 600; font-family: Open Sans;">New Execution Name</label>
                        <input type="text" class="form-control" id="executionname" name="executionname"
                            [(ngModel)]='executionname' placeholder="Enter New Execution Name" maxlength="50" value="">
                    </div>

                    <div class="">
                        <span class="ml-2 " style="color: red; font-weight: 600;">{{this.EnterJobname_error}}</span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancelBtnCss" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary saveBtnPopupCss"
                    (click)='updateExecutionName()'>Update</button>

            </div>
        </div>
    </div>
</div>