<form [formGroup]="testStepForm" (ngSubmit)="saveTestStep()">
    <div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Test Step</span></div>
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12">
            <span class="heading">Test Step</span>
            <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}<b></b></div>
            <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
        </div>
        <div class="col-md-10 offset-md-1">
            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId"                       
                        [ngClass]="{ 'is-invalid': submitted && f.projectTypeId.errors }"
                        formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.projectTypeId.errors" class="text-danger">
                        <label *ngIf="f.projectTypeId.errors.required">Please select the project type</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="regionId" class="txtControlLblCss">Region<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="regionId"
                        (change)="changeRegion($event)" [ngClass]="{ 'is-invalid': submitted && f.regionId.errors }"
                        formControlName="regionId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="region.regionId" *ngFor="let region of this.regionList">
                            {{region.regionCode}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.regionId.errors" class="text-danger">
                        <label *ngIf="f.regionId.errors.required">Please select the region</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="brandId" class="txtControlLblCss">Brand<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="brandId"
                        [ngClass]="{ 'is-invalid': submitted && f.brandId.errors }" formControlName="brandId"
                        (change)="changeBrand($event)">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                            {{brand.brandName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.brandId.errors" class="text-danger">
                        <label *ngIf="f.brandId.errors.required">Please select the brand</label>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-4" *ngIf="!this.isSharedParaFlag">
                    <label for="testSuiteId" class="txtControlLblCss">Test Suite<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="testSuiteId"
                        formControlName="testSuiteId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="testSuite.testSuiteId" *ngFor="let testSuite of this.testSuiteList">
                            {{testSuite.testSuiteName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.testSuiteId.errors" class="text-danger">
                        <label *ngIf="f.testSuiteId.errors.required">Please select the test suite</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="testCaseId" class="txtControlLblCss">Test Case<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="testCaseId"
                        formControlName="testCaseId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="testCase.testCaseId" *ngFor="let testCase of this.testCaseList">
                            {{testCase.testCaseName}}</option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="keywordId" class="txtControlLblCss">Keyword<span>*</span></label>
                    <select (change)="changeKeyword($event)" class="form-control txtControlCss" style="font-size: 12px;"
                        id="keywordId" [ngClass]="{ 'is-invalid': submitted && f.keywordId.errors }"
                        formControlName="keywordId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="keyword.keywordId" *ngFor="let keyword of this.keywordList">
                            {{keyword.keywordName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.keywordId.errors" class="text-danger">
                        <label *ngIf="f.keywordId.errors.required">Please select the keyword</label>
                    </div>
                </div>

                <div class="form-group col-md-4" *ngIf="this.isElementVisible==false">
                    <label for="elementId" class="txtControlLblCss">Element<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="elementId"
                        formControlName="elementId" [ngClass]="{ 'is-invalid': submitted && f.keywordId.errors }">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="element.elementId" *ngFor="let element of this.elementList">
                            {{element.elementName}}</option>
                    </select>
                    <div *ngIf="this.isElementRequired" class="text-danger">
                        <label *ngIf="this.isElementRequired">Please select the element</label>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-8 form-group ">
                    <label for="testStepName" class="txtControlLblCss">Test Step Description<span>*</span></label>
                    <textarea class="form-control textareaControls"  (change)="changeTestStep()"  name="testStepName" id="testStepName" rows="2"
                        formControlName="testStepName"
                        [ngClass]="{ 'is-invalid': submitted && f.testStepName.errors }"></textarea>
                    <div *ngIf="this.submitted && f.testStepName.errors" class="text-danger">
                        <label *ngIf="f.testStepName.errors.required">Please enter the test step Description</label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-md-12">
                <button type="submit" class="btn saveBtnCss">Save</button>
                <button type="button" class="btn clearBtnCss ml-1" (click)="clearData(0)">Reset</button>
                <button *ngIf ="this.isImgUploaded == true" type="button" class="btn clearBtnCss" (click)="openBrowsePopUp()"  style="margin-left: 8px;">Browse Image</button>
            </div>
        </div>
    </div>
</form>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-right">
        <div class="form-group">
            <div class="input-group searchMarginLeft">
                <input type="text" class="form-control" [(ngModel)]="txtSearch" placeholder="Search test step" >
                <div class="input-group-append" >
                  <button class="btn btn-secondary" type="button" id="searchicon" >
                    <i class="fa fa-search" id="searchicon"></i>
                  </button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100% !important; height:400px !important; overflow: auto;" >
    <table id="createTestStep" width="100%"  class="table table-striped table-sticky  table-bordered">
        <thead>
            <tr>
                <th class="WrapInLine"  style="display:none;">
                    <span>Test Step orde numr &nbsp;</span>
                </th>
                <th class="WrapInLine " >
                    <span>Test Step ID &nbsp;</span>
  
                </th>
                <th style="cursor: pointer;" class="WrapInLine" *ngIf="!isSharedParaFlag" (click)="sortTable('projectTypeName')">
                    <span>Project Type &nbsp;</span>
                    <div class="inlineImages my-auto">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
                <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('testStepName')">
                    <span>Test Step Description </span>
                    <div class="inlineImages my-auto">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th >
                <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('module')">
                    <span>Module </span>
                    <div class="inlineImages my-auto">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
                <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('element')">
                    <span>Element </span>
                    <div class="inlineImages my-auto">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
                <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('keyword')">
                    <span>Keyword </span>
                    <div class="inlineImages my-auto">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
                <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('modifiedOn')">
                    <span>Modified On </span>
                    <div class="inlineImages my-auto">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
                <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('modifiedBy')">
                    <span>Modified By </span>
                    <div class="inlineImages my-auto">
                        <img src="assets/images/up.png">
                        <img src="assets/images/down.png">
                    </div>
                </th>
                <th class="WrapInLine">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let testStep of this.testStepList  |  filter: txtSearch;let i=index;"> 
                <td  *ngIf="isSort">{{i+1}}</td>
                <td  *ngIf="isSort==false">{{i+1}}</td>
                <td style="display:none;">{{testStep.testStepId}}</td> 
                <td  *ngIf="testStep.projectTypeName != null">{{testStep.projectTypeName}}</td>
                <td>{{testStep.testStepName}} </td>
                <td>{{testStep.module}}</td>
                <td>{{testStep.element}}</td>
                <td>{{testStep.keyword}}</td>
                <td>{{testStep.modifiedOn}}</td>
                <td>{{testStep.modifiedBy}}</td>
                <td>
                    <a (click)="getTestStepById(testStep.testStepId)">
                        <img src="assets/images/edit.png"></a>
                    <a class="ml-1" (click)="deleteTestStep(testStep.testStepId)">
                        <img src="assets/images/trash.png"></a>
                </td>
            </tr>
            <tr *ngIf = "(this.testStepList|filter: txtSearch).length === 0" style=" font-weight: bold">
                <td colspan=9 style="text-align: center;">No Records Found</td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12" style="padding: 10px; " *ngIf="testStepReorderFlag"> 
        <div class=" float-right WrapInLine " style="margin-top: 20px; text-align: right;" >
            <button type="submit" (click)="submitReorder()" class="btn saveBtnCss mr-3">Submit 
                </button>
                <button type="button"(click)="cancelReorder()" class="btn saveBtnCss">Cancel                           
                </button>
        </div>
    </div>
</div>
</div>


<div class="modal" id="selectImgModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select Image</h5>
          <button type="button" class="close" (click)="closePopUp(false)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <!-- <label>Upload Image</label> -->
                <!-- <span style="color:red;" *ngIf="message">{{message}}</span> -->
                 <!-- <input #file type="file" accept='image/*' (change)="preview(file.files)" /> -->
            </div>
            <div style="text-align: center;">
                <img [src]="this.imgURL" height="300" width="450">  
                <img id='img-upload'/>
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-center btn-file mr-0">
                <button type="button"
                    class="btn btn-file saveBtnPopupCss ">Upload</button>
                <input #imgfile for="imgfile" type="file" accept='image/*' (change)="preview(imgfile.files)"
                    name="imgFile">
            </div>
          <button [hidden] = "this.imagePath == null" type="button" (click)="closePopUp(true)" class="btn saveBtnPopupCss">Select</button>
          <button type="button" class="btn clearBtnPopupCss" (click)="closePopUp(false)">Close</button>
        </div>
      </div>
    </div>
  </div>
