.outer {
    overflow-x: scroll;
    overflow-y: visible;
    width: 100%;
}

.headcol1 {
    position: sticky;
    left: 0;
    text-align: center;
    min-width: 76px;
    max-width: 76px;
    background-color: ghostwhite;
}

.headcol2 {
    position: sticky;
    left: 75px;
    text-align: left;
    min-width: 210px;
    background-color: ghostwhite;
    /* max-width: 200px; */
}

.highlightKeyword {
    position: sticky;
    left: 0;
    text-align: left;
    min-width: 76px;
    max-width: 76px;
    background-color: rgb(236, 120, 12);
    /* max-width: 200px; */
}

.btnIteration {
    border: 1px solid #1F83FE !important;
    width: 180px !important;
}

.dt {
    min-width: 100%;
    overflow: auto;
}

.wrapper {
    overflow-x: scroll;
    margin-left: 100px
}

.fixed {
    position: absolute;
    background: #bdb7b7dd;
}

.col-disable[contenteditable=false] {
    cursor: not-allowed;
}

.datanot-req:hover:after {
    content: 'Data not required';
    position: absolute;
    padding: 2px;
    border: 1px solid gray;
    background: whitesmoke;
    font-size: 12px;
}
/* --------- */

.backgroundColor
{
    background-color: ghostwhite;
}
