<div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Test Data</span></div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-12 my-auto">
        <span class="heading">Manage Test Data</span>
        <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}</div>
        <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}
        </div><br>
    </div>
    <div class="col-md-12 pl-0">
        <div class="row col-md-12 ">
            <div class="form-group col-md-3">
                <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                <select class="form-control txtControlCss " style="font-size: 12px;"
                    [attr.disabled]="this.IsFromTestCase==true ? 'disabled' : null" id="projectTypeId"
                    (change)="changeProjectType($event)" [(ngModel)]="projectTypeId">
                    <option hidden value="0" disabled selected>Select</option>
                    <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                        {{projectType.projectTypeName}}</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="regionId" class="txtControlLblCss">Region</label>
                <select [attr.disabled]="this.IsFromTestCase==true ? 'disabled' : null"
                    class="form-control txtControlCss " style="font-size: 12px;" id="regionId"
                    (change)="changeRegion($event)" [(ngModel)]="regionId">
                    <option hidden value="0" disabled selected>Select</option>
                    <option [value]="region.regionId" *ngFor="let region of this.regionList">
                        {{region.regionCode}}</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="brandId" class="txtControlLblCss">Brand</label>
                <select [attr.disabled]="this.IsFromTestCase==true ? 'disabled' : null"
                    class="form-control txtControlCss " style="font-size: 12px;" id="brandId"
                    [(ngModel)]="this.brandId" (change)="changeBrand($event)">
                    <option hidden value="0" disabled selected>Select</option>
                    <option [value]="brand.brandId" *ngFor="let brand of this.brandList">
                        {{brand.brandName}}</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="projectName" class="txtControlLblCss">Product Name</label>
                <select class="form-control txtControlCss  " style="font-size: 12px;" id="projectName"
                    [(ngModel)]="projectName" (change)="changeProjectName($event)">
                    <option hidden value="" disabled selected>Select</option>
                    <option [value]="projectName.projectName" *ngFor="let projectName of this.projectNameList">
                        {{projectName.projectName}}</option>
                </select>
            </div>

            <div class="form-group col-md-3" >
            <label for="platform" class="txtControlLblCss">Platform<span>*</span></label>
            <select class="form-control txtControlCss" style="font-size: 12px;" id="platformId"
            [(ngModel)]="platformId" (change)="changePlatform($event)">
                <option hidden value="" disabled selected>Select</option>
                <option [value]="platform.platformId"
                *ngFor="let platform of this.platformList">
                {{platform.platformName}}</option>
            </select>
        </div>
            <div class="form-group col-md-3">
                <label for="testSuiteId" class="txtControlLblCss">Test Suite<span>*</span></label>
                <select [attr.disabled]="this.IsFromTestCase==true ? 'disabled' : null"
                    class="form-control txtControlCss " style="font-size: 12px;" id="testSuiteId"
                    [(ngModel)]="this.testSuiteId" (change)="changeTestSuite($event)">
                    <option hidden value="0" disabled selected>Select</option>
                    <option [value]="testSuite.testSuiteId" *ngFor="let testSuite of this.testSuiteList">
                        {{testSuite.testSuiteName}}</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="brandId" class="txtControlLblCss">Data set<span>* &nbsp;</span> <span
                        style="font-size: 12px; font-weight: bold;">{{this.dtName}}</span> </label>
                <input type="text" [attr.disabled]="testSuiteId < 1 ? 'disabled' : null" (change)="hidemsg()"
                    (input)="isDatasetValid()" autocomplete="off" [(ngModel)]='dataSetName' id="txtAutoComplete"
                    style="font-size: 12px;" class="form-control txtControlCss" list="DataSetList" />
                <datalist id="DataSetList">
                    <option *ngFor="let data of this.dataset_list; let i=index">{{data.dataSetName}}</option>
                </datalist>
                <div *ngIf="this.IsData " class="text-danger">
                    <label *ngIf="IsData && this.testSuiteId>0">Please enter the dataset name</label>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="text-center col-md-12">
            <button type="button" (click)="createTestdata('create')" class="btn saveBtnCss">Create
                Test Data</button>&nbsp;
            <button type="button" (click)="createTestdata('view')" class="btn saveBtnCss">View
                Test Data</button>&nbsp;
                <label *ngIf="this.isCopyData ">
            <button type="button" (click)="copyDataSet()" class="btn saveBtnCss" >Copy
                    Test Data</button>&nbsp;    </label>
        </div>
    </div>
</div>
<div *ngIf="this.Test_steps_iterations.length>0">
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12 no-pad-right text-right pr-0">
            <div class="searchMarginLeft">
                <div class="form-group">
                    <button type="button" (click)="Create_Iteration()" class="btn clearBtnCss btnIteration ">Add
                        Iteration</button>
                </div>
            </div>
        </div>
        <div class="outer" style="height:360px; overflow: auto;">
            <table class="table  table-hover table-sticky table-striped table-bordered dt" id="tblIterationData">
                <thead style="max-height: 20px;">
                    <tr>
                        <th class="headcol1 WrapInLine">
                            <span>Step No.</span>
                        </th>
                        <th class="headcol2 WrapInLine">
                            <span> Test Case</span>
                        </th>
                        <th class="headcol2 WrapInLine">
                            <span>Steps</span>
                        </th>
                        <th class="headcol3 WrapInLine backgroundColor">
                            <span>Keyword</span>
                        </th>
                        <th class="headcol4 WrapInLine backgroundColor">
                            <span>Element</span>
                        </th>
                        <th class="WrapInLine" *ngFor="let steps of this.No_of_col; let i=index">
                            <div style=" min-width: 100px"> Iteration{{this.Iterations_keys[i]}}
                                <label *ngIf="this.Admin == role  || this.Test_lead== role || this.Test_Mgr== role">
                                    <span style="float:right;">
                                       <a style="cursor: pointer;" (click)="deleteIteration(this.Iterations_keys[i])"> <img
                                           src="assets/images/trash.png"> </a>
                                   </span>
                               </label>
                            </div>
             
                        </th>
                        <th class="headcol2 WrapInLine backgroundColor" *ngIf="this.IsViewOnly==true">
                          <span>Created By</span>
                        </th>
                        <th class="headcol2 WrapInLine backgroundColor" *ngIf="this.IsViewOnly==true">
                          <span>Created On</span>
                        </th>
                        <th class="headcol2 WrapInLine backgroundColor" *ngIf="this.IsViewOnly==true">
                          <span>Modified By</span>
                        </th>
                        <th class="headcol2 WrapInLine backgroundColor" *ngIf="this.IsViewOnly==true">
                          <span>Modified On</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dt of  this.Test_steps_iterations; let p=index ;">
                        <td class="headcol1" id="{{dt.testStepId}}">
                            {{p+1}}
                        </td>
                        <td class="headcol2" id="{{dt.testCaseId}}">
                            {{ dt.testCaseName}}
                        </td>
                        <td [ngClass]="dt.testStepName.includes('Enter') ? 'highlightKeyword': 'headcol2'"  id="{{dt.testStepId}}" >
                            {{ dt.testStepName}}
                        </td>
                        <td class="headcol3" id="{{dt.keyword}}">
                            {{ dt.keyword}}
                        </td>
                        <td class="headcol4" id="{{dt.element}}">
                            {{ dt.element}}
                        </td>
                        <td style="word-wrap: break-word;" class="{{ this.Test_steps_iterations[p].isdataRequired==false ? 'datanot-req' : ''}}"
                            [style.background]="this.Test_steps_iterations[p].isdataRequired==false ? '#f2f2f2': 'white'"
                            [style.background]="dt.testStepName.includes('Enter') ? 'rgb(236, 120, 12)': 'white'"
                            [attr.contenteditable]="this.Test_steps_iterations[p].isdataRequired"
                            *ngFor="let coldt of  this.No_of_col; let i = index; ">


                            {{this.Test_steps_iterations[p]["Iteration"+ this.Iterations_keys[i]]}}
                        </td>
                        <td class="headcol2" id="{{dt.createdBy}}" *ngIf="this.IsViewOnly==true">
                          {{ dt.createdBy}}
                        </td>
                        <td class="headcol2" id="{{dt.createdOn}}" *ngIf="this.IsViewOnly==true">
                          {{ dt.createdOn}}
                        </td>
                        <td class="headcol2" id="{{dt.modifiedBy}}" *ngIf="this.IsViewOnly==true">
                          {{ dt.modifiedBy}}
                        </td>
                        <td class="headcol2" id="{{dt.modifiedOn}}" *ngIf="this.IsViewOnly==true">
                          {{ dt.modifiedOn}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-right no-pad-right">
            <div class="searchMarginLeft mt-2">
                <div class="form-group">
                    <button type="button" (click)="addDataSet()" class="btn btn saveBtnCss">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="this.Issteps==true">
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12 no-pad-right text-center">
            <div class="searchMarginLeft">
                <div class="form-group">
                    <span style="color: #cfbcbc;"> Steps are not available for this selected test case</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="this.IsViewData==true">
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12 no-pad-right text-center">
            <div class="searchMarginLeft">
                <div class="form-group">
                    <span style="color: #9c9494;"> Data is not available for this selected data set</span>
                </div>
            </div>
        </div>
    </div>
</div>
