<form [formGroup]="CapabilityForm" (ngSubmit)="saveCapability()">
    <div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Configuration / Capability</span></div>
    <div class="row marginCss paddingCss whiteBackgroundCss mt-2">
        <div class="col-md-12">
            <span class="heading"> Capability</span>
            <div class="text-center successMessage" *ngIf="this.successMessage">{{this.successMessage}}<b></b></div>
            <div class="text-center errorMessage" *ngIf="this.errorMessage">{{this.errorMessage}}</div><br>
        </div>

        <div class="col-md-10 offset-md-1">
            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="projectTypeId" class="txtControlLblCss">Project Type<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="projectTypeId"
                        (change)="changeProjectType($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.projectTypeId.errors }"
                        formControlName="projectTypeId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                            {{projectType.projectTypeName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.projectTypeId.errors" class="text-danger">
                        <label *ngIf="f.projectTypeId.errors.required">Please select the project type</label>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="platformId" class="txtControlLblCss">Platform/Browser<span>*</span></label>
                    <select class="form-control txtControlCss" style="font-size: 12px;" id="platformId" (change)="onPlatformchange($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.platformId.errors }" formControlName="platformId">
                        <option hidden value="" disabled selected>Select</option>
                        <option [value]="platform.platformId" *ngFor="let platform of this.platformList">
                            {{platform.platformName}}</option>
                    </select>
                    <div *ngIf="this.submitted && f.platformId.errors" class="text-danger">
                        <label *ngIf="f.platformId.errors.required">Please select the platform/browser</label>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label for="capabilityName" class="txtControlLblCss">Capability Name<span>*</span></label>
                    <input class="form-control txtControlCss" name="capabilityName"  (change)="changeData($event)" id="capabilityName" type="text"
                        formControlName="capabilityName"
                        [ngClass]="{ 'is-invalid': submitted && f.capabilityName.errors }"
                       >
                    <div *ngIf="this.submitted && f.capabilityName.errors" class="text-danger">
                        <label *ngIf="f.capabilityName.hasError('whitespace') || f.capabilityName.errors.required">Please enter the capability name</label>
                    </div>
                </div>

            </div>

            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="capabilityDesc" class="txtControlLblCss">Description</label>
                    <textarea id="capabilityDesc" title="Max 255 characters" maxlength="255" name="capabilityDesc"
                        class="form-control textareaControls" rows="2" formControlName="capabilityDesc">
                   </textarea>
                </div>

                <div class="form-group col-md-4" style="margin-top: 40px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="form-control  custom-control-input" id="chkMandatory"
                            name="mandatory" formControlName="mandatory"
                            >
                        <label class="custom-control-label" for="chkMandatory">Mandatory</label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-md-12">
                <button type="submit" class="btn saveBtnCss mr-2">Save</button>
                <button type="button" class="btn clearBtnCss" (click)="clearData(0)">Reset</button>
            </div>
        </div>
    </div>
</form>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-right">
        <div class="form-group">
            <div class="input-group searchMarginLeft">
                    <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" placeholder="Search capability name" >
                    <div class="input-group-append" >
                      <button class="btn btn-secondary" type="button" id="searchicon" >
                        <i class="fa fa-search" id="searchicon"></i>
                      </button>
                    </div>
            </div>
        </div>
    </div>
    <div style="width: 100% !important; height:500px !important; overflow:auto;">
        <table id="capabilityTable" width="100%" *ngIf="this.CapabilityList !=null" class="table table-hover table-sticky table-striped table-bordered">
            <colgroup>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('projectTypeName')">
                        <span>Project Type &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('platformName')">
                        <span>Platform Name &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th style="cursor: pointer;" class="WrapInLine" (click)="sortTable('capabilityName')">
                        <span>Capability Name &nbsp;</span>
                        <div class="inlineImages my-auto">
                            <img src="assets/images/up.png">
                            <img src="assets/images/down.png">
                        </div>
                    </th>
                    <th class="WrapInLine">Description</th>
                    <th class="WrapInLine">Mandatory</th>
                    <th class="WrapInLine">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="( this.CapabilityList | filter : txtSearch) as result">
            <tr *ngFor = "let capability of result" >
                <td>{{capability.projectTypeName}}</td>
                <td>{{capability.platformName}}</td>
                <td>{{capability.capabilityName}}</td>
                <td>{{capability.capabilityDesc}}</td>
                <td>{{(capability.mandatory == true ? "Yes" : "No")}}</td>
                <td class="WrapInLine">
                    <a  title="Edit capability" (click)="getCapabilityById(capability.capabilityId)">
                        <img src="assets/images/edit.png"></a>&nbsp;
                    <a  title="Delete capability" (click)="deleteCapability(capability.capabilityId)">
                        <img src="assets/images/trash.png"></a>
                </td>
            </tr>
            <tr id="notFoundDiv" *ngIf="result.length === 0" style="font-weight: bold">
                <td colspan=6 style="text-align: center;">No Records Found</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>