@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@font-face {
  font-family: Open Sans;
  src: url(../../../../assets/fonts/open-sans/OpenSans-Regular.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}
body {
  background: #1C8EF9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: Open Sans;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 700;
  font-size: 14px !important;
  font-family: Open Sans;
}
.btn-block {
  display: block;
  width: 100%;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}
.align-center{
  text-align: center !important;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
  font-family: Open Sans;
  font-size: 12px;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 12px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}


.forgot-password a {
  color: #167bff;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  .form-control{
    font-size: 14px !important;
    font-weight: 500 !important;
    height:35px !important;
  }
  .form-group{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 40px !important;
    width: 90%;
    max-width: 360px;
    position: relative;
    padding: 0px;
    margin-top:7%;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    /* text-align: center; */
  }
  .logoImg{
       text-align: center; 
      margin-bottom: 20px;
  }
  .logo{
      height:50px;
      width:auto;

  }