<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="logoImg">
      <img src="assets/images/logo.png" id="icon" class="logo" alt="Icon" />
      <h3 style="margin-top: 20px;">PRODIGIO</h3>
    </div>
    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="center">


      <div className="form-group">
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>

      <div className="form-group">
        <label>Password</label>
        <div class="input-group">
          <!-- Change input type to be able to accept dynamic data -->
          <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa" [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }" (click)="toggleFieldTextType()"></i>
            </span>
          </div>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
      </div>
      <div class="form-check mt-2">
        <input type="checkbox" class="form-check-input"   (change)="checkValue($event)" id="rememberme">
        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary btn-block">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
      </div>
    </form>
  </div>
</div>
