.timeTxt {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
.dateTxt {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #192b49;
}
.statusTerminateBtnReportCss {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.reportUp {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #27ae60;
}

.reportDown {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #eb5757;
}

.failedBtn {
  border: 1px solid #db3b21;
  color: #db3b21;
  font-size: 12px;
}

.passedBtn {
  border: 1px solid #1aaa55;
  color: #1aaa55;
  font-size: 12px;
}

/* //---Added by Akash */
.incompleteBtn {
  border: 1px solid #f2994a;
  color: #f2994a;
  font-size: 12px;
}
.runningBtn {
  border: 1px solid #1f78d1;
  color: #1f78d1;
  font-size: 12px;
}

.statusVericalCss {
  vertical-align: bottom;
}

.filterTxt {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
.marginTop10Align {
  margin-top: 10px;
  /* text-align: center; */
}
.txt-color {
  color: #012f60;
}
.fontStyleBold {
  font-weight: bold;
}
.searchMarginLeft {
  margin-left: 100px;
  margin-right: 0px;
}

.out {
  display: none;
}

.in {
  display: table-row;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: url(../../../../assets/images/expand.png);
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.childTable {
  /* margin-left: 50%; */
  margin-bottom: 20px;
  /* width: 60%; */
  height: 80px;
  left: 100px;
  top: 421px;

  border: 1px solid rgb(197, 197, 197);
}
.childTable td {
  width: 500px;
}

.even {
  background-color: #ffffff !important;
}
.odd {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.addBtnPopupCss {
  border: 2px solid #1f83fe !important;
  box-sizing: border-box !important;
  border-radius: 3px !important;
  width: 74px !important;
  height: 35px !important;
  color: #1f83fe !important;
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  background-color: #ffffff !important;
}

.btn-add {
  height: 32px !important;
}
