<!-- The Create Template Modal -->
<form [formGroup]="capabilitytemplateForm" (ngSubmit)="savecapabilityTemplate()">
  <div class="modal" style="overflow-y: scroll;" id="createTemplateModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="headerModal commonBorderBottom marginLeftRightCss row mt-2 pt-2">
          <div class="ml-3">
            <h4 class="popupTitleTxt">Capability Template</h4>
          </div>
          <div class="ml-auto mr-3">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
        </div>
        <div class="col-md-12 ">
          <!-- <div class="text-center errorMessage headermsg" *ngIf="this.msg_capTemplate">
            {{this.msg_capTemplate}}</div> -->
          <!-- <div class="text-center errorMessage headermsg" *ngIf="this.addCapSuccess">{{this.addCapSuccess}}
          </div> -->
        </div>
        <!-- Modal body -->
        <div class="modal-body">
           <div class="text-danger text-center errorMessage" *ngIf="this.errorMessage">Capability Template Name
            is already
            in use.</div>
          <div class="text-danger text-center errorMessage" *ngIf="this.capabilityError ">{{this.capabilityError}}</div>
          <div class="form-group paddingLeftCss col-md-5">
            <label for="templateName" class="dropLableCss">Template Name <span>*</span></label>
            <input type="text" (change)="checkDuplication()"
                   class="form-control mt-2" [ngClass]="{ 'is-invalid': submitted && f.templateName.errors }"
                   style="font-size: 12px;" name="templateName" formControlName="templateName"
                   id="templateName" placeholder="Enter Name">
            <div *ngIf="this.submitted && f.templateName.errors" class="text-danger">
              <label *ngIf="f.templateName.errors.required">Please enter template name</label>
            </div>
          </div>
        </div>
        <div class="row col-md-12 paddingRightCss">
          <div class="col-md-5">
            <span class="dropLableCss">Capability</span>
          </div>
          <div class="col-md-5 ml-2">
            <span class="dropLableCss">Value</span>
          </div>
          <div class=" ml-auto" *ngIf="this.IsEdit==true">
            <button type="button" class="btn btn-primary addBtnPopupCss btn-add"
                    (click)="addcapabilityRow()"><img class="mr-1" src="assets/images/add.png">Add</button>
          </div>
        </div>
        <div formArrayName="capabilityIdValuesViews">
          <div class="paddingRightCss row col-md-12 form-group"
               *ngFor="let item of capabilityIdValuesViews.controls;  let pointIndex=index"
               [formGroupName]="pointIndex">
            <div class="form-group col-md-5 " >
              <select class="form-control txtControlCss mt-2"
                      [ngClass]="{ 'is-invalid': submitted && item.get('capabilityId').errors?.required  }"
                      (change)="onSelectionChange($event, pointIndex)" style="font-size: 12px;"
                      name="capabilityId_{{pointIndex}}"  id="capabilityId_{{pointIndex}}" formControlName="capabilityId"
                      >
                <option hidden value="0" disabled selected>Select</option>
                <option [value]="capabilities.capabilityId"
                        *ngFor="let capabilities of this.allCapabilityList">
                  {{capabilities.capabilityName}}</option>
              </select>
              <div *ngIf="this.submitted && item.get('capabilityId').errors?.required "
                   class="text-danger">
                <label *ngIf="item.get('capabilityId').errors?.required ">Please select the
                  capability</label>
              </div>

            </div>
            <div class="form-group col-md-5" >
              <input type="text" class="form-control  mt-2" style="font-size: 12px;"
                     [ngClass]="{ 'is-invalid': submitted && item.get('capabilityValue').errors?.required  }"
                     formControlName="capabilityValue" name="capabilityValue_{{pointIndex}}" id="capabilityValue_{{pointIndex}}"
                     placeholder="Enter Value">
              
              <div *ngIf="this.submitted && item.get('capabilityValue').errors?.required "
                   class="text-danger">
                <label *ngIf="item.get('capabilityValue').errors?.required ">Please enter capability
                  value</label>
              </div>
            </div>
            <div class="marginTop10 col-md-1" *ngIf="this.IsEdit==true">
              <a><img (click)=" deleteCapabilityRow(pointIndex)" src="assets/images/trash.png"></a>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="mt-5 pb-2 ml-auto mr-3 form-group" *ngIf="this.IsEdit==true">
          <button type="button" *ngIf="!this.isEditable" (click)="clear()"
                  class="btn btn-primary clearBtnPopupCss mr-2">Reset</button>
          <button type="submit" *ngIf="!this.isEditable" class="btn btn-primary saveBtnPopupCss">Save</button>
          <button type="submit" *ngIf="this.isEditable"
                  class="btn btn-primary saveBtnPopupCss">Update</button>
        </div>

      </div>
    </div>
  </div>
</form>
<div class="row marginCss mt-2"> <span class="breadcrumCss">Home /Configuration /Capability Template</span></div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
    <div class="col-md-12 paddingLeftCss">
        <span class="heading">Capability Template</span>
    </div>

    <div class="col-md-8"></div>
    <div class="col-md-2 text-right p-0">
        <div class="col-md-12 form-group p-0">
            <div class="input-group">
                <input type="text" class="form-control searchInput" [(ngModel)]="txtSearch" name="jobName"
                    placeholder="Search Capability Template by name">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="searchicon">
                        <i class="fa fa-search" id="searchicon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100% !important; height:500px !important; overflow:auto;">
        <table id="capabilityTemplateTable" width="100%" class="table table-hover table-sticky table-striped table-bordered">
            <colgroup>
                <col>
                <col>
            </colgroup>
            <thead class="marginTop10Align txt-color ">
                <tr>
                    <th class="WrapInLine" (click)="sortTable('capabilityTemplateName')">
                        <span>Capability Template Name &nbsp;</span>
                    </th>
                    <th class="WrapInLine">
                        <span>Action&nbsp;</span>
                    </th>
                </tr>
            </thead>
            <tbody class="marginTop10Align" *ngIf="( this.capabilityTemplateList | filter : txtSearch) as result">
                <ng-container *ngFor="let capabilityTemplate of result | orderBy:'capabilityTemplateName'; let index=index;let odd=odd; let even=even ;">
                    <tr data-toggle="modal" data-target="#historyTestSuiteTemplateModal"
                        [ngClass]="{ odd: odd, even: even }">
                        <td>
                            <div class="marginTop10Align">
                                {{capabilityTemplate.capabilityTemplateName}}
                            </div>
                        </td>
                      <td class="WrapInLine">
                        <a (click)="getTemplateByName(capabilityTemplate.capabilityTemplateName, false)"
                           title="View Capability Template"><img
                          src="assets/images/eye.png"></a>&nbsp;
                        <a *ngIf="this.Admin == role || this.Test_Mgr== role" title="Edit Capability Template" (click)="getTemplateByName(capabilityTemplate.capabilityTemplateName, true)">
                          <img src="assets/images/edit.png"></a>&nbsp;
                        <a *ngIf="this.Admin == role || this.Test_Mgr== role" title="Delete Capability Template" (click)="deleteCapabilityTemplate(capabilityTemplate.capabilityTemplateName)">
                          <img src="assets/images/trash.png"></a>&nbsp;
                      </td>
                    </tr>
                </ng-container>
                <tr id="notFoundDiv" *ngIf="result.length === 0" style=" font-weight: bold">
                    <td colspan=10 style="text-align: center;">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>
