$wtaf-black-primary: mat-palette($mat-grey, 700, 300, 900);
$wtaf-black-accent: mat-palette($mat-blue-grey, 400);
$wtaf-black-warn: mat-palette($mat-red, 500);

$wtaf-black-theme: mat-dark-theme(
  $wtaf-black-primary,
  $wtaf-black-accent,
  $wtaf-black-warn
);
