$wtaf-primary: mat-palette($mat-indigo, 800, 300, 900);
$wtaf-accent: mat-palette($mat-light-blue);
$wtaf-warn: mat-palette($mat-pink, 600);

$wtaf-theme: mat-light-theme($wtaf-primary, $wtaf-accent, $wtaf-warn);
