$wtaf-light-primary: mat-palette($mat-grey, 200, 500, 300);
$wtaf-light-accent: mat-palette($mat-brown, 200);
$wtaf-light-warn: mat-palette($mat-deep-orange, 200);

$wtaf-light-theme: mat-light-theme(
  $wtaf-light-primary,
  $wtaf-light-accent,
  $wtaf-light-warn
);
