$wtaf-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$wtaf-nature-accent: mat-palette($mat-deep-purple, 300);
$wtaf-nature-warn: mat-palette($mat-red, 600);

$wtaf-nature-theme: mat-light-theme(
  $wtaf-nature-primary,
  $wtaf-nature-accent,
  $wtaf-nature-warn
);
