<div class="row marginCss mt-2"> <span class="breadcrumCss">Home / Dashboard</span></div>
<div class="row marginCss paddingCss whiteBackgroundCss mt-2">
  <div class="col-md-12 pl-4">
    <p class="heading">Dashboard</p>
    


  </div>
  <div class="row col-md-12 pl-4">
    <!-- Test execution trend  -->
    <div class="col-md-6">
      <div class="col-md-12 border border-dark " style="padding:10px;">
        <wtaf-test-execution-trend></wtaf-test-execution-trend>
      </div>
    </div>

    <!-- Test Execution Failure -->
    <div class="col-md-6 border border-dark" style="padding:10px;">
      <wtaf-test-suite-status></wtaf-test-suite-status>
    </div>

    <!-- Test Suite Pass % -->
    <div class="col-md-6 mt-3">
      <div class="col-md-12 border border-dark " style="padding:10px;">
        <div class="row">
          <div class="form-group col-md-6 ">
            <select class="txtControlCss col-md-12" id="3" >
              <option value="0" disabled selected>Project Type</option>
              <option [value]="projectType.projectTypeId" *ngFor="let projectType of this.projectTypeList">
                {{projectType.projectTypeName}}</option>
            </select>
          </div>

          <div class="form-group col-md-6 ">
            <select class="txtControlCss col-md-12" id="regionId3">
              <option value="0" disabled selected>Region</option>
              <option [value]="region.regionId3" *ngFor="let region of this.regionList3">
                {{region.regionCode}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6 ">
            <select class="txtControlCss  col-md-12" id="Project">
              <option value="0" disabled selected>Product Name</option>
              <option *ngFor="let allProjName of this.allProjectName; let i=index">{{allProjName.projectName}}
              </option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <select class="txtControlCss  col-md-12" id="ENV" style="font-size: 12px;">
              <option value="0" disabled selected>ENV</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <select class="txtControlCss col-md-12" id="PLATFORM" style="font-size: 12px;">
              <option value="0" disabled selected>PLATFORM</option>
              <option>Android</option>
              <option>iOS</option>
              <option>Both</option>

            </select>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <select class="txtControlCss col-md-12" id="PLATFORM" style="font-size: 12px;">
              <option value="0" disabled selected>Test Suite</option>
              <!-- <option>Android</option>
              <option>iOS</option>
              <option>Both</option> -->

            </select>
          </div>

        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="regionId" class="txtControlLblCss">From<span>*</span></label>
            <div class="exmp-wrp " style="margin-left:2px;">
              <div class="input-group btn-wrp">
                <input type="date" class="btn-clck " id="testSuitePassFromDate" name="testSuitePassFromDate"
                  [(ngModel)]="testSuitePassFromDate"  placeholder="From">
              </div>
              <span class="input-group-btn ">
                <button class="btn1  " type="text"><span class="paddingLefiRightCalender"><img
                      src="assets/images/calendarr.png"></span></button>
              </span>
            </div>
          </div>

          <div class="col-md-6">
            <label for="regionId" class="txtControlLblCss">To<span>*</span></label>
            <div class="exmp-wrp " style="margin-left:2px;">
              <div class="input-group btn-wrp">
                <input type="date" class="btn-clck " id="testSuitePassToDate" [(ngModel)]="testSuitePassToDate"
                   name="testSuitePassToDate" placeholder="From">
              </div>
              <span class="input-group-btn ">
                <button class="btn1  " type="text"><span class="paddingLefiRightCalender"><img
                      src="assets/images/calendarr.png"></span></button>
              </span>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end col-md-12 mt-4 p-0">
          <button type="button" class="btn runBtnCss">Run</button>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <span class="txt-color col-md-12" style="font-weight: 600;"> Test Suite Pass % </span>
          </div>
          <div class="txt-color col-md-6">
            <span style="margin: 10px; align-items: flex-end;"> Global : Product 12 </span>
          </div>

        </div>
        <!-- class= border border-dark -->
        <div class="chart-container  col-md-12 mt-2 ">

          <canvas id="Line"></canvas>
          <!-- <highcharts-chart
          [Highcharts] = "highcharts" 
          [options] = "chartOptions" 
          style = "width: 100%; height: 400px; display: block;">
       </highcharts-chart> -->
        </div>
      </div>
    </div>

    <!-- Test Suite Execution Time Trend        -->
    <div class="col-md-6 border border-dark mt-3" style="padding:10px;">
      <wtaf-test-suite-execution-time-trend></wtaf-test-suite-execution-time-trend>
    </div>

    <!-- Test Suite Execution Time Trend        -->
    <div class="col-md-6">
    <div class="col-md-12 border border-dark mt-3" style="padding:10px;">
      <wtaf-monthly-execution-status></wtaf-monthly-execution-status>
    </div>
  </div>

    <!-- Test Suite Execution Time according product        -->
    <div class="col-md-6 p-0">
      <div class="col-md-12 border border-dark mt-3" style="padding:10px;">
        <wtaf-execution-time-widget></wtaf-execution-time-widget>
      </div>
    </div>

    <div class="paddingRightOpx col-md-12 mt-2">
      <wtaf-all-count></wtaf-all-count>
    </div>
</div>