.txtControlCss1 {
    background: #FFFFFF !important;
    border: 1px solid #8291A5 !important;
    width: auto;
    box-sizing: border-box !important;
    border-radius: 3px !important;
    height: auto !important;
    color: #012F60;
    margin: 2px;
  
  }
  


  
  .txt-color
  {
    color: #012F60;
    
  }
  .bsDatepicker 
{
 height: 10px;
 width: 10px;
 font-size: 5px;
}
.exmp-wrp 
{
  position: relative;
 }
.btn-wrp {
  display: inline-block;
  position: relative;
  z-index: 10;
}
.btn-clck {
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background: transparent;
  width: 100%;
  padding-right: 0.50rem;
  padding-left: 0.30rem;
  display: block;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: .10rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
}
.btn-clck::-webkit-calendar-picker-indicator {
  right: -0px;
  position: absolute;
  color: rgba(204, 204, 204, 0);
  opacity: 0
}
.btn-clck::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.btn-clck::-webkit-clear-button {
  margin-right:20px;
}
.btn1 {
  height: 100%;
  padding: 0px;
  position: absolute;
  right: 0;
}

.border 
{
  border: #012F60 solid 1px !important;
}
  .table-bordered 
   {
    border-color: #012F60 solid 1px  !important;
    margin-top: 10px;
  }

  .myTable td, .myTable th 
  { 
    padding:5px;border:1px solid #012F60 ;
    color: #012F60;
    text-align: center;
  
  }
  .myTable th 
  {
     background-color:#9fb0c3;color:#012F60; 
  }

  .paddingRightOpx
  {
    padding-right: 0px;
  }

  .paddingLefiRightCalender
  {
    padding-left: 5px;
    padding-right: 5px;
  }

  .runBtnCss {
    background-color: #1F83FE !important;
    border-radius: 3px !important;
    width: 100px !important;
    height: 35px !important;
    color: #FFFFFF !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 12px !important;
  }


.notify-badge{
    position: absolute;
    /* right:-20px; */
    top:40px;
    background:rgb(56, 37, 160);
    text-align: center;
    border-radius: 50%;
    color:white;
    padding:5px 10px;
    font-size:14px;
}
